Repository open-telemetry/opentelemetry-ruby, pull requests merged in 2024-08, with the labels that each got.

#1603 feat: add basic periodic exporting metric_reader
  metrics_sdk/lib/opentelemetry/sdk/metrics/export.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/export/in_memory_metric_pull_exporter.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/export/periodic_metric_reader.rb
  metrics_sdk/test/integration/periodic_metric_reader_test.rb
Labels: metrics, keep

#1670 feat: initialize metrics exporter http gem
  .toys/.data/releases.yml
  examples/metrics_sdk/metrics_collect_otlp.rb
  exporter/otlp-metrics/README.md
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/metrics_exporter.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/util.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/version.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics_exporter.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/util.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp_metrics.rb
  exporter/otlp-metrics/opentelemetry-exporter-otlp-metrics.gemspec
  exporter/otlp-metrics/test/opentelemetry/exporter/otlp/metrics_exporter_test.rb
Labels: metrics

#1698 chore: Loosen metrics gems versions on otlp exporter
  exporter/otlp-metrics/opentelemetry-exporter-otlp-metrics.gemspec
Labels: metrics

#1687 feat: Add console and in-memory log exporters
  logs_sdk/lib/opentelemetry/sdk/logs/export.rb
  logs_sdk/lib/opentelemetry/sdk/logs/export/console_log_record_exporter.rb
  logs_sdk/lib/opentelemetry/sdk/logs/export/in_memory_log_record_exporter.rb
  logs_sdk/test/opentelemetry/sdk/logs/export/console_log_record_exporter_test.rb
  logs_sdk/test/opentelemetry/sdk/logs/export/in_memory_log_record_exporter_test.rb
Labels: logs

#1683 Rubocop on metrics
  exporter/otlp-metrics/.rubocop.yml
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/metrics_exporter.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/util.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics_exporter.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/util.rb
  metrics_api/lib/opentelemetry/metrics/instrument/counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/histogram.rb
  metrics_api/lib/opentelemetry/metrics/instrument/up_down_counter.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/instrument/histogram.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/instrument/up_down_counter.rb
Labels: metrics
