Repository open-telemetry/opentelemetry-ruby, pull requests merged in 2024-10, with the labels that each got.

#1730 test: Fix intermittent logs test failures
  logs_sdk/test/opentelemetry/sdk/logs/export/batch_log_record_processor_test.rb
Labels: logs

#1696 feat: Add log record attribute limits
  logs_sdk/lib/opentelemetry/sdk/logs.rb
  logs_sdk/lib/opentelemetry/sdk/logs/log_record.rb
  logs_sdk/lib/opentelemetry/sdk/logs/log_record_limits.rb
  logs_sdk/lib/opentelemetry/sdk/logs/logger_provider.rb
  logs_sdk/test/opentelemetry/sdk/logs/log_record_limits_test.rb
  logs_sdk/test/opentelemetry/sdk/logs/log_record_test.rb
  logs_sdk/test/opentelemetry/sdk/logs/logger_provider_test.rb
Labels: logs

#1712 fix: add mTLS for metrics exporter
  exporter/otlp-metrics/README.md
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/metrics_exporter.rb
  exporter/otlp-metrics/lib/opentelemetry/exporter/otlp/metrics/util.rb
  exporter/otlp-metrics/test/opentelemetry/exporter/otlp/metrics/metrics_exporter_test.rb
  exporter/otlp-metrics/test/opentelemetry/exporter/otlp/metrics/mtls-client-a.pem
  exporter/otlp-metrics/test/opentelemetry/exporter/otlp/metrics/mtls-client-b.pem
Labels: metrics

#1693 ci: Add conventional commits validation
  .commit-me.json
  .github/workflows/conventional-commits.yml
Labels: ci

#1741 fix: Coerce aggregation_temporality value to a symbol
  metrics_sdk/lib/opentelemetry/sdk/metrics/aggregation/explicit_bucket_histogram.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/aggregation/sum.rb
  metrics_sdk/test/opentelemetry/sdk/metrics/aggregation/explicit_bucket_histogram_test.rb
  metrics_sdk/test/opentelemetry/sdk/metrics/aggregation/sum_test.rb
Labels: metrics

#1735 feat: Update Instrument validation and move to SDK
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/test/opentelemetry/metrics/meter_test.rb
  metrics_sdk/lib/opentelemetry/sdk/metrics/meter.rb
  metrics_sdk/test/opentelemetry/sdk/metrics/meter_test.rb
Labels: metrics

#1734 fix: add warning if invalid meter name given
  metrics_sdk/lib/opentelemetry/sdk/metrics/meter_provider.rb
Labels: metrics
