Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

trim trailing whitespace
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Feat: add `with_attributes` context propagation for mysql2 instrumentation (#1175)
  instrumentation/mysql2/CHANGELOG.md
  instrumentation/mysql2/README.md
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

handle exception in call_pipelined better
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

rejigger conditional
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

change context keys for CURRENT_ATTRIBUTES_HASH
  common/lib/opentelemetry/common/http/client_context.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

cop
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

appease cop
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

clarify comment
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

simplify retrieved_value_size
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

comments
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add hset
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

reply -> value
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

rubocop
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update common/lib/opentelemetry/common/http/client_context.rb
  common/lib/opentelemetry/common/http/client_context.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-registry 0.1.0
  opentelemetry-registry/v0.1.0/OpenTelemetry.html
  opentelemetry-registry/v0.1.0/OpenTelemetry/Instrumentation.html
  opentelemetry-registry/v0.1.0/OpenTelemetry/Instrumentation/Registry.html
  opentelemetry-registry/v0.1.0/_index.html
  opentelemetry-registry/v0.1.0/class_list.html
  opentelemetry-registry/v0.1.0/css/common.css
  opentelemetry-registry/v0.1.0/css/full_list.css
  opentelemetry-registry/v0.1.0/css/style.css
  opentelemetry-registry/v0.1.0/file.CHANGELOG.html
  opentelemetry-registry/v0.1.0/file.README.html
  opentelemetry-registry/v0.1.0/file_list.html
  opentelemetry-registry/v0.1.0/frames.html
  opentelemetry-registry/v0.1.0/index.html
  opentelemetry-registry/v0.1.0/js/app.js
  opentelemetry-registry/v0.1.0/js/full_list.js
  opentelemetry-registry/v0.1.0/js/jquery.js
  opentelemetry-registry/v0.1.0/method_list.html
  opentelemetry-registry/v0.1.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: Use Registry Gem
  instrumentation/base/lib/opentelemetry-instrumentation-base.rb
  instrumentation/base/lib/opentelemetry/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/registry.rb
  instrumentation/base/opentelemetry-instrumentation-base.gemspec
  instrumentation/base/test/instrumentation/registry_test.rb
  instrumentation/base/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: SDK references
  instrumentation/base/lib/opentelemetry-instrumentation-base.rb
  instrumentation/base/lib/opentelemetry/instrumentation.rb
  sdk/Gemfile
  sdk/lib/opentelemetry/sdk.rb
  sdk/opentelemetry-sdk.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: fix sdk tests
  sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: fix koala references
  instrumentation/koala/lib/opentelemetry/instrumentation.rb
  instrumentation/koala/test/instrumentation/koala/instrumentation_test.rb
  instrumentation/koala/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add appraisals for redis 4.2-4.6 (#1181)
  instrumentation/redis/Appraisals
  instrumentation/redis/gemfiles/redis_4.0.gemfile
  instrumentation/redis/gemfiles/redis_4.2.gemfile
  instrumentation/redis/gemfiles/redis_4.3.gemfile
  instrumentation/redis/gemfiles/redis_4.4.gemfile
  instrumentation/redis/gemfiles/redis_4.5.gemfile
  instrumentation/redis/gemfiles/redis_4.6.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: fix rack test
  instrumentation/rack/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: fix sinatra
  instrumentation/sinatra/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

run instrumentation generator
  .toys/.data/releases.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/elasticsearch/.rubocop.yml
  instrumentation/elasticsearch/.yardopts
  instrumentation/elasticsearch/Appraisals
  instrumentation/elasticsearch/CHANGELOG.md
  instrumentation/elasticsearch/Gemfile
  instrumentation/elasticsearch/LICENSE
  instrumentation/elasticsearch/README.md
  instrumentation/elasticsearch/Rakefile
  instrumentation/elasticsearch/lib/opentelemetry-instrumentation-elasticsearch.rb
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation.rb
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation/elasticsearch.rb
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation/elasticsearch/instrumentation.rb
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation/elasticsearch/version.rb
  instrumentation/elasticsearch/opentelemetry-instrumentation-elasticsearch.gemspec
  instrumentation/elasticsearch/test/.rubocop.yml
  instrumentation/elasticsearch/test/opentelemetry/instrumentation/elasticsearch/instrumentation_test.rb
  instrumentation/elasticsearch/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

refactor: make Context keys more specific for CURRENT_ATTRIBUTES_HASH (#1186)
  common/lib/opentelemetry/common/http/client_context.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip
  docker-compose.yml
  instrumentation/elasticsearch/Appraisals
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation/elasticsearch/instrumentation.rb
  instrumentation/elasticsearch/lib/opentelemetry/instrumentation/patches/client.rb
  instrumentation/elasticsearch/opentelemetry-instrumentation-elasticsearch.gemspec
  instrumentation/elasticsearch/test/opentelemetry/instrumentation/elasticsearch/instrumentation_test.rb
  instrumentation/elasticsearch/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-active_record 0.3.0
  instrumentation/active_record/CHANGELOG.md
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Release config for test helpers
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

whitespace
  .toys/refresh_appraisals.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Updates opentelemetry-collector docker image
  examples/otel-collector/.env
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Release config for test helpers (#1191)
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Updates opentelemetry-collector docker image (#1193)
  examples/otel-collector/.env
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-test-helpers 0.1.0
  test_helpers/CHANGELOG.md
  test_helpers/lib/opentelemetry/test_helpers/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 6 gems
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
  instrumentation/action_pack/CHANGELOG.md
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/version.rb
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
  instrumentation/faraday/CHANGELOG.md
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/version.rb
  instrumentation/rails/CHANGELOG.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/version.rb
  instrumentation/rdkafka/CHANGELOG.md
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add test for queued commands
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-rdkafka 0.1.0
  instrumentation/rdkafka/CHANGELOG.md
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Add rdkafka to all
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

only run test for multiple hash values if hset accepts multiple hash values
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-mysql2 0.20.1
  instrumentation/mysql2/CHANGELOG.md
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Add rdkafka to all (#1201)
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-test-helpers 0.1.0
  opentelemetry-test-helpers/v0.1.0/OpenTelemetry.html
  opentelemetry-test-helpers/v0.1.0/OpenTelemetry/TestHelpers.html
  opentelemetry-test-helpers/v0.1.0/_index.html
  opentelemetry-test-helpers/v0.1.0/class_list.html
  opentelemetry-test-helpers/v0.1.0/css/common.css
  opentelemetry-test-helpers/v0.1.0/css/full_list.css
  opentelemetry-test-helpers/v0.1.0/css/style.css
  opentelemetry-test-helpers/v0.1.0/file.CHANGELOG.html
  opentelemetry-test-helpers/v0.1.0/file.README.html
  opentelemetry-test-helpers/v0.1.0/file_list.html
  opentelemetry-test-helpers/v0.1.0/frames.html
  opentelemetry-test-helpers/v0.1.0/index.html
  opentelemetry-test-helpers/v0.1.0/js/app.js
  opentelemetry-test-helpers/v0.1.0/js/full_list.js
  opentelemetry-test-helpers/v0.1.0/js/jquery.js
  opentelemetry-test-helpers/v0.1.0/method_list.html
  opentelemetry-test-helpers/v0.1.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
