Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

fix: handle otlp exporter race condition gzip errors with retry
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

This change fixes the Jaeger collector endpoint in the otlp exporter docs for #378
  exporter/jaeger/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Docs: add aliases
  website_docs/_index.md
Owners: @signalfx/docs

fix: handle otlp exporter race condition gzip errors with retry (#983)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Adds version appraisal
  instrumentation/rdkafka/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Tweak sentence and simplify reference markdown syntax
  website_docs/_index.md
Owners: @signalfx/docs

Copyedit
  website_docs/_index.md
Owners: @signalfx/docs

fix: Add Support fo OTTrace Bit Encoded Sampled Flags
  propagator/ottrace/README.md
  propagator/ottrace/lib/opentelemetry/propagator/ottrace/text_map_propagator.rb
  propagator/ottrace/test/opentelemetry/propagator/ottrace/text_map_propagator_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix the default endpoint in Jaeger docs
  exporter/jaeger/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

This change fixes the Jaeger collector endpoint in the otlp exporter docs for #378 (#986)
  exporter/jaeger/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: active support instrumentation
  .toys/.data/releases.yml
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/opentelemetry-instrumentation-action_view.gemspec
  instrumentation/active_support/.rubocop.yml
  instrumentation/active_support/.yardopts
  instrumentation/active_support/Appraisals
  instrumentation/active_support/CHANGELOG.md
  instrumentation/active_support/Gemfile
  instrumentation/active_support/LICENSE
  instrumentation/active_support/README.md
  instrumentation/active_support/Rakefile
  instrumentation/active_support/example/Gemfile
  instrumentation/active_support/example/trace_demonstration.rb
  instrumentation/active_support/gemfiles/rails_5.2.gemfile
  instrumentation/active_support/gemfiles/rails_6.0.gemfile
  instrumentation/active_support/gemfiles/rails_6.1.gemfile
  instrumentation/active_support/lib/opentelemetry-instrumentation-active_support.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/span_subscriber.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/version.rb
  instrumentation/active_support/opentelemetry-instrumentation-active_support.gemspec
  instrumentation/active_support/test/.rubocop.yml
  instrumentation/active_support/test/opentelemetry/instrumentation/active_support/instrumentation_test.rb
  instrumentation/active_support/test/opentelemetry/instrumentation/active_support/span_subscriber_test.rb
  instrumentation/active_support/test/test_helper.rb
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rails/Gemfile
  instrumentation/rails/lib/opentelemetry/instrumentation/rails.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update instrumentation/active_support/opentelemetry-instrumentation-active_support.gemspec
  instrumentation/active_support/opentelemetry-instrumentation-active_support.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Docs: add aliases (#987)
  website_docs/_index.md
Owners: @signalfx/docs

fix: add minimum version
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

[Instruentation Rack] Log content type http header
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: [Instruentation Rack] Log content type http header (#992)
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

adds description in README
  instrumentation/rdkafka/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: add default options config helper and env var config option support, update mysql2 to use new format
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
  instrumentation/mysql2/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update all.rb
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Extra safety to finish spans just when already started
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/easy.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Use safe navigation
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/easy.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Typhoeus::Hydra compatibility when over max concurrency
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/multi.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Added test to reflect the needs to monkey patch `add`
  instrumentation/ethon/test/opentelemetry/instrumentation/ethon/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Skip actual url to not query the actual host
  instrumentation/ethon/test/opentelemetry/instrumentation/ethon/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: Add unexpected error handling in BSP and OTLP exporter
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: simplify error reporting
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add otlp exporter handling tests
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Add Support fo OTTrace Bit Encoded Sampled Flags (#990)
  propagator/ottrace/README.md
  propagator/ottrace/lib/opentelemetry/propagator/ottrace/text_map_propagator.rb
  propagator/ottrace/test/opentelemetry/propagator/ottrace/text_map_propagator_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add bsp unexpected error handling tests
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
  sdk/test/opentelemetry/sdk/trace/export/batch_span_processor_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: appease the cop
  sdk/test/opentelemetry/sdk/trace/export/batch_span_processor_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: Add unexpected error handlign in BSP and OTLP exporter (#995)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
  sdk/test/opentelemetry/sdk/trace/export/batch_span_processor_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 2 gems
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
  sdk/CHANGELOG.md
  sdk/lib/opentelemetry/sdk/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-propagator-ottrace 0.19.3
  propagator/ottrace/CHANGELOG.md
  propagator/ottrace/lib/opentelemetry/propagator/ottrace/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: change net attribute names in net_http instrumentation to match spec
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/test/opentelemetry/instrumentation/net/http/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: change net attribute names to match specification
  common/README.md
  exporter/zipkin/lib/opentelemetry/exporter/zipkin/transformer.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/connection.rb
  instrumentation/http/test/instrumentation/http/patches/client_test.rb
  instrumentation/http/test/instrumentation/http/patches/connection_test.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/test/instrumentation/http_client/patches/client_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add files not staged in previous commit
  common/README.md
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: change net attribute names to match spec in zipkin exporter
  exporter/zipkin/lib/opentelemetry/exporter/zipkin/transformer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add missing changelog entries
  exporter/otlp/CHANGELOG.md
  sdk/CHANGELOG.md
Owners: @signalfx/docs

fix: change net attribute names to match the semantic conventions spec for http (#999)
  common/README.md
  exporter/zipkin/lib/opentelemetry/exporter/zipkin/transformer.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/connection.rb
  instrumentation/http/test/instrumentation/http/patches/client_test.rb
  instrumentation/http/test/instrumentation/http/patches/connection_test.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/test/instrumentation/http_client/patches/client_test.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/test/opentelemetry/instrumentation/net/http/instrumentation_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
