Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

wip: better
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat!: add option for db.statement (#894)
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: fix tests
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add pry-byebug for tests (#896)
  instrumentation/mysql2/opentelemetry-instrumentation-mysql2.gemspec
  instrumentation/mysql2/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add support for graphql errors (#876)
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Add reference to otel versioning / stability doc
  README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: Update to semantic conventions v1.6.0
  semantic_conventions/Rakefile
  semantic_conventions/lib/opentelemetry/semantic_conventions/resource.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/trace.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Update to semantic conventions v1.6.0 (#901)
  semantic_conventions/Rakefile
  semantic_conventions/lib/opentelemetry/semantic_conventions/resource.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/trace.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Add reference to otel versioning / stability doc (#900)
  README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: rails instrumentation to not explicitly install sub gems
  instrumentation/action_pack/README.md
  instrumentation/rails/README.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/instrumentation.rb
  instrumentation/rails/test/opentelemetry/instrumentation/rails/instrumentation_test.rb
  instrumentation/rails/test/test_helper.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-semantic_conventions 2.0.0
  semantic_conventions/CHANGELOG.md
  semantic_conventions/lib/opentelemetry/semantic_conventions/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rails instrumentation to not explicitly install sub gems (#895)
  instrumentation/action_pack/README.md
  instrumentation/rails/README.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/instrumentation.rb
  instrumentation/rails/test/opentelemetry/instrumentation/rails/instrumentation_test.rb
  instrumentation/rails/test/test_helper.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip wip wip
  instrumentation/mongo/Gemfile
  instrumentation/mongo/gemfiles/mongo_2.13.gemfile
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/subscriber.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
  instrumentation/mongo/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

better wip
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add db_statement option
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/pg/test/opentelemetry/instrumentation/pg/instrumentation_test.rb
  instrumentation/pg/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

better wip
  instrumentation/mongo/Gemfile
  instrumentation/mongo/Rakefile
  instrumentation/mongo/gemfiles/mongo_2.13.gemfile
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/subscriber.rb
  instrumentation/mongo/opentelemetry-instrumentation-mongo.gemspec
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
  instrumentation/mongo/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add db_statement option for mongo (#897)
  instrumentation/mongo/Rakefile
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/subscriber.rb
  instrumentation/mongo/opentelemetry-instrumentation-mongo.gemspec
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
  instrumentation/mongo/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

simplify
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: move to using new db_statement
  instrumentation/mysql2/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

docs:
  instrumentation/pg/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

chore: fix ci flake
  sdk/test/opentelemetry/sdk/trace/tracer_provider_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: fix ci flake (#907)
  sdk/test/opentelemetry/sdk/trace/tracer_provider_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: flakey mongo test
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: flakey mongo test (#908)
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo/subscriber_test.rb
  instrumentation/mongo/test/opentelemetry/instrumentation/mongo_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add db_statement toggle for postgres (#905)
  instrumentation/pg/README.md
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/pg/test/opentelemetry/instrumentation/pg/instrumentation_test.rb
  instrumentation/pg/test/test_helper.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: move to using new db_statement (#906)
  instrumentation/mysql2/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Fix: changelog notes
  api/CHANGELOG.md
  instrumentation/rails/CHANGELOG.md
  sdk/CHANGELOG.md
Owners: @signalfx/docs

fix: test ci error, pin toys
  .github/workflows/release-retry.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: test ci error, pin toys (#910)
  .github/workflows/release-retry.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: gracefully flush provider on sidekiq shutdown event
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rack middleware assuming script_name presence
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Revert pin of toys
  .github/workflows/release-retry.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Revert pin of toys (#916)
  .github/workflows/release-retry.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: trace update_all and delete_all calls in ActiveRecord
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/relation_persistence.rb
  instrumentation/active_record/test/instrumentation/active_record/patches/relation_persistence_test.rb
  instrumentation/active_record/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rack middleware assuming script_name presence
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rack middleware assuming script_name presence (#915)
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-rack 0.19.2
  instrumentation/rack/CHANGELOG.md
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rack 0.19.2
  404.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack/Middlewares.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack/Util.html
  opentelemetry-instrumentation-rack/v0.19.2/OpenTelemetry/Instrumentation/Rack/Util/QueueTime.html
  opentelemetry-instrumentation-rack/v0.19.2/_index.html
  opentelemetry-instrumentation-rack/v0.19.2/class_list.html
  opentelemetry-instrumentation-rack/v0.19.2/css/common.css
  opentelemetry-instrumentation-rack/v0.19.2/css/full_list.css
  opentelemetry-instrumentation-rack/v0.19.2/css/style.css
  opentelemetry-instrumentation-rack/v0.19.2/file.CHANGELOG.html
  opentelemetry-instrumentation-rack/v0.19.2/file.README.html
  opentelemetry-instrumentation-rack/v0.19.2/file_list.html
  opentelemetry-instrumentation-rack/v0.19.2/frames.html
  opentelemetry-instrumentation-rack/v0.19.2/index.html
  opentelemetry-instrumentation-rack/v0.19.2/js/app.js
  opentelemetry-instrumentation-rack/v0.19.2/js/full_list.js
  opentelemetry-instrumentation-rack/v0.19.2/js/jquery.js
  opentelemetry-instrumentation-rack/v0.19.2/method_list.html
  opentelemetry-instrumentation-rack/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
