Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Generate yardocs for opentelemetry-instrumentation-excon 0.19.3
  404.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry/Instrumentation/Excon.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry/Instrumentation/Excon/Instrumentation.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry/Instrumentation/Excon/Middlewares.html
  opentelemetry-instrumentation-excon/v0.19.3/OpenTelemetry/Instrumentation/Excon/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-excon/v0.19.3/_index.html
  opentelemetry-instrumentation-excon/v0.19.3/class_list.html
  opentelemetry-instrumentation-excon/v0.19.3/css/common.css
  opentelemetry-instrumentation-excon/v0.19.3/css/full_list.css
  opentelemetry-instrumentation-excon/v0.19.3/css/style.css
  opentelemetry-instrumentation-excon/v0.19.3/file.CHANGELOG.html
  opentelemetry-instrumentation-excon/v0.19.3/file.README.html
  opentelemetry-instrumentation-excon/v0.19.3/file_list.html
  opentelemetry-instrumentation-excon/v0.19.3/frames.html
  opentelemetry-instrumentation-excon/v0.19.3/index.html
  opentelemetry-instrumentation-excon/v0.19.3/js/app.js
  opentelemetry-instrumentation-excon/v0.19.3/js/full_list.js
  opentelemetry-instrumentation-excon/v0.19.3/js/jquery.js
  opentelemetry-instrumentation-excon/v0.19.3/method_list.html
  opentelemetry-instrumentation-excon/v0.19.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-faraday 0.19.3
  404.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday/Instrumentation.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday/Middlewares.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday/Patches.html
  opentelemetry-instrumentation-faraday/v0.19.3/OpenTelemetry/Instrumentation/Faraday/Patches/RackBuilder.html
  opentelemetry-instrumentation-faraday/v0.19.3/_index.html
  opentelemetry-instrumentation-faraday/v0.19.3/class_list.html
  opentelemetry-instrumentation-faraday/v0.19.3/css/common.css
  opentelemetry-instrumentation-faraday/v0.19.3/css/full_list.css
  opentelemetry-instrumentation-faraday/v0.19.3/css/style.css
  opentelemetry-instrumentation-faraday/v0.19.3/file.CHANGELOG.html
  opentelemetry-instrumentation-faraday/v0.19.3/file.README.html
  opentelemetry-instrumentation-faraday/v0.19.3/file_list.html
  opentelemetry-instrumentation-faraday/v0.19.3/frames.html
  opentelemetry-instrumentation-faraday/v0.19.3/index.html
  opentelemetry-instrumentation-faraday/v0.19.3/js/app.js
  opentelemetry-instrumentation-faraday/v0.19.3/js/full_list.js
  opentelemetry-instrumentation-faraday/v0.19.3/js/jquery.js
  opentelemetry-instrumentation-faraday/v0.19.3/method_list.html
  opentelemetry-instrumentation-faraday/v0.19.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-mongo 0.18.4
  404.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry/Instrumentation/Mongo.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry/Instrumentation/Mongo/CommandSerializer.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry/Instrumentation/Mongo/Instrumentation.html
  opentelemetry-instrumentation-mongo/v0.18.4/OpenTelemetry/Instrumentation/Mongo/Subscriber.html
  opentelemetry-instrumentation-mongo/v0.18.4/_index.html
  opentelemetry-instrumentation-mongo/v0.18.4/class_list.html
  opentelemetry-instrumentation-mongo/v0.18.4/css/common.css
  opentelemetry-instrumentation-mongo/v0.18.4/css/full_list.css
  opentelemetry-instrumentation-mongo/v0.18.4/css/style.css
  opentelemetry-instrumentation-mongo/v0.18.4/file.CHANGELOG.html
  opentelemetry-instrumentation-mongo/v0.18.4/file.README.html
  opentelemetry-instrumentation-mongo/v0.18.4/file_list.html
  opentelemetry-instrumentation-mongo/v0.18.4/frames.html
  opentelemetry-instrumentation-mongo/v0.18.4/index.html
  opentelemetry-instrumentation-mongo/v0.18.4/js/app.js
  opentelemetry-instrumentation-mongo/v0.18.4/js/full_list.js
  opentelemetry-instrumentation-mongo/v0.18.4/js/jquery.js
  opentelemetry-instrumentation-mongo/v0.18.4/method_list.html
  opentelemetry-instrumentation-mongo/v0.18.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-pg 0.19.2
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG/Constants.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG/Instrumentation.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG/LruCache.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG/Patches.html
  opentelemetry-instrumentation-pg/v0.19.2/OpenTelemetry/Instrumentation/PG/Patches/Connection.html
  opentelemetry-instrumentation-pg/v0.19.2/_index.html
  opentelemetry-instrumentation-pg/v0.19.2/class_list.html
  opentelemetry-instrumentation-pg/v0.19.2/css/common.css
  opentelemetry-instrumentation-pg/v0.19.2/css/full_list.css
  opentelemetry-instrumentation-pg/v0.19.2/css/style.css
  opentelemetry-instrumentation-pg/v0.19.2/file.CHANGELOG.html
  opentelemetry-instrumentation-pg/v0.19.2/file.README.html
  opentelemetry-instrumentation-pg/v0.19.2/file_list.html
  opentelemetry-instrumentation-pg/v0.19.2/frames.html
  opentelemetry-instrumentation-pg/v0.19.2/index.html
  opentelemetry-instrumentation-pg/v0.19.2/js/app.js
  opentelemetry-instrumentation-pg/v0.19.2/js/full_list.js
  opentelemetry-instrumentation-pg/v0.19.2/js/jquery.js
  opentelemetry-instrumentation-pg/v0.19.2/method_list.html
  opentelemetry-instrumentation-pg/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-restclient 0.19.3
  404.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry/Instrumentation/RestClient.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry/Instrumentation/RestClient/Instrumentation.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry/Instrumentation/RestClient/Patches.html
  opentelemetry-instrumentation-restclient/v0.19.3/OpenTelemetry/Instrumentation/RestClient/Patches/Request.html
  opentelemetry-instrumentation-restclient/v0.19.3/_index.html
  opentelemetry-instrumentation-restclient/v0.19.3/class_list.html
  opentelemetry-instrumentation-restclient/v0.19.3/css/common.css
  opentelemetry-instrumentation-restclient/v0.19.3/css/full_list.css
  opentelemetry-instrumentation-restclient/v0.19.3/css/style.css
  opentelemetry-instrumentation-restclient/v0.19.3/file.CHANGELOG.html
  opentelemetry-instrumentation-restclient/v0.19.3/file.README.html
  opentelemetry-instrumentation-restclient/v0.19.3/file_list.html
  opentelemetry-instrumentation-restclient/v0.19.3/frames.html
  opentelemetry-instrumentation-restclient/v0.19.3/index.html
  opentelemetry-instrumentation-restclient/v0.19.3/js/app.js
  opentelemetry-instrumentation-restclient/v0.19.3/js/full_list.js
  opentelemetry-instrumentation-restclient/v0.19.3/js/jquery.js
  opentelemetry-instrumentation-restclient/v0.19.3/method_list.html
  opentelemetry-instrumentation-restclient/v0.19.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-ruby_kafka 0.18.5
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka/Patches.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka/Patches/Client.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka/Patches/Consumer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/OpenTelemetry/Instrumentation/RubyKafka/Patches/Producer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/_index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/class_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/css/common.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/css/full_list.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/css/style.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/file.CHANGELOG.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/file.README.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/file_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/frames.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/js/app.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/js/full_list.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/js/jquery.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/method_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.5/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-sidekiq 0.20.2
  404.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Middlewares.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Patches.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Patches/Launcher.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Patches/Poller.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/OpenTelemetry/Instrumentation/Sidekiq/Patches/Processor.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/_index.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/class_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/css/common.css
  opentelemetry-instrumentation-sidekiq/v0.20.2/css/full_list.css
  opentelemetry-instrumentation-sidekiq/v0.20.2/css/style.css
  opentelemetry-instrumentation-sidekiq/v0.20.2/file.CHANGELOG.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/file.README.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/file_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/frames.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/index.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/js/app.js
  opentelemetry-instrumentation-sidekiq/v0.20.2/js/full_list.js
  opentelemetry-instrumentation-sidekiq/v0.20.2/js/jquery.js
  opentelemetry-instrumentation-sidekiq/v0.20.2/method_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

bumps versions in gemspec
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: update dalli instrumentation to support v3.1 new pipeline getter method
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/utils.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: linting for dalli 3.1 fix
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/utils.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: add missing require for aws_sdk in instrumentation all
  instrumentation/all/Gemfile
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: update dalli instrumentation to support v3.1 pipeline_get method (#1051)
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/utils.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs(redis instrumentation): Use latest options in readme
  instrumentation/redis/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Fix: add missing require for aws_sdk in instrumentation all (#1054)
  instrumentation/all/Gemfile
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Cleanup doc
  instrumentation/redis/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

doc(redis instrumentation): Use latest options in readme (#1058)
  instrumentation/redis/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add autoinstrumentation docs + reorder some pages
  website_docs/automatic_instrumentation.md
  website_docs/context_propagation.md
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

revert page weighting and make the page about configuration
  website_docs/configuring_automatic_instrumentation.md
  website_docs/context_propagation.md
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

whoopsie
  website_docs/getting_started.md
Owners: @signalfx/docs

Be explicit about current span in manual instrumentation doc
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Update website_docs/manual_instrumentation.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Apply suggestions from code review
  website_docs/configuring_automatic_instrumentation.md
Owners: @signalfx/docs

Changes as per review feedback
  website_docs/configuring_automatic_instrumentation.md
  website_docs/getting_started.md
Owners: @signalfx/docs

use 'phone_number' instead of real phone number
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

uninstrument v2.0
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add config inject_messaging_context
  instrumentation/aws_sdk/README.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add MessageAttributeGetter example
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/message_attributes.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

don't include message keys that aren't valid utf8
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/client.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/consumer.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/utils.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/client_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/consumer_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/utils_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Don't error on non-string/utf8 kafka message keys
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/client.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/consumer.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/utils.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/client_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/consumer_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/utils_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

link fixes
  website_docs/configuring_automatic_instrumentation.md
  website_docs/getting_started.md
Owners: @signalfx/docs

feat: Add Trilogy Auto Instrumentation
  .github/workflows/ci-without-services.yml
  .toys/.data/releases.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/trilogy/.rubocop.yml
  instrumentation/trilogy/.yardopts
  instrumentation/trilogy/Appraisals
  instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/Gemfile
  instrumentation/trilogy/LICENSE
  instrumentation/trilogy/README.md
  instrumentation/trilogy/Rakefile
  instrumentation/trilogy/lib/opentelemetry-instrumentation-trilogy.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/instrumentation.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
  instrumentation/trilogy/opentelemetry-instrumentation-trilogy.gemspec
  instrumentation/trilogy/test/.rubocop.yml
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
  instrumentation/trilogy/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: Bump version to give room for internal releases
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Allow OTLP Exporter compression value of `none`
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Linter
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

re-add support for aws-sdk v2.0.x
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

ignore rubocop RescueModifier issue
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: upgrade appraisals to rails 7
  instrumentation/action_pack/Appraisals
  instrumentation/action_view/Appraisals
  instrumentation/active_job/Appraisals
  instrumentation/active_support/Appraisals
  instrumentation/rails/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: rubocop, its always rubocop
  instrumentation/active_job/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: PR Feedback
  instrumentation/trilogy/lib/opentelemetry-instrumentation-trilogy.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/opentelemetry-instrumentation-trilogy.gemspec
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: PR Feedback
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/instrumentation.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
