Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

prune invalid links
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update sdk/test/opentelemetry/sdk/trace/span_test.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: shift would work
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add support for graphql errors
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add pry and pry-byebug to debug unit tests
  sdk/opentelemetry-sdk.gemspec
  sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

better?
  sdk/opentelemetry-sdk.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

better
  sdk/opentelemetry-sdk.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add pry to debug unit tests (#889)
  sdk/opentelemetry-sdk.gemspec
  sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: test variable names
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: fix tests to use head instead of tail when trimming links
  sdk/test/opentelemetry/sdk/trace/tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: prune invalid links (#888)
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
  sdk/test/opentelemetry/sdk/trace/tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: really verbose :(
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/test/instrumentation/graphql/tracers/graphql_tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @signalfx/docs

Add bug report template (#890)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @signalfx/docs

Update instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
  instrumentation/graphql/lib/opentelemetry/instrumentation/graphql/tracers/graphql_tracer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add toggle for dalli db.statement attribute
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test:
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: configure db.statement toggle
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/instrumentation.rb
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/patches/database.rb
  instrumentation/lmdb/test/instrumentation/lmdb/patches/database_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add configuration options for dalli (#891)
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add toggle for redis db.statement attribute
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test:
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: configure db.statement toggle (#892)
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/instrumentation.rb
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/patches/database.rb
  instrumentation/lmdb/test/instrumentation/lmdb/patches/database_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add examples
  instrumentation/action_pack/README.md
  instrumentation/action_pack/example/trace_demonstration.ru
  instrumentation/active_record/example/trace_demonstration.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: split out actionpack from rails gem
  .github/workflows/ci-without-services.yml
  .toys/.data/releases.yml
  instrumentation/action_pack/.rubocop.yml
  instrumentation/action_pack/.yardopts
  instrumentation/action_pack/Appraisals
  instrumentation/action_pack/CHANGELOG.md
  instrumentation/action_pack/Gemfile
  instrumentation/action_pack/LICENSE
  instrumentation/action_pack/README.md
  instrumentation/action_pack/Rakefile
  instrumentation/action_pack/gemfiles/rails_5.2.gemfile
  instrumentation/action_pack/gemfiles/rails_6.0.gemfile
  instrumentation/action_pack/gemfiles/rails_6.1.gemfile
  instrumentation/action_pack/lib/opentelemetry-instrumentation-action_pack.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/instrumentation.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/patches/action_controller/metal.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/railtie.rb
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/version.rb
  instrumentation/action_pack/opentelemetry-instrumentation-action_pack.gemspec
  instrumentation/action_pack/test/.rubocop.yml
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/instrumentation_test.rb
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/patches/action_controller/metal_test.rb
  instrumentation/action_pack/test/test_helper.rb
  instrumentation/action_pack/test/test_helpers/app_config.rb
  instrumentation/action_pack/test/test_helpers/controllers.rb
  instrumentation/action_pack/test/test_helpers/controllers/example_controller.rb
  instrumentation/action_pack/test/test_helpers/controllers/exceptions_controller.rb
  instrumentation/action_pack/test/test_helpers/middlewares.rb
  instrumentation/action_pack/test/test_helpers/middlewares/exception_raising_middleware.rb
  instrumentation/action_pack/test/test_helpers/middlewares/redirect_middleware.rb
  instrumentation/action_pack/test/test_helpers/routes.rb
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rails/lib/opentelemetry/instrumentation/rails.rb
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/instrumentation.rb
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
  instrumentation/rails/test/opentelemetry/instrumentation/rails/patches/action_controller/metal_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: add toggle for redis db.statement attribute (#893)
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add option for db.statement
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: support legacy flag
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add pry-byebug for tests
  instrumentation/mysql2/opentelemetry-instrumentation-mysql2.gemspec
  instrumentation/mysql2/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Remove unnecessary inclusion of pry in Gemfile test group
  instrumentation/grpc/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: slight refactor
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip;
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

additional test
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: log warning if enable_sql_obfuscation is supplied
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
