Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Generate yardocs for opentelemetry-instrumentation-http_client 0.19.4
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation/HttpClient.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation/HttpClient/Instrumentation.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation/HttpClient/Patches.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation/HttpClient/Patches/Client.html
  opentelemetry-instrumentation-http_client/v0.19.4/OpenTelemetry/Instrumentation/HttpClient/Patches/Session.html
  opentelemetry-instrumentation-http_client/v0.19.4/_index.html
  opentelemetry-instrumentation-http_client/v0.19.4/class_list.html
  opentelemetry-instrumentation-http_client/v0.19.4/css/common.css
  opentelemetry-instrumentation-http_client/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-http_client/v0.19.4/css/style.css
  opentelemetry-instrumentation-http_client/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-http_client/v0.19.4/file.README.html
  opentelemetry-instrumentation-http_client/v0.19.4/file_list.html
  opentelemetry-instrumentation-http_client/v0.19.4/frames.html
  opentelemetry-instrumentation-http_client/v0.19.4/index.html
  opentelemetry-instrumentation-http_client/v0.19.4/js/app.js
  opentelemetry-instrumentation-http_client/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-http_client/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-http_client/v0.19.4/method_list.html
  opentelemetry-instrumentation-http_client/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-ethon 0.19.4
  404.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation/Ethon.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation/Ethon/Instrumentation.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation/Ethon/Patches.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation/Ethon/Patches/Easy.html
  opentelemetry-instrumentation-ethon/v0.19.4/OpenTelemetry/Instrumentation/Ethon/Patches/Multi.html
  opentelemetry-instrumentation-ethon/v0.19.4/_index.html
  opentelemetry-instrumentation-ethon/v0.19.4/class_list.html
  opentelemetry-instrumentation-ethon/v0.19.4/css/common.css
  opentelemetry-instrumentation-ethon/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-ethon/v0.19.4/css/style.css
  opentelemetry-instrumentation-ethon/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-ethon/v0.19.4/file.README.html
  opentelemetry-instrumentation-ethon/v0.19.4/file_list.html
  opentelemetry-instrumentation-ethon/v0.19.4/frames.html
  opentelemetry-instrumentation-ethon/v0.19.4/index.html
  opentelemetry-instrumentation-ethon/v0.19.4/js/app.js
  opentelemetry-instrumentation-ethon/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-ethon/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-ethon/v0.19.4/method_list.html
  opentelemetry-instrumentation-ethon/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-excon 0.19.4
  404.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry/Instrumentation/Excon.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry/Instrumentation/Excon/Instrumentation.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry/Instrumentation/Excon/Middlewares.html
  opentelemetry-instrumentation-excon/v0.19.4/OpenTelemetry/Instrumentation/Excon/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-excon/v0.19.4/_index.html
  opentelemetry-instrumentation-excon/v0.19.4/class_list.html
  opentelemetry-instrumentation-excon/v0.19.4/css/common.css
  opentelemetry-instrumentation-excon/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-excon/v0.19.4/css/style.css
  opentelemetry-instrumentation-excon/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-excon/v0.19.4/file.README.html
  opentelemetry-instrumentation-excon/v0.19.4/file_list.html
  opentelemetry-instrumentation-excon/v0.19.4/frames.html
  opentelemetry-instrumentation-excon/v0.19.4/index.html
  opentelemetry-instrumentation-excon/v0.19.4/js/app.js
  opentelemetry-instrumentation-excon/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-excon/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-excon/v0.19.4/method_list.html
  opentelemetry-instrumentation-excon/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-faraday 0.20.0
  404.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday/Instrumentation.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday/Middlewares.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday/Patches.html
  opentelemetry-instrumentation-faraday/v0.20.0/OpenTelemetry/Instrumentation/Faraday/Patches/RackBuilder.html
  opentelemetry-instrumentation-faraday/v0.20.0/_index.html
  opentelemetry-instrumentation-faraday/v0.20.0/class_list.html
  opentelemetry-instrumentation-faraday/v0.20.0/css/common.css
  opentelemetry-instrumentation-faraday/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-faraday/v0.20.0/css/style.css
  opentelemetry-instrumentation-faraday/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-faraday/v0.20.0/file.README.html
  opentelemetry-instrumentation-faraday/v0.20.0/file_list.html
  opentelemetry-instrumentation-faraday/v0.20.0/frames.html
  opentelemetry-instrumentation-faraday/v0.20.0/index.html
  opentelemetry-instrumentation-faraday/v0.20.0/js/app.js
  opentelemetry-instrumentation-faraday/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-faraday/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-faraday/v0.20.0/method_list.html
  opentelemetry-instrumentation-faraday/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-net_http 0.19.4
  404.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP/Instrumentation.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP/Patches.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP/Patches/Instrumentation.html
  opentelemetry-instrumentation-net_http/v0.19.4/_index.html
  opentelemetry-instrumentation-net_http/v0.19.4/class_list.html
  opentelemetry-instrumentation-net_http/v0.19.4/css/common.css
  opentelemetry-instrumentation-net_http/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-net_http/v0.19.4/css/style.css
  opentelemetry-instrumentation-net_http/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-net_http/v0.19.4/file.README.html
  opentelemetry-instrumentation-net_http/v0.19.4/file_list.html
  opentelemetry-instrumentation-net_http/v0.19.4/frames.html
  opentelemetry-instrumentation-net_http/v0.19.4/index.html
  opentelemetry-instrumentation-net_http/v0.19.4/js/app.js
  opentelemetry-instrumentation-net_http/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-net_http/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-net_http/v0.19.4/method_list.html
  opentelemetry-instrumentation-net_http/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-redis 0.21.3
  404.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry/Instrumentation/Redis.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry/Instrumentation/Redis/Instrumentation.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry/Instrumentation/Redis/Patches.html
  opentelemetry-instrumentation-redis/v0.21.3/OpenTelemetry/Instrumentation/Redis/Patches/Client.html
  opentelemetry-instrumentation-redis/v0.21.3/_index.html
  opentelemetry-instrumentation-redis/v0.21.3/class_list.html
  opentelemetry-instrumentation-redis/v0.21.3/css/common.css
  opentelemetry-instrumentation-redis/v0.21.3/css/full_list.css
  opentelemetry-instrumentation-redis/v0.21.3/css/style.css
  opentelemetry-instrumentation-redis/v0.21.3/file.CHANGELOG.html
  opentelemetry-instrumentation-redis/v0.21.3/file.README.html
  opentelemetry-instrumentation-redis/v0.21.3/file_list.html
  opentelemetry-instrumentation-redis/v0.21.3/frames.html
  opentelemetry-instrumentation-redis/v0.21.3/index.html
  opentelemetry-instrumentation-redis/v0.21.3/js/app.js
  opentelemetry-instrumentation-redis/v0.21.3/js/full_list.js
  opentelemetry-instrumentation-redis/v0.21.3/js/jquery.js
  opentelemetry-instrumentation-redis/v0.21.3/method_list.html
  opentelemetry-instrumentation-redis/v0.21.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

[website_docs] fix broken links, file rename and copyedits
  website_docs/automatic.md
  website_docs/context-propagation.md
  website_docs/events.md
  website_docs/getting-started.md
  website_docs/manual.md
Owners: @signalfx/docs

fix: website docs broken links, file rename and copyedits (#1120)
  website_docs/automatic.md
  website_docs/context-propagation.md
  website_docs/events.md
  website_docs/getting-started.md
  website_docs/manual.md
Owners: @signalfx/docs

[website_docs] fix page meta-links
  website_docs/_index.md
Owners: @signalfx/docs

[website_docs] fix page meta-links (#1121)
  website_docs/_index.md
Owners: @signalfx/docs

[website_docs] Add aliases for pages that were renamed
  website_docs/automatic.md
  website_docs/context-propagation.md
  website_docs/getting-started.md
  website_docs/manual.md
Owners: @signalfx/docs

docs: fix exporter port in Jaeger exporter readme
  exporter/jaeger/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

docs: fix exporter port in Jaeger exporter readme (#1123)
  exporter/jaeger/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

[website_docs] Add aliases for pages that were renamed (#1122)
  website_docs/automatic.md
  website_docs/context-propagation.md
  website_docs/getting-started.md
  website_docs/manual.md
Owners: @signalfx/docs

use filtered path info as http.target
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/patches/action_controller/metal.rb
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/patches/action_controller/metal_test.rb
  instrumentation/action_pack/test/test_helpers/app_config.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

only change rack_span if recording
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/patches/action_controller/metal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

only set the filtered_path if doesn't match original
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/patches/action_controller/metal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: use rails request's filtered path as http.target attribute (#1125)
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/patches/action_controller/metal.rb
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/patches/action_controller/metal_test.rb
  instrumentation/action_pack/test/test_helpers/app_config.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add otlp_protocol and otlp_traces_protocol env var
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add protocol env var
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: authenticty_token issue when running rails app
  instrumentation/rails/example/trace_request_demonstration.ru
  instrumentation/rails/gemfiles/rails_7.0.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: code comments about future work for protocol env vars
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: code comment prettify
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Validate Using Enums
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/registry.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
  instrumentation/resque/lib/opentelemetry/instrumentation/resque/instrumentation.rb
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add hide_query_param option
  common/lib/opentelemetry/common/http.rb
  common/lib/opentelemetry/common/http/request_attributes.rb
  common/test/opentelemetry/common/request_attributes_test.rb
  instrumentation/faraday/Gemfile
  instrumentation/faraday/README.md
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/instrumentation.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/faraday/test/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware_test.rb
  instrumentation/http/Gemfile
  instrumentation/http/README.md
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http/test/instrumentation/http/patches/client_test.rb
  instrumentation/http_client/Gemfile
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/instrumentation.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/test/instrumentation/http_client/patches/client_test.rb
  instrumentation/net_http/README.md
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/instrumentation.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/test/opentelemetry/instrumentation/net/http/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

chore: newline
  common/lib/opentelemetry/common/http/request_attributes.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add semconv dependancy to common
  common/Gemfile
  common/opentelemetry-common.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: require semconv gem
  common/lib/opentelemetry/common.rb
  common/test/opentelemetry/common/request_attributes_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: rubocop
  common/test/opentelemetry/common/request_attributes_test.rb
  instrumentation/faraday/Gemfile
  instrumentation/http/Gemfile
  instrumentation/http_client/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Added Google Cloud Function Resource Detection
  resource_detectors/lib/opentelemetry/resource/detectors/google_cloud_platform.rb
  resource_detectors/test/opentelemetry/detectors/google_cloud_platform_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

check that variable is a string before truncating
  common/lib/opentelemetry/common/utilities.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

attributes: truncate strings in an attribute array if necessary
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test set_attribute with a float value and length limit configured
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

update changelogs for truncation type check and array support
  common/CHANGELOG.md
  sdk/CHANGELOG.md
Owners: @signalfx/docs

move attribute truncation that works on arrays to Utilities
  common/lib/opentelemetry/common/utilities.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix warning about Struct initialization in Ruby 3.2+
  sdk/test/opentelemetry/sdk/trace/export/console_span_exporter_test.rb
  sdk/test/opentelemetry/sdk/trace/export/in_memory_span_exporter_test.rb
  sdk/test/opentelemetry/sdk/trace/export/span_exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

disable BracesAroundHashParameters check in rubocop
  sdk/.rubocop.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: handle missing job metadata
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/base.rb
  instrumentation/active_job/test/instrumentation/active_job/patches/base_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: warning about Struct initialization in Ruby 3.2+ (#1141)
  sdk/.rubocop.yml
  sdk/test/opentelemetry/sdk/trace/export/console_span_exporter_test.rb
  sdk/test/opentelemetry/sdk/trace/export/in_memory_span_exporter_test.rb
  sdk/test/opentelemetry/sdk/trace/export/span_exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Added Google Cloud Function Resource Detection (#1137)
  resource_detectors/lib/opentelemetry/resource/detectors/google_cloud_platform.rb
  resource_detectors/test/opentelemetry/detectors/google_cloud_platform_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
