Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: let tooling do changelog
  sdk/CHANGELOG.md
Owners: @signalfx/docs

fix: do not replace fanout
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/fanout.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: jruby 9.3.0.0 ensure block is handled differently and leaks between tests
  api/test/opentelemetry/context_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add example and tests for Concurrent::Async
  instrumentation/concurrent_ruby/example/concurrent_ruby.rb
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

more hacky :(
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update bsp .shutdown return value (#960)
  api/test/opentelemetry/context_test.rb
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
  sdk/test/opentelemetry/sdk/trace/export/batch_span_processor_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

lint:
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

oopsie
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add example and tests for Concurrent::Async (#961)
  instrumentation/concurrent_ruby/example/concurrent_ruby.rb
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 4 gems
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
  instrumentation/active_record/CHANGELOG.md
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/version.rb
  instrumentation/concurrent_ruby/CHANGELOG.md
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/version.rb
  instrumentation/ruby_kafka/CHANGELOG.md
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 6 gems
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
  instrumentation/active_record/CHANGELOG.md
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/version.rb
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
  instrumentation/concurrent_ruby/CHANGELOG.md
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/version.rb
  instrumentation/rails/CHANGELOG.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/version.rb
  instrumentation/ruby_kafka/CHANGELOG.md
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: all and rails dependencies
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_record 0.2.0
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Persistence.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/RelationPersistence.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Validations.html
  opentelemetry-instrumentation-active_record/v0.2.0/_index.html
  opentelemetry-instrumentation-active_record/v0.2.0/class_list.html
  opentelemetry-instrumentation-active_record/v0.2.0/css/common.css
  opentelemetry-instrumentation-active_record/v0.2.0/css/full_list.css
  opentelemetry-instrumentation-active_record/v0.2.0/css/style.css
  opentelemetry-instrumentation-active_record/v0.2.0/file.CHANGELOG.html
  opentelemetry-instrumentation-active_record/v0.2.0/file.README.html
  opentelemetry-instrumentation-active_record/v0.2.0/file_list.html
  opentelemetry-instrumentation-active_record/v0.2.0/frames.html
  opentelemetry-instrumentation-active_record/v0.2.0/index.html
  opentelemetry-instrumentation-active_record/v0.2.0/js/app.js
  opentelemetry-instrumentation-active_record/v0.2.0/js/full_list.js
  opentelemetry-instrumentation-active_record/v0.2.0/js/jquery.js
  opentelemetry-instrumentation-active_record/v0.2.0/method_list.html
  opentelemetry-instrumentation-active_record/v0.2.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-otlp 0.20.4
  404.html
  opentelemetry-exporter-otlp/v0.20.4/OpenTelemetry.html
  opentelemetry-exporter-otlp/v0.20.4/OpenTelemetry/Exporter.html
  opentelemetry-exporter-otlp/v0.20.4/OpenTelemetry/Exporter/OTLP.html
  opentelemetry-exporter-otlp/v0.20.4/OpenTelemetry/Exporter/OTLP/Exporter.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Collector.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Collector/Trace.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Collector/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Common.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Common/V1.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Resource.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Resource/V1.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Trace.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry/Proto/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.4/Opentelemetry_.html
  opentelemetry-exporter-otlp/v0.20.4/_index.html
  opentelemetry-exporter-otlp/v0.20.4/class_list.html
  opentelemetry-exporter-otlp/v0.20.4/css/common.css
  opentelemetry-exporter-otlp/v0.20.4/css/full_list.css
  opentelemetry-exporter-otlp/v0.20.4/css/style.css
  opentelemetry-exporter-otlp/v0.20.4/file.CHANGELOG.html
  opentelemetry-exporter-otlp/v0.20.4/file.README.html
  opentelemetry-exporter-otlp/v0.20.4/file_list.html
  opentelemetry-exporter-otlp/v0.20.4/frames.html
  opentelemetry-exporter-otlp/v0.20.4/index.html
  opentelemetry-exporter-otlp/v0.20.4/js/app.js
  opentelemetry-exporter-otlp/v0.20.4/js/full_list.js
  opentelemetry-exporter-otlp/v0.20.4/js/jquery.js
  opentelemetry-exporter-otlp/v0.20.4/method_list.html
  opentelemetry-exporter-otlp/v0.20.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.21.1
  404.html
  opentelemetry-instrumentation-all/v0.21.1/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.21.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.21.1/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.21.1/_index.html
  opentelemetry-instrumentation-all/v0.21.1/class_list.html
  opentelemetry-instrumentation-all/v0.21.1/css/common.css
  opentelemetry-instrumentation-all/v0.21.1/css/full_list.css
  opentelemetry-instrumentation-all/v0.21.1/css/style.css
  opentelemetry-instrumentation-all/v0.21.1/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.21.1/file.README.html
  opentelemetry-instrumentation-all/v0.21.1/file_list.html
  opentelemetry-instrumentation-all/v0.21.1/frames.html
  opentelemetry-instrumentation-all/v0.21.1/index.html
  opentelemetry-instrumentation-all/v0.21.1/js/app.js
  opentelemetry-instrumentation-all/v0.21.1/js/full_list.js
  opentelemetry-instrumentation-all/v0.21.1/js/jquery.js
  opentelemetry-instrumentation-all/v0.21.1/method_list.html
  opentelemetry-instrumentation-all/v0.21.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-concurrent_ruby 0.19.0
  404.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry/Instrumentation/ConcurrentRuby.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry/Instrumentation/ConcurrentRuby/Instrumentation.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry/Instrumentation/ConcurrentRuby/Patches.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/OpenTelemetry/Instrumentation/ConcurrentRuby/Patches/ThreadPoolExecutor.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/_index.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/class_list.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/css/common.css
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/css/full_list.css
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/css/style.css
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/file.CHANGELOG.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/file.README.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/file_list.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/frames.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/index.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/js/app.js
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/js/full_list.js
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/js/jquery.js
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/method_list.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rails 0.19.2
  404.html
  opentelemetry-instrumentation-rails/v0.19.2/OpenTelemetry.html
  opentelemetry-instrumentation-rails/v0.19.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.2/OpenTelemetry/Instrumentation/Rails.html
  opentelemetry-instrumentation-rails/v0.19.2/OpenTelemetry/Instrumentation/Rails/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.2/_index.html
  opentelemetry-instrumentation-rails/v0.19.2/class_list.html
  opentelemetry-instrumentation-rails/v0.19.2/css/common.css
  opentelemetry-instrumentation-rails/v0.19.2/css/full_list.css
  opentelemetry-instrumentation-rails/v0.19.2/css/style.css
  opentelemetry-instrumentation-rails/v0.19.2/file.CHANGELOG.html
  opentelemetry-instrumentation-rails/v0.19.2/file.README.html
  opentelemetry-instrumentation-rails/v0.19.2/file_list.html
  opentelemetry-instrumentation-rails/v0.19.2/frames.html
  opentelemetry-instrumentation-rails/v0.19.2/index.html
  opentelemetry-instrumentation-rails/v0.19.2/js/app.js
  opentelemetry-instrumentation-rails/v0.19.2/js/full_list.js
  opentelemetry-instrumentation-rails/v0.19.2/js/jquery.js
  opentelemetry-instrumentation-rails/v0.19.2/method_list.html
  opentelemetry-instrumentation-rails/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-ruby_kafka 0.18.3
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka/Patches.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka/Patches/Client.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka/Patches/Consumer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/OpenTelemetry/Instrumentation/RubyKafka/Patches/Producer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/_index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/class_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/css/common.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/css/full_list.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/css/style.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/file.CHANGELOG.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/file.README.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/file_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/frames.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/js/app.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/js/full_list.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/js/jquery.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/method_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: bump dependencies for the release
  common/opentelemetry-common.gemspec
  exporter/jaeger/opentelemetry-exporter-jaeger.gemspec
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/zipkin/opentelemetry-exporter-zipkin.gemspec
  instrumentation/action_pack/opentelemetry-instrumentation-action_pack.gemspec
  instrumentation/active_job/opentelemetry-instrumentation-active_job.gemspec
  instrumentation/active_model_serializers/opentelemetry-instrumentation-active_model_serializers.gemspec
  instrumentation/active_record/opentelemetry-instrumentation-active_record.gemspec
  instrumentation/base/opentelemetry-instrumentation-base.gemspec
  instrumentation/bunny/opentelemetry-instrumentation-bunny.gemspec
  instrumentation/concurrent_ruby/opentelemetry-instrumentation-concurrent_ruby.gemspec
  instrumentation/dalli/opentelemetry-instrumentation-dalli.gemspec
  instrumentation/delayed_job/opentelemetry-instrumentation-delayed_job.gemspec
  instrumentation/ethon/opentelemetry-instrumentation-ethon.gemspec
  instrumentation/excon/opentelemetry-instrumentation-excon.gemspec
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
  instrumentation/graphql/opentelemetry-instrumentation-graphql.gemspec
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http_client/opentelemetry-instrumentation-http_client.gemspec
  instrumentation/koala/opentelemetry-instrumentation-koala.gemspec
  instrumentation/lmdb/opentelemetry-instrumentation-lmdb.gemspec
  instrumentation/mongo/opentelemetry-instrumentation-mongo.gemspec
  instrumentation/mysql2/opentelemetry-instrumentation-mysql2.gemspec
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/que/opentelemetry-instrumentation-que.gemspec
  instrumentation/rack/opentelemetry-instrumentation-rack.gemspec
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
  instrumentation/redis/opentelemetry-instrumentation-redis.gemspec
  instrumentation/resque/opentelemetry-instrumentation-resque.gemspec
  instrumentation/restclient/opentelemetry-instrumentation-restclient.gemspec
  instrumentation/ruby_kafka/opentelemetry-instrumentation-ruby_kafka.gemspec
  instrumentation/sidekiq/opentelemetry-instrumentation-sidekiq.gemspec
  instrumentation/sinatra/opentelemetry-instrumentation-sinatra.gemspec
  propagator/b3/opentelemetry-propagator-b3.gemspec
  propagator/jaeger/opentelemetry-propagator-jaeger.gemspec
  propagator/ottrace/opentelemetry-propagator-ottrace.gemspec
  propagator/xray/opentelemetry-propagator-xray.gemspec
  sdk/opentelemetry-sdk.gemspec
  semantic_conventions/opentelemetry-semantic_conventions.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: changelog
  api/CHANGELOG.md
  sdk/CHANGELOG.md
Owners: @signalfx/docs

wip: remove duplicate test
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: bump more deps
  exporter/jaeger/opentelemetry-exporter-jaeger.gemspec
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/zipkin/opentelemetry-exporter-zipkin.gemspec
  instrumentation/action_pack/opentelemetry-instrumentation-action_pack.gemspec
  instrumentation/action_view/opentelemetry-instrumentation-action_view.gemspec
  instrumentation/active_job/opentelemetry-instrumentation-active_job.gemspec
  instrumentation/active_model_serializers/opentelemetry-instrumentation-active_model_serializers.gemspec
  instrumentation/active_record/opentelemetry-instrumentation-active_record.gemspec
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/bunny/opentelemetry-instrumentation-bunny.gemspec
  instrumentation/concurrent_ruby/opentelemetry-instrumentation-concurrent_ruby.gemspec
  instrumentation/dalli/opentelemetry-instrumentation-dalli.gemspec
  instrumentation/delayed_job/opentelemetry-instrumentation-delayed_job.gemspec
  instrumentation/ethon/opentelemetry-instrumentation-ethon.gemspec
  instrumentation/excon/opentelemetry-instrumentation-excon.gemspec
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
  instrumentation/graphql/opentelemetry-instrumentation-graphql.gemspec
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http_client/opentelemetry-instrumentation-http_client.gemspec
  instrumentation/koala/opentelemetry-instrumentation-koala.gemspec
  instrumentation/lmdb/opentelemetry-instrumentation-lmdb.gemspec
  instrumentation/mongo/opentelemetry-instrumentation-mongo.gemspec
  instrumentation/mysql2/opentelemetry-instrumentation-mysql2.gemspec
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/que/opentelemetry-instrumentation-que.gemspec
  instrumentation/rack/opentelemetry-instrumentation-rack.gemspec
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
  instrumentation/redis/opentelemetry-instrumentation-redis.gemspec
  instrumentation/resque/opentelemetry-instrumentation-resque.gemspec
  instrumentation/restclient/opentelemetry-instrumentation-restclient.gemspec
  instrumentation/ruby_kafka/opentelemetry-instrumentation-ruby_kafka.gemspec
  instrumentation/sidekiq/opentelemetry-instrumentation-sidekiq.gemspec
  instrumentation/sinatra/opentelemetry-instrumentation-sinatra.gemspec
  sdk/opentelemetry-sdk.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_view 0.1.2
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation/ActionView.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation/ActionView/Fanout.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation/ActionView/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation/ActionView/Railtie.html
  opentelemetry-instrumentation-action_view/v0.1.2/OpenTelemetry/Instrumentation/ActionView/SpanSubscriber.html
  opentelemetry-instrumentation-action_view/v0.1.2/_index.html
  opentelemetry-instrumentation-action_view/v0.1.2/class_list.html
  opentelemetry-instrumentation-action_view/v0.1.2/css/common.css
  opentelemetry-instrumentation-action_view/v0.1.2/css/full_list.css
  opentelemetry-instrumentation-action_view/v0.1.2/css/style.css
  opentelemetry-instrumentation-action_view/v0.1.2/file.CHANGELOG.html
  opentelemetry-instrumentation-action_view/v0.1.2/file.README.html
  opentelemetry-instrumentation-action_view/v0.1.2/file_list.html
  opentelemetry-instrumentation-action_view/v0.1.2/frames.html
  opentelemetry-instrumentation-action_view/v0.1.2/index.html
  opentelemetry-instrumentation-action_view/v0.1.2/js/app.js
  opentelemetry-instrumentation-action_view/v0.1.2/js/full_list.js
  opentelemetry-instrumentation-action_view/v0.1.2/js/jquery.js
  opentelemetry-instrumentation-action_view/v0.1.2/method_list.html
  opentelemetry-instrumentation-action_view/v0.1.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_pack 0.1.1
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack/Patches.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController/Metal.html
  opentelemetry-instrumentation-action_pack/v0.1.1/OpenTelemetry/Instrumentation/ActionPack/Railtie.html
  opentelemetry-instrumentation-action_pack/v0.1.1/_index.html
  opentelemetry-instrumentation-action_pack/v0.1.1/class_list.html
  opentelemetry-instrumentation-action_pack/v0.1.1/css/common.css
  opentelemetry-instrumentation-action_pack/v0.1.1/css/full_list.css
  opentelemetry-instrumentation-action_pack/v0.1.1/css/style.css
  opentelemetry-instrumentation-action_pack/v0.1.1/file.CHANGELOG.html
  opentelemetry-instrumentation-action_pack/v0.1.1/file.README.html
  opentelemetry-instrumentation-action_pack/v0.1.1/file_list.html
  opentelemetry-instrumentation-action_pack/v0.1.1/frames.html
  opentelemetry-instrumentation-action_pack/v0.1.1/index.html
  opentelemetry-instrumentation-action_pack/v0.1.1/js/app.js
  opentelemetry-instrumentation-action_pack/v0.1.1/js/full_list.js
  opentelemetry-instrumentation-action_pack/v0.1.1/js/jquery.js
  opentelemetry-instrumentation-action_pack/v0.1.1/method_list.html
  opentelemetry-instrumentation-action_pack/v0.1.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_job 0.1.4
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation/ActiveJob.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation/ActiveJob/Instrumentation.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation/ActiveJob/Patches.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation/ActiveJob/Patches/ActiveJobCallbacks.html
  opentelemetry-instrumentation-active_job/v0.1.4/OpenTelemetry/Instrumentation/ActiveJob/Patches/Base.html
  opentelemetry-instrumentation-active_job/v0.1.4/_index.html
  opentelemetry-instrumentation-active_job/v0.1.4/class_list.html
  opentelemetry-instrumentation-active_job/v0.1.4/css/common.css
  opentelemetry-instrumentation-active_job/v0.1.4/css/full_list.css
  opentelemetry-instrumentation-active_job/v0.1.4/css/style.css
  opentelemetry-instrumentation-active_job/v0.1.4/file.CHANGELOG.html
  opentelemetry-instrumentation-active_job/v0.1.4/file.README.html
  opentelemetry-instrumentation-active_job/v0.1.4/file_list.html
  opentelemetry-instrumentation-active_job/v0.1.4/frames.html
  opentelemetry-instrumentation-active_job/v0.1.4/index.html
  opentelemetry-instrumentation-active_job/v0.1.4/js/app.js
  opentelemetry-instrumentation-active_job/v0.1.4/js/full_list.js
  opentelemetry-instrumentation-active_job/v0.1.4/js/jquery.js
  opentelemetry-instrumentation-active_job/v0.1.4/method_list.html
  opentelemetry-instrumentation-active_job/v0.1.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-resque 0.1.2
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque/Instrumentation.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque/Patches.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque/Patches/ResqueJob.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque/Patches/ResqueModule.html
  opentelemetry-instrumentation-resque/v0.1.2/OpenTelemetry/Instrumentation/Resque/Patches/ResqueModule/ClassMethods.html
  opentelemetry-instrumentation-resque/v0.1.2/_index.html
  opentelemetry-instrumentation-resque/v0.1.2/class_list.html
  opentelemetry-instrumentation-resque/v0.1.2/css/common.css
  opentelemetry-instrumentation-resque/v0.1.2/css/full_list.css
  opentelemetry-instrumentation-resque/v0.1.2/css/style.css
  opentelemetry-instrumentation-resque/v0.1.2/file.CHANGELOG.html
  opentelemetry-instrumentation-resque/v0.1.2/file.README.html
  opentelemetry-instrumentation-resque/v0.1.2/file_list.html
  opentelemetry-instrumentation-resque/v0.1.2/frames.html
  opentelemetry-instrumentation-resque/v0.1.2/index.html
  opentelemetry-instrumentation-resque/v0.1.2/js/app.js
  opentelemetry-instrumentation-resque/v0.1.2/js/full_list.js
  opentelemetry-instrumentation-resque/v0.1.2/js/jquery.js
  opentelemetry-instrumentation-resque/v0.1.2/method_list.html
  opentelemetry-instrumentation-resque/v0.1.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-bunny 0.18.3
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Instrumentation.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/PatchHelpers.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Patches.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Patches/Channel.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Patches/Consumer.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Patches/Queue.html
  opentelemetry-instrumentation-bunny/v0.18.3/OpenTelemetry/Instrumentation/Bunny/Patches/ReaderLoop.html
  opentelemetry-instrumentation-bunny/v0.18.3/_index.html
  opentelemetry-instrumentation-bunny/v0.18.3/class_list.html
  opentelemetry-instrumentation-bunny/v0.18.3/css/common.css
  opentelemetry-instrumentation-bunny/v0.18.3/css/full_list.css
  opentelemetry-instrumentation-bunny/v0.18.3/css/style.css
  opentelemetry-instrumentation-bunny/v0.18.3/file.CHANGELOG.html
  opentelemetry-instrumentation-bunny/v0.18.3/file.README.html
  opentelemetry-instrumentation-bunny/v0.18.3/file_list.html
  opentelemetry-instrumentation-bunny/v0.18.3/frames.html
  opentelemetry-instrumentation-bunny/v0.18.3/index.html
  opentelemetry-instrumentation-bunny/v0.18.3/js/app.js
  opentelemetry-instrumentation-bunny/v0.18.3/js/full_list.js
  opentelemetry-instrumentation-bunny/v0.18.3/js/jquery.js
  opentelemetry-instrumentation-bunny/v0.18.3/method_list.html
  opentelemetry-instrumentation-bunny/v0.18.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-base 0.18.3
  opentelemetry-instrumentation-base/v0.18.3/OpenTelemetry.html
  opentelemetry-instrumentation-base/v0.18.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-base/v0.18.3/OpenTelemetry/Instrumentation/Base.html
  opentelemetry-instrumentation-base/v0.18.3/OpenTelemetry/Instrumentation/Registry.html
  opentelemetry-instrumentation-base/v0.18.3/_index.html
  opentelemetry-instrumentation-base/v0.18.3/class_list.html
  opentelemetry-instrumentation-base/v0.18.3/css/common.css
  opentelemetry-instrumentation-base/v0.18.3/css/full_list.css
  opentelemetry-instrumentation-base/v0.18.3/css/style.css
  opentelemetry-instrumentation-base/v0.18.3/file.CHANGELOG.html
  opentelemetry-instrumentation-base/v0.18.3/file.README.html
  opentelemetry-instrumentation-base/v0.18.3/file_list.html
  opentelemetry-instrumentation-base/v0.18.3/frames.html
  opentelemetry-instrumentation-base/v0.18.3/index.html
  opentelemetry-instrumentation-base/v0.18.3/js/app.js
  opentelemetry-instrumentation-base/v0.18.3/js/full_list.js
  opentelemetry-instrumentation-base/v0.18.3/js/jquery.js
  opentelemetry-instrumentation-base/v0.18.3/method_list.html
  opentelemetry-instrumentation-base/v0.18.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_record 0.2.1
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Persistence.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/RelationPersistence.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.2.1/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Validations.html
  opentelemetry-instrumentation-active_record/v0.2.1/_index.html
  opentelemetry-instrumentation-active_record/v0.2.1/class_list.html
  opentelemetry-instrumentation-active_record/v0.2.1/css/common.css
  opentelemetry-instrumentation-active_record/v0.2.1/css/full_list.css
  opentelemetry-instrumentation-active_record/v0.2.1/css/style.css
  opentelemetry-instrumentation-active_record/v0.2.1/file.CHANGELOG.html
  opentelemetry-instrumentation-active_record/v0.2.1/file.README.html
  opentelemetry-instrumentation-active_record/v0.2.1/file_list.html
  opentelemetry-instrumentation-active_record/v0.2.1/frames.html
  opentelemetry-instrumentation-active_record/v0.2.1/index.html
  opentelemetry-instrumentation-active_record/v0.2.1/js/app.js
  opentelemetry-instrumentation-active_record/v0.2.1/js/full_list.js
  opentelemetry-instrumentation-active_record/v0.2.1/js/jquery.js
  opentelemetry-instrumentation-active_record/v0.2.1/method_list.html
  opentelemetry-instrumentation-active_record/v0.2.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-lmdb 0.19.1
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation/LMDB.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation/LMDB/Instrumentation.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation/LMDB/Patches.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation/LMDB/Patches/Database.html
  opentelemetry-instrumentation-lmdb/v0.19.1/OpenTelemetry/Instrumentation/LMDB/Patches/Environment.html
  opentelemetry-instrumentation-lmdb/v0.19.1/_index.html
  opentelemetry-instrumentation-lmdb/v0.19.1/class_list.html
  opentelemetry-instrumentation-lmdb/v0.19.1/css/common.css
  opentelemetry-instrumentation-lmdb/v0.19.1/css/full_list.css
  opentelemetry-instrumentation-lmdb/v0.19.1/css/style.css
  opentelemetry-instrumentation-lmdb/v0.19.1/file.CHANGELOG.html
  opentelemetry-instrumentation-lmdb/v0.19.1/file.README.html
  opentelemetry-instrumentation-lmdb/v0.19.1/file_list.html
  opentelemetry-instrumentation-lmdb/v0.19.1/frames.html
  opentelemetry-instrumentation-lmdb/v0.19.1/index.html
  opentelemetry-instrumentation-lmdb/v0.19.1/js/app.js
  opentelemetry-instrumentation-lmdb/v0.19.1/js/full_list.js
  opentelemetry-instrumentation-lmdb/v0.19.1/js/jquery.js
  opentelemetry-instrumentation-lmdb/v0.19.1/method_list.html
  opentelemetry-instrumentation-lmdb/v0.19.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-http 0.19.2
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation/HTTP.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation/HTTP/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation/HTTP/Patches.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation/HTTP/Patches/Client.html
  opentelemetry-instrumentation-http/v0.19.2/OpenTelemetry/Instrumentation/HTTP/Patches/Connection.html
  opentelemetry-instrumentation-http/v0.19.2/_index.html
  opentelemetry-instrumentation-http/v0.19.2/class_list.html
  opentelemetry-instrumentation-http/v0.19.2/css/common.css
  opentelemetry-instrumentation-http/v0.19.2/css/full_list.css
  opentelemetry-instrumentation-http/v0.19.2/css/style.css
  opentelemetry-instrumentation-http/v0.19.2/file.CHANGELOG.html
  opentelemetry-instrumentation-http/v0.19.2/file.README.html
  opentelemetry-instrumentation-http/v0.19.2/file_list.html
  opentelemetry-instrumentation-http/v0.19.2/frames.html
  opentelemetry-instrumentation-http/v0.19.2/index.html
  opentelemetry-instrumentation-http/v0.19.2/js/app.js
  opentelemetry-instrumentation-http/v0.19.2/js/full_list.js
  opentelemetry-instrumentation-http/v0.19.2/js/jquery.js
  opentelemetry-instrumentation-http/v0.19.2/method_list.html
  opentelemetry-instrumentation-http/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-graphql 0.19.1
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry.html
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry/Instrumentation/GraphQL.html
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry/Instrumentation/GraphQL/Instrumentation.html
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry/Instrumentation/GraphQL/Tracers.html
  opentelemetry-instrumentation-graphql/v0.19.1/OpenTelemetry/Instrumentation/GraphQL/Tracers/GraphQLTracer.html
  opentelemetry-instrumentation-graphql/v0.19.1/_index.html
  opentelemetry-instrumentation-graphql/v0.19.1/class_list.html
  opentelemetry-instrumentation-graphql/v0.19.1/css/common.css
  opentelemetry-instrumentation-graphql/v0.19.1/css/full_list.css
  opentelemetry-instrumentation-graphql/v0.19.1/css/style.css
  opentelemetry-instrumentation-graphql/v0.19.1/file.CHANGELOG.html
  opentelemetry-instrumentation-graphql/v0.19.1/file.README.html
  opentelemetry-instrumentation-graphql/v0.19.1/file_list.html
  opentelemetry-instrumentation-graphql/v0.19.1/frames.html
  opentelemetry-instrumentation-graphql/v0.19.1/index.html
  opentelemetry-instrumentation-graphql/v0.19.1/js/app.js
  opentelemetry-instrumentation-graphql/v0.19.1/js/full_list.js
  opentelemetry-instrumentation-graphql/v0.19.1/js/jquery.js
  opentelemetry-instrumentation-graphql/v0.19.1/method_list.html
  opentelemetry-instrumentation-graphql/v0.19.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-http_client 0.19.2
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation/HttpClient.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation/HttpClient/Instrumentation.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation/HttpClient/Patches.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation/HttpClient/Patches/Client.html
  opentelemetry-instrumentation-http_client/v0.19.2/OpenTelemetry/Instrumentation/HttpClient/Patches/Session.html
  opentelemetry-instrumentation-http_client/v0.19.2/_index.html
  opentelemetry-instrumentation-http_client/v0.19.2/class_list.html
  opentelemetry-instrumentation-http_client/v0.19.2/css/common.css
  opentelemetry-instrumentation-http_client/v0.19.2/css/full_list.css
  opentelemetry-instrumentation-http_client/v0.19.2/css/style.css
  opentelemetry-instrumentation-http_client/v0.19.2/file.CHANGELOG.html
  opentelemetry-instrumentation-http_client/v0.19.2/file.README.html
  opentelemetry-instrumentation-http_client/v0.19.2/file_list.html
  opentelemetry-instrumentation-http_client/v0.19.2/frames.html
  opentelemetry-instrumentation-http_client/v0.19.2/index.html
  opentelemetry-instrumentation-http_client/v0.19.2/js/app.js
  opentelemetry-instrumentation-http_client/v0.19.2/js/full_list.js
  opentelemetry-instrumentation-http_client/v0.19.2/js/jquery.js
  opentelemetry-instrumentation-http_client/v0.19.2/method_list.html
  opentelemetry-instrumentation-http_client/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-koala 0.18.3
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry.html
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry/Instrumentation/Koala.html
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry/Instrumentation/Koala/Instrumentation.html
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry/Instrumentation/Koala/Patches.html
  opentelemetry-instrumentation-koala/v0.18.3/OpenTelemetry/Instrumentation/Koala/Patches/Api.html
  opentelemetry-instrumentation-koala/v0.18.3/_index.html
  opentelemetry-instrumentation-koala/v0.18.3/class_list.html
  opentelemetry-instrumentation-koala/v0.18.3/css/common.css
  opentelemetry-instrumentation-koala/v0.18.3/css/full_list.css
  opentelemetry-instrumentation-koala/v0.18.3/css/style.css
  opentelemetry-instrumentation-koala/v0.18.3/file.CHANGELOG.html
  opentelemetry-instrumentation-koala/v0.18.3/file.README.html
  opentelemetry-instrumentation-koala/v0.18.3/file_list.html
  opentelemetry-instrumentation-koala/v0.18.3/frames.html
  opentelemetry-instrumentation-koala/v0.18.3/index.html
  opentelemetry-instrumentation-koala/v0.18.3/js/app.js
  opentelemetry-instrumentation-koala/v0.18.3/js/full_list.js
  opentelemetry-instrumentation-koala/v0.18.3/js/jquery.js
  opentelemetry-instrumentation-koala/v0.18.3/method_list.html
  opentelemetry-instrumentation-koala/v0.18.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-common 0.19.2
  404.html
  opentelemetry-common/v0.19.2/OpenTelemetry.html
  opentelemetry-common/v0.19.2/OpenTelemetry/Common.html
  opentelemetry-common/v0.19.2/OpenTelemetry/Common/HTTP.html
  opentelemetry-common/v0.19.2/OpenTelemetry/Common/HTTP/ClientContext.html
  opentelemetry-common/v0.19.2/OpenTelemetry/Common/Utilities.html
  opentelemetry-common/v0.19.2/_index.html
  opentelemetry-common/v0.19.2/class_list.html
  opentelemetry-common/v0.19.2/css/common.css
  opentelemetry-common/v0.19.2/css/full_list.css
  opentelemetry-common/v0.19.2/css/style.css
  opentelemetry-common/v0.19.2/file.CHANGELOG.html
  opentelemetry-common/v0.19.2/file.README.html
  opentelemetry-common/v0.19.2/file_list.html
  opentelemetry-common/v0.19.2/frames.html
  opentelemetry-common/v0.19.2/index.html
  opentelemetry-common/v0.19.2/js/app.js
  opentelemetry-common/v0.19.2/js/full_list.js
  opentelemetry-common/v0.19.2/js/jquery.js
  opentelemetry-common/v0.19.2/method_list.html
  opentelemetry-common/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-jaeger 0.20.1
  404.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter/Jaeger.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter/Jaeger/AgentExporter.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter/Jaeger/CollectorExporter.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter/Jaeger/Encoder.html
  opentelemetry-exporter-jaeger/v0.20.1/OpenTelemetry/Exporter/Jaeger/Transport.html
  opentelemetry-exporter-jaeger/v0.20.1/_index.html
  opentelemetry-exporter-jaeger/v0.20.1/class_list.html
  opentelemetry-exporter-jaeger/v0.20.1/css/common.css
  opentelemetry-exporter-jaeger/v0.20.1/css/full_list.css
  opentelemetry-exporter-jaeger/v0.20.1/css/style.css
  opentelemetry-exporter-jaeger/v0.20.1/file.CHANGELOG.html
  opentelemetry-exporter-jaeger/v0.20.1/file.README.html
  opentelemetry-exporter-jaeger/v0.20.1/file_list.html
  opentelemetry-exporter-jaeger/v0.20.1/frames.html
  opentelemetry-exporter-jaeger/v0.20.1/index.html
  opentelemetry-exporter-jaeger/v0.20.1/js/app.js
  opentelemetry-exporter-jaeger/v0.20.1/js/full_list.js
  opentelemetry-exporter-jaeger/v0.20.1/js/jquery.js
  opentelemetry-exporter-jaeger/v0.20.1/method_list.html
  opentelemetry-exporter-jaeger/v0.20.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-otlp 0.20.5
  404.html
  opentelemetry-exporter-otlp/v0.20.5/OpenTelemetry.html
  opentelemetry-exporter-otlp/v0.20.5/OpenTelemetry/Exporter.html
  opentelemetry-exporter-otlp/v0.20.5/OpenTelemetry/Exporter/OTLP.html
  opentelemetry-exporter-otlp/v0.20.5/OpenTelemetry/Exporter/OTLP/Exporter.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Collector.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Collector/Trace.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Collector/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Common.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Common/V1.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Resource.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Resource/V1.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Trace.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry/Proto/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.5/Opentelemetry_.html
  opentelemetry-exporter-otlp/v0.20.5/_index.html
  opentelemetry-exporter-otlp/v0.20.5/class_list.html
  opentelemetry-exporter-otlp/v0.20.5/css/common.css
  opentelemetry-exporter-otlp/v0.20.5/css/full_list.css
  opentelemetry-exporter-otlp/v0.20.5/css/style.css
  opentelemetry-exporter-otlp/v0.20.5/file.CHANGELOG.html
  opentelemetry-exporter-otlp/v0.20.5/file.README.html
  opentelemetry-exporter-otlp/v0.20.5/file_list.html
  opentelemetry-exporter-otlp/v0.20.5/frames.html
  opentelemetry-exporter-otlp/v0.20.5/index.html
  opentelemetry-exporter-otlp/v0.20.5/js/app.js
  opentelemetry-exporter-otlp/v0.20.5/js/full_list.js
  opentelemetry-exporter-otlp/v0.20.5/js/jquery.js
  opentelemetry-exporter-otlp/v0.20.5/method_list.html
  opentelemetry-exporter-otlp/v0.20.5/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-zipkin 0.19.2
  opentelemetry-exporter-zipkin/v0.19.2/OpenTelemetry.html
  opentelemetry-exporter-zipkin/v0.19.2/OpenTelemetry/Exporter.html
  opentelemetry-exporter-zipkin/v0.19.2/OpenTelemetry/Exporter/Zipkin.html
  opentelemetry-exporter-zipkin/v0.19.2/OpenTelemetry/Exporter/Zipkin/Exporter.html
  opentelemetry-exporter-zipkin/v0.19.2/OpenTelemetry/Exporter/Zipkin/Transformer.html
  opentelemetry-exporter-zipkin/v0.19.2/_index.html
  opentelemetry-exporter-zipkin/v0.19.2/class_list.html
  opentelemetry-exporter-zipkin/v0.19.2/css/common.css
  opentelemetry-exporter-zipkin/v0.19.2/css/full_list.css
  opentelemetry-exporter-zipkin/v0.19.2/css/style.css
  opentelemetry-exporter-zipkin/v0.19.2/file.CHANGELOG.html
  opentelemetry-exporter-zipkin/v0.19.2/file.README.html
  opentelemetry-exporter-zipkin/v0.19.2/file_list.html
  opentelemetry-exporter-zipkin/v0.19.2/frames.html
  opentelemetry-exporter-zipkin/v0.19.2/index.html
  opentelemetry-exporter-zipkin/v0.19.2/js/app.js
  opentelemetry-exporter-zipkin/v0.19.2/js/full_list.js
  opentelemetry-exporter-zipkin/v0.19.2/js/jquery.js
  opentelemetry-exporter-zipkin/v0.19.2/method_list.html
  opentelemetry-exporter-zipkin/v0.19.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_model_serializers 0.18.3
  404.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/OpenTelemetry.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/OpenTelemetry/Instrumentation/ActiveModelSerializers.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/OpenTelemetry/Instrumentation/ActiveModelSerializers/EventHandler.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/OpenTelemetry/Instrumentation/ActiveModelSerializers/Instrumentation.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/_index.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/class_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/css/common.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/css/full_list.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/css/style.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/file.CHANGELOG.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/file.README.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/file_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/frames.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/index.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/js/app.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/js/full_list.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/js/jquery.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/method_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
