Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

docs: Fixing a minor typo (#1077)
  website_docs/getting_started.md
Owners: @signalfx/docs

chore: move faraday patch into appraisals for koala instrumentation (#1071)
  instrumentation/koala/Appraisals
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Default scheme for OTLP endpoint (#1079)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix link to library config
  website_docs/getting_started.md
Owners: @signalfx/docs

release: Release opentelemetry-instrumentation-trilogy 0.50.1
  instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: make ActiveRecord 7 compatible (#1043)
  instrumentation/active_record/Appraisals
  instrumentation/active_record/gemfiles/activerecord_7.0.gemfile
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/persistence_insert_class_methods.rb
  instrumentation/active_record/opentelemetry-instrumentation-active_record.gemspec
  instrumentation/active_record/test/instrumentation/active_record/instrumentation_test.rb
  instrumentation/active_record/test/instrumentation/active_record/patches/querying_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-trilogy 0.50.1
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Instrumentation.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Patches.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Patches/Client.html
  opentelemetry-instrumentation-trilogy/v0.50.1/_index.html
  opentelemetry-instrumentation-trilogy/v0.50.1/class_list.html
  opentelemetry-instrumentation-trilogy/v0.50.1/css/common.css
  opentelemetry-instrumentation-trilogy/v0.50.1/css/full_list.css
  opentelemetry-instrumentation-trilogy/v0.50.1/css/style.css
  opentelemetry-instrumentation-trilogy/v0.50.1/file.CHANGELOG.html
  opentelemetry-instrumentation-trilogy/v0.50.1/file.README.html
  opentelemetry-instrumentation-trilogy/v0.50.1/file_list.html
  opentelemetry-instrumentation-trilogy/v0.50.1/frames.html
  opentelemetry-instrumentation-trilogy/v0.50.1/index.html
  opentelemetry-instrumentation-trilogy/v0.50.1/js/app.js
  opentelemetry-instrumentation-trilogy/v0.50.1/js/full_list.js
  opentelemetry-instrumentation-trilogy/v0.50.1/js/jquery.js
  opentelemetry-instrumentation-trilogy/v0.50.1/method_list.html
  opentelemetry-instrumentation-trilogy/v0.50.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: [instrumentation/net/http] Replace strings with constants
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Use full path to constats to make sure there is no conflicts.
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add semconv gem to relevant gemspecs and require explicitly
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk.rb
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http.rb
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore:linting
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: [instrumentation/net/http] Replace strings with constants (#1083)
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Remove FAILURE timeout status from OTLP exporter
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: remove private constant reference
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: remaining TIMEOUT reference
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Remove TIMEOUT timeout status from OTLP exporter (#1087)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Better: remove restrictions on koala.
  instrumentation/koala/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(aws_sdk): improve getting queue name
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(aws-sdk): improve service_name extraction
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-exporter-otlp 0.21.2
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

ignore rubocop error
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add missing changelog entry
  exporter/otlp/CHANGELOG.md
Owners: @signalfx/docs

feat: SQS / SNS messaging attributes and context propagation (#1026)
  instrumentation/aws_sdk/README.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/message_attributes.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/test_helper.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Added ruby 3.1 in ci list
  .github/workflows/ci.yml
  instrumentation/active_record/test/instrumentation/active_record/patches/persistence_class_methods_test.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-aws_sdk 0.2.0
  instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation all reference
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-aws_sdk 0.2.0
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/Handler.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeGetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeSetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/MessagingHelper.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/OpenTelemetry/Instrumentation/AwsSdk/Plugin.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/_index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/class_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/css/common.css
  opentelemetry-instrumentation-aws_sdk/v0.2.0/css/full_list.css
  opentelemetry-instrumentation-aws_sdk/v0.2.0/css/style.css
  opentelemetry-instrumentation-aws_sdk/v0.2.0/file.CHANGELOG.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/file.README.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/file_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/frames.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/js/app.js
  opentelemetry-instrumentation-aws_sdk/v0.2.0/js/full_list.js
  opentelemetry-instrumentation-aws_sdk/v0.2.0/js/jquery.js
  opentelemetry-instrumentation-aws_sdk/v0.2.0/method_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Added ruby 3.1 in ci list (#1086)
  .github/workflows/ci.yml
  instrumentation/active_record/test/instrumentation/active_record/patches/persistence_class_methods_test.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add HTTP Status Code attribute to AWS SDK span
  instrumentation/aws_sdk/Gemfile
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update rubocop namespace for 0.78.x
  .instrumentation_generator/templates/gemspec.tt
  api/.rubocop.yml
  common/.rubocop.yml
  exporter/jaeger/.rubocop.yml
  exporter/jaeger/test/.rubocop.yml
  exporter/otlp/.rubocop.yml
  exporter/otlp/test/.rubocop.yml
  exporter/zipkin/.rubocop.yml
  exporter/zipkin/test/.rubocop.yml
  instrumentation/.rubocop-examples.yml
  instrumentation/active_job/.rubocop.yml
  instrumentation/active_record/test/.rubocop.yml
  instrumentation/base/.rubocop.yml
  instrumentation/bunny/.rubocop.yml
  instrumentation/dalli/.rubocop.yml
  propagator/b3/.rubocop.yml
  propagator/jaeger/.rubocop.yml
  propagator/ottrace/.rubocop.yml
  propagator/xray/.rubocop.yml
  resource_detectors/.rubocop.yml
  sdk/.rubocop.yml
  sdk/test/.rubocop.yml
  semantic_conventions/.rubocop.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Remove HTTP Status codes test gem
  instrumentation/aws_sdk/Gemfile
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add debugging info during Zipkin export
  exporter/zipkin/lib/opentelemetry/exporter/zipkin/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add HTTP Status Code attribute to AWS SDK span (#1095)
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-aws_sdk 0.2.1
  instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

Generate yardocs for opentelemetry-instrumentation-aws_sdk 0.2.1
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/Handler.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeGetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeSetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/MessagingHelper.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/OpenTelemetry/Instrumentation/AwsSdk/Plugin.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/_index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/class_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/css/common.css
  opentelemetry-instrumentation-aws_sdk/v0.2.1/css/full_list.css
  opentelemetry-instrumentation-aws_sdk/v0.2.1/css/style.css
  opentelemetry-instrumentation-aws_sdk/v0.2.1/file.CHANGELOG.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/file.README.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/file_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/frames.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/js/app.js
  opentelemetry-instrumentation-aws_sdk/v0.2.1/js/full_list.js
  opentelemetry-instrumentation-aws_sdk/v0.2.1/js/jquery.js
  opentelemetry-instrumentation-aws_sdk/v0.2.1/method_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Consistent CRLF in AWS SDK Instrumentation Changelog
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

Consistent CRLF in AWS SDK Instrumentation Changelog (#1103)
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

Update getting_started.md
  website_docs/getting_started.md
Owners: @signalfx/docs

also remove restriction from gemspec
  instrumentation/koala/opentelemetry-instrumentation-koala.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
