Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

make current_attributes_key private
  common/lib/opentelemetry/common/class_scoped_attributes.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Temporarily add base as a test dependency
  sdk/Gemfile
  sdk/lib/opentelemetry/sdk.rb
  sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: temporary reference to local registry
  exporter/jaeger/Gemfile
  exporter/otlp/Gemfile
  exporter/zipkin/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: temporary reference local registry
  propagator/jaeger/Gemfile
  propagator/ottrace/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: temporarliy use local registry
  test_helpers/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Check for specific Numeric classes
  sdk/lib/opentelemetry/sdk/internal.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

don't handle fancy numerics
  sdk/lib/opentelemetry/sdk/internal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: warn on unsupported otlp transport protocols
  sdk/lib/opentelemetry/sdk/configurator.rb
  sdk/test/opentelemetry/sdk/configurator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Update Readme
  registry/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

valid_numeric? -> numeric
  sdk/lib/opentelemetry/sdk/internal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update registry/README.md
  registry/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

use instance_of instead of is_a in boolean?
  sdk/lib/opentelemetry/sdk/internal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

is_a? -> instance_of?
  sdk/lib/opentelemetry/sdk/internal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update sdk/lib/opentelemetry/sdk/configurator.rb
  sdk/lib/opentelemetry/sdk/configurator.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: warn on unsupported otlp transport protocols (#1172)
  sdk/lib/opentelemetry/sdk/configurator.rb
  sdk/test/opentelemetry/sdk/configurator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: Extract Instrumentation Registry Gem (#1167)
  .toys/.data/releases.yml
  registry/.rubocop.yml
  registry/.yardopts
  registry/Appraisals
  registry/CHANGELOG.md
  registry/Gemfile
  registry/LICENSE
  registry/README.md
  registry/Rakefile
  registry/lib/opentelemetry-registry.rb
  registry/lib/opentelemetry/instrumentation.rb
  registry/lib/opentelemetry/instrumentation/registry.rb
  registry/lib/opentelemetry/instrumentation/registry/version.rb
  registry/opentelemetry-registry.gemspec
  registry/test/.rubocop.yml
  registry/test/opentelemetry/instrumentation/registry_test.rb
  registry/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: Registry Release config
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Registry Release config (#1174)
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

merge attributes from instrumentation into query span
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

whitespace
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Spell more goodly
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add details to README
  instrumentation/mysql2/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update CHANGELOG.md
  instrumentation/mysql2/CHANGELOG.md
Owners: @signalfx/docs

undo readme change
  instrumentation/mysql2/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Only allow certain types of Numeric values as attribute values. (#1173)
  sdk/lib/opentelemetry/sdk/internal.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Bump semantic_conventions gem to 1.10.0 (#1171)
  semantic_conventions/Rakefile
  semantic_conventions/lib/opentelemetry/semantic_conventions/resource.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/trace.rb
  semantic_conventions/lib/opentelemetry/semantic_conventions/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Registry Release Config
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Use Registry Gem in auto-instrumentation
  instrumentation/base/Gemfile
  instrumentation/base/lib/opentelemetry/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/registry.rb
  instrumentation/base/opentelemetry-instrumentation-base.gemspec
  instrumentation/base/test/instrumentation/registry_test.rb
  instrumentation/base/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: More temp ref fixes
  exporter/jaeger/Gemfile
  exporter/otlp/Gemfile
  exporter/zipkin/Gemfile
  propagator/b3/Gemfile
  propagator/jaeger/Gemfile
  propagator/ottrace/Gemfile
  propagator/xray/Gemfile
  resource_detectors/Gemfile
  sdk/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

squash: Dead or Alive you are coming with me
  instrumentation/base/lib/opentelemetry/instrumentation.rb
  resource_detectors/Gemfile
  test_helpers/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Registry Release Config (#1176)
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add appraisals for redis 4.2-4.6
  instrumentation/redis/Appraisals
  instrumentation/redis/gemfiles/redis_4.0.gemfile
  instrumentation/redis/gemfiles/redis_4.2.gemfile
  instrumentation/redis/gemfiles/redis_4.3.gemfile
  instrumentation/redis/gemfiles/redis_4.4.gemfile
  instrumentation/redis/gemfiles/redis_4.5.gemfile
  instrumentation/redis/gemfiles/redis_4.6.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

trace set and retrieved bytes
  instrumentation/redis/Appraisals
  instrumentation/redis/README.md
  instrumentation/redis/gemfiles/redis_4.0.gemfile
  instrumentation/redis/gemfiles/redis_4.2.gemfile
  instrumentation/redis/gemfiles/redis_4.3.gemfile
  instrumentation/redis/gemfiles/redis_4.4.gemfile
  instrumentation/redis/gemfiles/redis_4.5.gemfile
  instrumentation/redis/gemfiles/redis_4.6.gemfile
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
  instrumentation/redis/opentelemetry-instrumentation-redis.gemspec
  instrumentation/redis/test/opentelemetry/instrumentation/redis/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

remove comment
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fixup comment
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

return 0 instead of nil in sent_value_Size
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-registry 0.1.0
  registry/CHANGELOG.md
  registry/lib/opentelemetry/instrumentation/registry/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

remove byebug
  instrumentation/redis/opentelemetry-instrumentation-redis.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

appease the cop
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
