Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Update instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: crashing end sub
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Pin Collector Version
  examples/otel-collector/.env
  examples/otel-collector/docker-compose.yaml
  website_docs/getting_started.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

docs:
  instrumentation/action_view/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: High cardinality rack span name default
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add instrumentation helpers gem, remove http options helpers
  instrumentation/base/lib/opentelemetry/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/lib/opentelemetry/instrumentation/settings.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/instrumentation.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/settings.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/settings.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/instrumentation.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/settings.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/instrumentation.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/settings.rb
  instrumentation_helpers/Gemfile
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/instrumentation_options.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/request_attributes.rb
  instrumentation_helpers/opentelemetry-instrumentation_helpers.gemspec
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_instrumentation_options_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add instrumentation helpers gem, add common
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add instrumentation helpers gem, add common with correct syntax
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add instrumentation helpers gem, add option to net/http
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Add documentation around rack span naming
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/patches/action_controller/metal_test.rb
  instrumentation/rack/CHANGELOG.md
  instrumentation/rack/README.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

chore: Pin Collector Version (#970)
  examples/otel-collector/.env
  examples/otel-collector/docker-compose.yaml
  website_docs/getting_started.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

fix: Prevent high cardinality rack span name as a default (#973)
  instrumentation/action_pack/test/opentelemetry/instrumentation/action_pack/patches/action_controller/metal_test.rb
  instrumentation/rack/CHANGELOG.md
  instrumentation/rack/README.md
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: do not replace fanout (#956)
  instrumentation/action_view/README.md
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/fanout.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/span_subscriber_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 4 gems
  instrumentation/action_pack/CHANGELOG.md
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/version.rb
  instrumentation/action_view/CHANGELOG.md
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/version.rb
  instrumentation/rack/CHANGELOG.md
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/version.rb
  instrumentation/rails/CHANGELOG.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: bump dependencies
  instrumentation/action_pack/opentelemetry-instrumentation-action_pack.gemspec
  instrumentation/rack/CHANGELOG.md
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/version.rb
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

fix: bump instrumentation all rack version
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_view 0.1.3
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry.html
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry/Instrumentation/ActionView.html
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry/Instrumentation/ActionView/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry/Instrumentation/ActionView/Railtie.html
  opentelemetry-instrumentation-action_view/v0.1.3/OpenTelemetry/Instrumentation/ActionView/SpanSubscriber.html
  opentelemetry-instrumentation-action_view/v0.1.3/_index.html
  opentelemetry-instrumentation-action_view/v0.1.3/class_list.html
  opentelemetry-instrumentation-action_view/v0.1.3/css/common.css
  opentelemetry-instrumentation-action_view/v0.1.3/css/full_list.css
  opentelemetry-instrumentation-action_view/v0.1.3/css/style.css
  opentelemetry-instrumentation-action_view/v0.1.3/file.CHANGELOG.html
  opentelemetry-instrumentation-action_view/v0.1.3/file.README.html
  opentelemetry-instrumentation-action_view/v0.1.3/file_list.html
  opentelemetry-instrumentation-action_view/v0.1.3/frames.html
  opentelemetry-instrumentation-action_view/v0.1.3/index.html
  opentelemetry-instrumentation-action_view/v0.1.3/js/app.js
  opentelemetry-instrumentation-action_view/v0.1.3/js/full_list.js
  opentelemetry-instrumentation-action_view/v0.1.3/js/jquery.js
  opentelemetry-instrumentation-action_view/v0.1.3/method_list.html
  opentelemetry-instrumentation-action_view/v0.1.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_pack 0.1.2
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack/Patches.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController/Metal.html
  opentelemetry-instrumentation-action_pack/v0.1.2/OpenTelemetry/Instrumentation/ActionPack/Railtie.html
  opentelemetry-instrumentation-action_pack/v0.1.2/_index.html
  opentelemetry-instrumentation-action_pack/v0.1.2/class_list.html
  opentelemetry-instrumentation-action_pack/v0.1.2/css/common.css
  opentelemetry-instrumentation-action_pack/v0.1.2/css/full_list.css
  opentelemetry-instrumentation-action_pack/v0.1.2/css/style.css
  opentelemetry-instrumentation-action_pack/v0.1.2/file.CHANGELOG.html
  opentelemetry-instrumentation-action_pack/v0.1.2/file.README.html
  opentelemetry-instrumentation-action_pack/v0.1.2/file_list.html
  opentelemetry-instrumentation-action_pack/v0.1.2/frames.html
  opentelemetry-instrumentation-action_pack/v0.1.2/index.html
  opentelemetry-instrumentation-action_pack/v0.1.2/js/app.js
  opentelemetry-instrumentation-action_pack/v0.1.2/js/full_list.js
  opentelemetry-instrumentation-action_pack/v0.1.2/js/jquery.js
  opentelemetry-instrumentation-action_pack/v0.1.2/method_list.html
  opentelemetry-instrumentation-action_pack/v0.1.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rack 0.20.0
  404.html
  opentelemetry-instrumentation-all/v0.21.2/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.21.2/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.21.2/_index.html
  opentelemetry-instrumentation-all/v0.21.2/file.README.html
  opentelemetry-instrumentation-all/v0.21.2/index.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack/Middlewares.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack/Util.html
  opentelemetry-instrumentation-rack/v0.20.0/OpenTelemetry/Instrumentation/Rack/Util/QueueTime.html
  opentelemetry-instrumentation-rack/v0.20.0/_index.html
  opentelemetry-instrumentation-rack/v0.20.0/class_list.html
  opentelemetry-instrumentation-rack/v0.20.0/css/common.css
  opentelemetry-instrumentation-rack/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-rack/v0.20.0/css/style.css
  opentelemetry-instrumentation-rack/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-rack/v0.20.0/file.README.html
  opentelemetry-instrumentation-rack/v0.20.0/file_list.html
  opentelemetry-instrumentation-rack/v0.20.0/frames.html
  opentelemetry-instrumentation-rack/v0.20.0/index.html
  opentelemetry-instrumentation-rack/v0.20.0/js/app.js
  opentelemetry-instrumentation-rack/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-rack/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-rack/v0.20.0/method_list.html
  opentelemetry-instrumentation-rack/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rails 0.19.4
  404.html
  opentelemetry-instrumentation-rails/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-rails/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.4/OpenTelemetry/Instrumentation/Rails.html
  opentelemetry-instrumentation-rails/v0.19.4/OpenTelemetry/Instrumentation/Rails/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.4/_index.html
  opentelemetry-instrumentation-rails/v0.19.4/class_list.html
  opentelemetry-instrumentation-rails/v0.19.4/css/common.css
  opentelemetry-instrumentation-rails/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-rails/v0.19.4/css/style.css
  opentelemetry-instrumentation-rails/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-rails/v0.19.4/file.README.html
  opentelemetry-instrumentation-rails/v0.19.4/file_list.html
  opentelemetry-instrumentation-rails/v0.19.4/frames.html
  opentelemetry-instrumentation-rails/v0.19.4/index.html
  opentelemetry-instrumentation-rails/v0.19.4/js/app.js
  opentelemetry-instrumentation-rails/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-rails/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-rails/v0.19.4/method_list.html
  opentelemetry-instrumentation-rails/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-all 0.21.3
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.21.3
  404.html
  opentelemetry-instrumentation-all/v0.21.3/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.21.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.21.3/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.21.3/_index.html
  opentelemetry-instrumentation-all/v0.21.3/class_list.html
  opentelemetry-instrumentation-all/v0.21.3/css/common.css
  opentelemetry-instrumentation-all/v0.21.3/css/full_list.css
  opentelemetry-instrumentation-all/v0.21.3/css/style.css
  opentelemetry-instrumentation-all/v0.21.3/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.21.3/file.README.html
  opentelemetry-instrumentation-all/v0.21.3/file_list.html
  opentelemetry-instrumentation-all/v0.21.3/frames.html
  opentelemetry-instrumentation-all/v0.21.3/index.html
  opentelemetry-instrumentation-all/v0.21.3/js/app.js
  opentelemetry-instrumentation-all/v0.21.3/js/full_list.js
  opentelemetry-instrumentation-all/v0.21.3/js/jquery.js
  opentelemetry-instrumentation-all/v0.21.3/method_list.html
  opentelemetry-instrumentation-all/v0.21.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add environment variable configuration for options config, convienence methods and constants for default options, skeleton of deprecation options, and wip tests
  common/lib/opentelemetry/common.rb
  common/lib/opentelemetry/common/environment.rb
  common/lib/opentelemetry/common/environment/validator_translation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/opentelemetry-instrumentation-base.gemspec
  instrumentation/base/test/test_helper.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
  instrumentation/http/test/instrumentation/http/patches/client_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

implements patch for each_batch
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/consumer.rb
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/consumer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

lint fixes and module descriptions
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/instrumentation.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/consumer.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/producer.rb
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/consumer_test.rb
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/producer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add environment variable configuration for options config, remove commented out code
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url support, add support to tracer api, sdk, and il. todo add to exporter, resource, resource detector, and account for merging and export behavior
  api/lib/opentelemetry/internal/proxy_tracer_provider.rb
  api/lib/opentelemetry/trace/tracer_provider.rb
  api/test/opentelemetry/trace/tracer_provider_test.rb
  api/test/opentelemetry_test.rb
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  instrumentation/base/test/instrumentation/registry_test.rb
  sdk/lib/opentelemetry/sdk/instrumentation_library.rb
  sdk/lib/opentelemetry/sdk/trace/tracer.rb
  sdk/lib/opentelemetry/sdk/trace/tracer_provider.rb
  sdk/test/integration/api_trace_test.rb
  sdk/test/integration/global_tracer_configurations_test.rb
  sdk/test/opentelemetry/sdk/trace/tracer_provider_test.rb
  sdk/test/opentelemetry/sdk/trace/tracer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url support update exporter with todos for when proto is updated, update resource and resource attributes
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  resource_detectors/lib/opentelemetry/resource/detectors/google_cloud_platform.rb
  resource_detectors/test/opentelemetry/detectors/auto_detector_test.rb
  resource_detectors/test/opentelemetry/detectors/google_cloud_platform_test.rb
  sdk/lib/opentelemetry/sdk/resources/resource.rb
  sdk/test/opentelemetry/sdk/resources/resource_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url support, add note about otlp proto
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update OTLP exporter to use v0.11 protos
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/lib/opentelemetry/proto/collector/logs/v1/logs_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/logs/v1/logs_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/metrics/v1/metrics_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/metrics/v1/metrics_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/trace/v1/trace_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/common/v1/common_pb.rb
  exporter/otlp/lib/opentelemetry/proto/logs/v1/logs_pb.rb
  exporter/otlp/lib/opentelemetry/proto/metrics/experimental/metrics_config_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/metrics/v1/metrics_pb.rb
  exporter/otlp/lib/opentelemetry/proto/trace/v1/trace_config_pb.rb
  exporter/otlp/lib/opentelemetry/proto/trace/v1/trace_pb.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Use 4318 as the default OLTP exporter port (#932)
  exporter/otlp/README.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update OTLP exporter to use v0.11 protos (#982)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/lib/opentelemetry/proto/collector/logs/v1/logs_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/logs/v1/logs_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/metrics/v1/metrics_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/metrics/v1/metrics_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/collector/trace/v1/trace_service_services_pb.rb
  exporter/otlp/lib/opentelemetry/proto/common/v1/common_pb.rb
  exporter/otlp/lib/opentelemetry/proto/logs/v1/logs_pb.rb
  exporter/otlp/lib/opentelemetry/proto/metrics/experimental/metrics_config_service_pb.rb
  exporter/otlp/lib/opentelemetry/proto/metrics/v1/metrics_pb.rb
  exporter/otlp/lib/opentelemetry/proto/trace/v1/trace_config_pb.rb
  exporter/otlp/lib/opentelemetry/proto/trace/v1/trace_pb.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/consumer.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/consumer.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Stable Release Updates (#968)
  README.md
  website_docs/_index.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Cleans up unused code
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/consumer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url support, use nil as tracer provider default
  sdk/lib/opentelemetry/sdk/trace/tracer_provider.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url support, update exporter to include schema_url optionally in output protos
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
