Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Proxies all the way down
  metrics_api/lib/opentelemetry-metrics-api.rb
  metrics_api/lib/opentelemetry/internal/proxy_instrument.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter.rb
  metrics_api/lib/opentelemetry/internal/proxy_observable_instrument.rb
  metrics_api/lib/opentelemetry/metrics/instrument/counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/histogram.rb
  metrics_api/lib/opentelemetry/metrics/instrument/up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Initial outline of Metrics API
  metrics_api/.rubocop.yml
  metrics_api/.yardopts
  metrics_api/CHANGELOG.md
  metrics_api/Gemfile
  metrics_api/LICENSE
  metrics_api/Rakefile
  metrics_api/lib/opentelemetry-metrics-api.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter_provider.rb
  metrics_api/lib/opentelemetry/metrics.rb
  metrics_api/lib/opentelemetry/metrics/instrument.rb
  metrics_api/lib/opentelemetry/metrics/instrument/counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/histogram.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_gauge.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/lib/opentelemetry/metrics/meter_provider.rb
  metrics_api/lib/opentelemetry/metrics/version.rb
  metrics_api/opentelemetry-metrics-api.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

feat: add instrument creation validation
  metrics_api/Gemfile
  metrics_api/lib/opentelemetry-metrics-api.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/opentelemetry-metrics-api.gemspec
  metrics_api/test/opentelemetry/metrics/meter_test.rb
  metrics_api/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Simplify meter & proxy, fix gemspec
  metrics_api/lib/opentelemetry/internal/proxy_instrument.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter.rb
  metrics_api/lib/opentelemetry/internal/proxy_observable_instrument.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/opentelemetry-metrics-api.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: cops and comments
  metrics_api/.rubocop.yml
  metrics_api/lib/opentelemetry/internal/proxy_instrument.rb
  metrics_api/lib/opentelemetry/metrics/instrument.rb
  metrics_api/lib/opentelemetry/metrics/instrument/counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/histogram.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_gauge.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/test/.rubocop.yml
  metrics_api/test/opentelemetry/metrics/meter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: remove duplicate require
  metrics_api/lib/opentelemetry-metrics-api.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: jruby pry-byebug conflict
  metrics_api/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 2 gems
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
  instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: missing changelog entry
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

fix: changelog
  instrumentation/all/CHANGELOG.md
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

Generate yardocs for opentelemetry-instrumentation-aws_sdk 0.2.2
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/Handler.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeGetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeSetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/MessagingHelper.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/OpenTelemetry/Instrumentation/AwsSdk/Plugin.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/_index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/class_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/css/common.css
  opentelemetry-instrumentation-aws_sdk/v0.2.2/css/full_list.css
  opentelemetry-instrumentation-aws_sdk/v0.2.2/css/style.css
  opentelemetry-instrumentation-aws_sdk/v0.2.2/file.CHANGELOG.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/file.README.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/file_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/frames.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/js/app.js
  opentelemetry-instrumentation-aws_sdk/v0.2.2/js/full_list.js
  opentelemetry-instrumentation-aws_sdk/v0.2.2/js/jquery.js
  opentelemetry-instrumentation-aws_sdk/v0.2.2/method_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.23.0
  404.html
  opentelemetry-instrumentation-all/v0.23.0/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.23.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.23.0/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.23.0/_index.html
  opentelemetry-instrumentation-all/v0.23.0/class_list.html
  opentelemetry-instrumentation-all/v0.23.0/css/common.css
  opentelemetry-instrumentation-all/v0.23.0/css/full_list.css
  opentelemetry-instrumentation-all/v0.23.0/css/style.css
  opentelemetry-instrumentation-all/v0.23.0/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.23.0/file.README.html
  opentelemetry-instrumentation-all/v0.23.0/file_list.html
  opentelemetry-instrumentation-all/v0.23.0/frames.html
  opentelemetry-instrumentation-all/v0.23.0/index.html
  opentelemetry-instrumentation-all/v0.23.0/js/app.js
  opentelemetry-instrumentation-all/v0.23.0/js/full_list.js
  opentelemetry-instrumentation-all/v0.23.0/js/jquery.js
  opentelemetry-instrumentation-all/v0.23.0/method_list.html
  opentelemetry-instrumentation-all/v0.23.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: stop holding mutex for validation
  metrics_api/lib/opentelemetry/metrics/meter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Initial outline of Metrics API (#1004)
  metrics_api/.rubocop.yml
  metrics_api/.yardopts
  metrics_api/CHANGELOG.md
  metrics_api/Gemfile
  metrics_api/LICENSE
  metrics_api/Rakefile
  metrics_api/lib/opentelemetry-metrics-api.rb
  metrics_api/lib/opentelemetry/internal/proxy_instrument.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter.rb
  metrics_api/lib/opentelemetry/internal/proxy_meter_provider.rb
  metrics_api/lib/opentelemetry/metrics.rb
  metrics_api/lib/opentelemetry/metrics/instrument.rb
  metrics_api/lib/opentelemetry/metrics/instrument/counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/histogram.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_gauge.rb
  metrics_api/lib/opentelemetry/metrics/instrument/observable_up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/instrument/up_down_counter.rb
  metrics_api/lib/opentelemetry/metrics/meter.rb
  metrics_api/lib/opentelemetry/metrics/meter_provider.rb
  metrics_api/lib/opentelemetry/metrics/version.rb
  metrics_api/opentelemetry-metrics-api.gemspec
  metrics_api/test/.rubocop.yml
  metrics_api/test/opentelemetry/metrics/meter_test.rb
  metrics_api/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

Fix link to library config (#1081)
  website_docs/getting_started.md
Owners: @signalfx/docs

Update instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
  instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

update attribute length limit env var name to match spec
  sdk/lib/opentelemetry/sdk/trace/span_limits.rb
  sdk/test/opentelemetry/sdk/trace/span_limits_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Address PR comments
  instrumentation/manticore/example/manticore.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/instrumentation.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/patches/response.rb
  instrumentation/manticore/test/local_server.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
  instrumentation/manticore/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add asynchronous assertions instead of synchronous
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
  instrumentation/manticore/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

DRY
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
  instrumentation/manticore/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Address rubocop
  instrumentation/manticore/.rubocop.yml
  instrumentation/manticore/Appraisals
  instrumentation/manticore/example/Gemfile
  instrumentation/manticore/example/manticore.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/instrumentation.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/patches/response.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/util/wrapped_request.rb
  instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
  instrumentation/manticore/test/local_server.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/instrumentation_test.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/util/wrapped_request_test.rb
  instrumentation/manticore/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Remove specific manticore version to test build
  instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix semantic conventions link in documentation
  examples/http/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix deprecation warning from rack_env_getter
  examples/http/server.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: deprecation warning from rack_env_getter (#1113)
  examples/http/server.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat(aws-sdk): add process spans
  instrumentation/aws_sdk/README.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/message_attributes.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: update attribute length limit env var name to match spec (#1109)
  sdk/lib/opentelemetry/sdk/trace/span_limits.rb
  sdk/test/opentelemetry/sdk/trace/span_limits_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: semantic conventions link in documentation (#1112)
  examples/http/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: clientcontext attrs overwrite in net::http
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/test/opentelemetry/instrumentation/net/http/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: clientcontext attrs overwrite in net::http (#1114)
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation/net_http/test/opentelemetry/instrumentation/net/http/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add net.peer.name to faraday instrumentation
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/faraday/test/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: prevent redis instrumentation from mutating the command
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: case when command has no args
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: prevent redis instrumentation from mutating the command (#1116)
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/patches/client.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add net.peer.name to faraday instrumentation (#1115)
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/faraday/test/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: excessive hash creation on context attr merging
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/easy.rb
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/connection.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/session.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: excessive hash creation on context attr merging (#1117)
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/easy.rb
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/connection.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/session.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 7 gems
  instrumentation/ethon/CHANGELOG.md
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/version.rb
  instrumentation/excon/CHANGELOG.md
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/version.rb
  instrumentation/faraday/CHANGELOG.md
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/version.rb
  instrumentation/http/CHANGELOG.md
  instrumentation/http/lib/opentelemetry/instrumentation/http/version.rb
  instrumentation/http_client/CHANGELOG.md
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/version.rb
  instrumentation/net_http/CHANGELOG.md
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/version.rb
  instrumentation/redis/CHANGELOG.md
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation all gemspec
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-http 0.19.4
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation/HTTP.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation/HTTP/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation/HTTP/Patches.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation/HTTP/Patches/Client.html
  opentelemetry-instrumentation-http/v0.19.4/OpenTelemetry/Instrumentation/HTTP/Patches/Connection.html
  opentelemetry-instrumentation-http/v0.19.4/_index.html
  opentelemetry-instrumentation-http/v0.19.4/class_list.html
  opentelemetry-instrumentation-http/v0.19.4/css/common.css
  opentelemetry-instrumentation-http/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-http/v0.19.4/css/style.css
  opentelemetry-instrumentation-http/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-http/v0.19.4/file.README.html
  opentelemetry-instrumentation-http/v0.19.4/file_list.html
  opentelemetry-instrumentation-http/v0.19.4/frames.html
  opentelemetry-instrumentation-http/v0.19.4/index.html
  opentelemetry-instrumentation-http/v0.19.4/js/app.js
  opentelemetry-instrumentation-http/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-http/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-http/v0.19.4/method_list.html
  opentelemetry-instrumentation-http/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
