Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

chore: change to `assert_nil`
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

[website_docs] Link to latest release
  website_docs/_index.md
Owners: @signalfx/docs

[website_docs] Link to latest release (#1021)
  website_docs/_index.md
Owners: @signalfx/docs

fix: resolve Dalli::Server deprecation in 3.0+ (#1015)
  instrumentation/dalli/Appraisals
  instrumentation/dalli/gemfiles/dalli_3.0.gemfile
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
  instrumentation/dalli/opentelemetry-instrumentation-dalli.gemspec
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix rubocop missing space
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: deployment resource detector
  resource_detectors/lib/opentelemetry/resource/detectors.rb
  resource_detectors/lib/opentelemetry/resource/detectors/auto_detector.rb
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: add deployment detector to README
  resource_detectors/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

chore: fix typo
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rubocop issues
  resource_detectors/lib/opentelemetry/resource/detectors/auto_detector.rb
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rename function call
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: rubocop
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test: use with_env in resource detector test
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
  resource_detectors/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test: add test for rails
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
  resource_detectors/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: rename helper env fucntion to be uniform
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test: make sure env is empty for empty env test
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add missing dependency on rspec-mock
  resource_detectors/opentelemetry-resource_detectors.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

use sub_const to mock rails env method
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add sinatra environment support
  resource_detectors/lib/opentelemetry/resource/detectors/deployment.rb
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: rubocop
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: rubocop
  resource_detectors/test/opentelemetry/detectors/deployment_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: api version dependency
  instrumentation/rspec/opentelemetry-instrumentation-rspec.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: add changelog
  instrumentation/aws_sdk/CHANGELOG.md
Owners: @signalfx/docs

feat: add default options config helper + env var config option support (#994)
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
  instrumentation/mysql2/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add instrumentation for rspec (#981)
  .toys/.data/releases.yml
  instrumentation/rspec/.rubocop.yml
  instrumentation/rspec/.yardopts
  instrumentation/rspec/Appraisals
  instrumentation/rspec/CHANGELOG.md
  instrumentation/rspec/Gemfile
  instrumentation/rspec/LICENSE
  instrumentation/rspec/README.md
  instrumentation/rspec/Rakefile
  instrumentation/rspec/example/Gemfile
  instrumentation/rspec/example/rspec_with_rspec_formatter_configuration.rb
  instrumentation/rspec/example/rspec_with_sdk_configure.rb
  instrumentation/rspec/lib/opentelemetry-instrumentation-rspec.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/instrumentation.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/version.rb
  instrumentation/rspec/opentelemetry-instrumentation-rspec.gemspec
  instrumentation/rspec/test/.rubocop.yml
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/instrumentation_test.rb
  instrumentation/rspec/test/rspec_patches.rb
  instrumentation/rspec/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Feat: aws-sdk instrumentation (#1014)
  .toys/.data/releases.yml
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/aws_sdk/.rubocop.yml
  instrumentation/aws_sdk/.yardopts
  instrumentation/aws_sdk/Appraisals
  instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/Gemfile
  instrumentation/aws_sdk/LICENSE
  instrumentation/aws_sdk/README.md
  instrumentation/aws_sdk/Rakefile
  instrumentation/aws_sdk/example/Gemfile
  instrumentation/aws_sdk/example/trace_demonstration.rb
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.0.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.1.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.10.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.11.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.2.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.3.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.4.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.5.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.6.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.7.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.8.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.9.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_3.0.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_3.1.gemfile
  instrumentation/aws_sdk/lib/opentelemetry-instrumentation-aws_sdk.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/db_helper.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/services.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/version.rb
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/aws_sdk/test/.rubocop.yml
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Revert "chore: Add Gem Version Constraints"
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/instrumentation.rb
  instrumentation/active_job/test/instrumentation/active_job/instrumentation_test.rb
  instrumentation/active_model_serializers/lib/opentelemetry/instrumentation/active_model_serializers/instrumentation.rb
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/delayed_job/lib/opentelemetry/instrumentation/delayed_job/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/instrumentation.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Add Gem Version Constraints
  instrumentation/action_pack/lib/opentelemetry/instrumentation/action_pack/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/instrumentation.rb
  instrumentation/active_job/test/instrumentation/active_job/instrumentation_test.rb
  instrumentation/active_model_serializers/lib/opentelemetry/instrumentation/active_model_serializers/instrumentation.rb
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/delayed_job/lib/opentelemetry/instrumentation/delayed_job/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/instrumentation.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

spike: Use Gemspecs to determine compatibility
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

spike: demonstrate usage in child class
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: aws-sdk nitpicks
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/db_helper.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

spike: Do I even know ruby?
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

[website_docs] Use console code-block style, and spellcheck
  website_docs/getting_started.md
Owners: @signalfx/docs

fix: LOL I am terrible at this
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Link to website page via path (#1020)
  website_docs/context_propagation.md
Owners: @signalfx/docs

Feat add manticore instrumentation (#5)
  .gitignore
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/manticore/Appraisals
  instrumentation/manticore/CHANGELOG.md
  instrumentation/manticore/README.md
  instrumentation/manticore/example/manticore.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/instrumentation.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/patches/response.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/util/wrapped_request.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/util/wrapped_response.rb
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/version.rb
  instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
  instrumentation/manticore/test/local_server.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/instrumentation_test.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/util/wrapped_request_test.rb
  instrumentation/manticore/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

span.record_exception instad of manual http related type attributes logging
  instrumentation/manticore/lib/opentelemetry/instrumentation/manticore/patches/response.rb
  instrumentation/manticore/test/opentelemetry/instrumentation/manticore/patches/response_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

remove minitest-hooks
  instrumentation/manticore/opentelemetry-instrumentation-manticore.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
