Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: bump deps
  instrumentation/action_pack/opentelemetry-instrumentation-action_pack.gemspec
  instrumentation/action_view/opentelemetry-instrumentation-action_view.gemspec
  instrumentation/active_job/opentelemetry-instrumentation-active_job.gemspec
  instrumentation/active_model_serializers/opentelemetry-instrumentation-active_model_serializers.gemspec
  instrumentation/active_record/opentelemetry-instrumentation-active_record.gemspec
  instrumentation/active_support/opentelemetry-instrumentation-active_support.gemspec
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/bunny/opentelemetry-instrumentation-bunny.gemspec
  instrumentation/concurrent_ruby/opentelemetry-instrumentation-concurrent_ruby.gemspec
  instrumentation/dalli/opentelemetry-instrumentation-dalli.gemspec
  instrumentation/delayed_job/opentelemetry-instrumentation-delayed_job.gemspec
  instrumentation/ethon/opentelemetry-instrumentation-ethon.gemspec
  instrumentation/excon/opentelemetry-instrumentation-excon.gemspec
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
  instrumentation/graphql/opentelemetry-instrumentation-graphql.gemspec
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http_client/opentelemetry-instrumentation-http_client.gemspec
  instrumentation/koala/opentelemetry-instrumentation-koala.gemspec
  instrumentation/lmdb/opentelemetry-instrumentation-lmdb.gemspec
  instrumentation/mongo/opentelemetry-instrumentation-mongo.gemspec
  instrumentation/mysql2/opentelemetry-instrumentation-mysql2.gemspec
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/que/opentelemetry-instrumentation-que.gemspec
  instrumentation/rack/opentelemetry-instrumentation-rack.gemspec
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
  instrumentation/rdkafka/Gemfile
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
  instrumentation/redis/opentelemetry-instrumentation-redis.gemspec
  instrumentation/resque/opentelemetry-instrumentation-resque.gemspec
  instrumentation/restclient/opentelemetry-instrumentation-restclient.gemspec
  instrumentation/rspec/opentelemetry-instrumentation-rspec.gemspec
  instrumentation/ruby_kafka/opentelemetry-instrumentation-ruby_kafka.gemspec
  instrumentation/sidekiq/opentelemetry-instrumentation-sidekiq.gemspec
  instrumentation/sinatra/opentelemetry-instrumentation-sinatra.gemspec
  instrumentation/trilogy/Gemfile
  instrumentation/trilogy/opentelemetry-instrumentation-trilogy.gemspec
  sdk/opentelemetry-sdk.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: test helpers ci
  test_helpers/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: sdk release notes
  sdk/CHANGELOG.md
Owners: @signalfx/docs

Generate yardocs for opentelemetry-instrumentation-rdkafka 0.1.0
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation/Rdkafka.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation/Rdkafka/Instrumentation.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation/Rdkafka/Patches.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation/Rdkafka/Patches/Consumer.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/OpenTelemetry/Instrumentation/Rdkafka/Patches/Producer.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/_index.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/class_list.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/css/common.css
  opentelemetry-instrumentation-rdkafka/v0.1.0/css/full_list.css
  opentelemetry-instrumentation-rdkafka/v0.1.0/css/style.css
  opentelemetry-instrumentation-rdkafka/v0.1.0/file.CHANGELOG.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/file.README.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/file_list.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/frames.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/index.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/js/app.js
  opentelemetry-instrumentation-rdkafka/v0.1.0/js/full_list.js
  opentelemetry-instrumentation-rdkafka/v0.1.0/js/jquery.js
  opentelemetry-instrumentation-rdkafka/v0.1.0/method_list.html
  opentelemetry-instrumentation-rdkafka/v0.1.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_view 0.2.1
  opentelemetry-instrumentation-action_view/v0.2.1/OpenTelemetry.html
  opentelemetry-instrumentation-action_view/v0.2.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.2.1/OpenTelemetry/Instrumentation/ActionView.html
  opentelemetry-instrumentation-action_view/v0.2.1/OpenTelemetry/Instrumentation/ActionView/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.2.1/OpenTelemetry/Instrumentation/ActionView/Railtie.html
  opentelemetry-instrumentation-action_view/v0.2.1/_index.html
  opentelemetry-instrumentation-action_view/v0.2.1/class_list.html
  opentelemetry-instrumentation-action_view/v0.2.1/css/common.css
  opentelemetry-instrumentation-action_view/v0.2.1/css/full_list.css
  opentelemetry-instrumentation-action_view/v0.2.1/css/style.css
  opentelemetry-instrumentation-action_view/v0.2.1/file.CHANGELOG.html
  opentelemetry-instrumentation-action_view/v0.2.1/file.README.html
  opentelemetry-instrumentation-action_view/v0.2.1/file_list.html
  opentelemetry-instrumentation-action_view/v0.2.1/frames.html
  opentelemetry-instrumentation-action_view/v0.2.1/index.html
  opentelemetry-instrumentation-action_view/v0.2.1/js/app.js
  opentelemetry-instrumentation-action_view/v0.2.1/js/full_list.js
  opentelemetry-instrumentation-action_view/v0.2.1/js/jquery.js
  opentelemetry-instrumentation-action_view/v0.2.1/method_list.html
  opentelemetry-instrumentation-action_view/v0.2.1/top-level-namespace.html
  opentelemetry-instrumentation-active_support/v0.1.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_support/v0.1.1/OpenTelemetry/Instrumentation/ActiveSupport.html
  opentelemetry-instrumentation-active_support/v0.1.1/OpenTelemetry/Instrumentation/ActiveSupport/SpanSubscriber.html
  opentelemetry-instrumentation-active_support/v0.1.1/_index.html
  opentelemetry-instrumentation-active_support/v0.1.1/file.CHANGELOG.html
  opentelemetry-instrumentation-active_support/v0.1.1/file.README.html
  opentelemetry-instrumentation-active_support/v0.1.1/index.html
  opentelemetry-instrumentation-active_support/v0.1.1/top-level-namespace.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Instrumentation.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Patches.html
  opentelemetry-instrumentation-trilogy/v0.50.1/OpenTelemetry/Instrumentation/Trilogy/Patches/Client.html
  opentelemetry-instrumentation-trilogy/v0.50.1/file.README.html
  opentelemetry-instrumentation-trilogy/v0.50.1/index.html
  opentelemetry-instrumentation-trilogy/v0.50.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_pack 0.1.4
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack/Instrumentation.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack/Patches.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack/Patches/ActionController/Metal.html
  opentelemetry-instrumentation-action_pack/v0.1.4/OpenTelemetry/Instrumentation/ActionPack/Railtie.html
  opentelemetry-instrumentation-action_pack/v0.1.4/_index.html
  opentelemetry-instrumentation-action_pack/v0.1.4/class_list.html
  opentelemetry-instrumentation-action_pack/v0.1.4/css/common.css
  opentelemetry-instrumentation-action_pack/v0.1.4/css/full_list.css
  opentelemetry-instrumentation-action_pack/v0.1.4/css/style.css
  opentelemetry-instrumentation-action_pack/v0.1.4/file.CHANGELOG.html
  opentelemetry-instrumentation-action_pack/v0.1.4/file.README.html
  opentelemetry-instrumentation-action_pack/v0.1.4/file_list.html
  opentelemetry-instrumentation-action_pack/v0.1.4/frames.html
  opentelemetry-instrumentation-action_pack/v0.1.4/index.html
  opentelemetry-instrumentation-action_pack/v0.1.4/js/app.js
  opentelemetry-instrumentation-action_pack/v0.1.4/js/full_list.js
  opentelemetry-instrumentation-action_pack/v0.1.4/js/jquery.js
  opentelemetry-instrumentation-action_pack/v0.1.4/method_list.html
  opentelemetry-instrumentation-action_pack/v0.1.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_job 0.2.0
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation/ActiveJob.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation/ActiveJob/Instrumentation.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation/ActiveJob/Patches.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation/ActiveJob/Patches/ActiveJobCallbacks.html
  opentelemetry-instrumentation-active_job/v0.2.0/OpenTelemetry/Instrumentation/ActiveJob/Patches/Base.html
  opentelemetry-instrumentation-active_job/v0.2.0/_index.html
  opentelemetry-instrumentation-active_job/v0.2.0/class_list.html
  opentelemetry-instrumentation-active_job/v0.2.0/css/common.css
  opentelemetry-instrumentation-active_job/v0.2.0/css/full_list.css
  opentelemetry-instrumentation-active_job/v0.2.0/css/style.css
  opentelemetry-instrumentation-active_job/v0.2.0/file.CHANGELOG.html
  opentelemetry-instrumentation-active_job/v0.2.0/file.README.html
  opentelemetry-instrumentation-active_job/v0.2.0/file_list.html
  opentelemetry-instrumentation-active_job/v0.2.0/frames.html
  opentelemetry-instrumentation-active_job/v0.2.0/index.html
  opentelemetry-instrumentation-active_job/v0.2.0/js/app.js
  opentelemetry-instrumentation-active_job/v0.2.0/js/full_list.js
  opentelemetry-instrumentation-active_job/v0.2.0/js/jquery.js
  opentelemetry-instrumentation-active_job/v0.2.0/method_list.html
  opentelemetry-instrumentation-active_job/v0.2.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-resque 0.2.0
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque/Instrumentation.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque/Patches.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque/Patches/ResqueJob.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque/Patches/ResqueModule.html
  opentelemetry-instrumentation-resque/v0.2.0/OpenTelemetry/Instrumentation/Resque/Patches/ResqueModule/ClassMethods.html
  opentelemetry-instrumentation-resque/v0.2.0/_index.html
  opentelemetry-instrumentation-resque/v0.2.0/class_list.html
  opentelemetry-instrumentation-resque/v0.2.0/css/common.css
  opentelemetry-instrumentation-resque/v0.2.0/css/full_list.css
  opentelemetry-instrumentation-resque/v0.2.0/css/style.css
  opentelemetry-instrumentation-resque/v0.2.0/file.CHANGELOG.html
  opentelemetry-instrumentation-resque/v0.2.0/file.README.html
  opentelemetry-instrumentation-resque/v0.2.0/file_list.html
  opentelemetry-instrumentation-resque/v0.2.0/frames.html
  opentelemetry-instrumentation-resque/v0.2.0/index.html
  opentelemetry-instrumentation-resque/v0.2.0/js/app.js
  opentelemetry-instrumentation-resque/v0.2.0/js/full_list.js
  opentelemetry-instrumentation-resque/v0.2.0/js/jquery.js
  opentelemetry-instrumentation-resque/v0.2.0/method_list.html
  opentelemetry-instrumentation-resque/v0.2.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-base 0.20.0
  opentelemetry-instrumentation-base/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-base/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-base/v0.20.0/OpenTelemetry/Instrumentation/Base.html
  opentelemetry-instrumentation-base/v0.20.0/OpenTelemetry/Instrumentation/Registry.html
  opentelemetry-instrumentation-base/v0.20.0/_index.html
  opentelemetry-instrumentation-base/v0.20.0/class_list.html
  opentelemetry-instrumentation-base/v0.20.0/css/common.css
  opentelemetry-instrumentation-base/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-base/v0.20.0/css/style.css
  opentelemetry-instrumentation-base/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-base/v0.20.0/file.README.html
  opentelemetry-instrumentation-base/v0.20.0/file_list.html
  opentelemetry-instrumentation-base/v0.20.0/frames.html
  opentelemetry-instrumentation-base/v0.20.0/index.html
  opentelemetry-instrumentation-base/v0.20.0/js/app.js
  opentelemetry-instrumentation-base/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-base/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-base/v0.20.0/method_list.html
  opentelemetry-instrumentation-base/v0.20.0/top-level-namespace.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Instrumentation.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/PatchHelpers.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Patches.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Patches/Channel.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Patches/Consumer.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Patches/Queue.html
  opentelemetry-instrumentation-bunny/v0.18.4/OpenTelemetry/Instrumentation/Bunny/Patches/ReaderLoop.html
  opentelemetry-instrumentation-bunny/v0.18.4/file.README.html
  opentelemetry-instrumentation-bunny/v0.18.4/index.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_record 0.3.0
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Instrumentation.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Persistence.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/PersistenceInsertClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Querying/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/RelationPersistence.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/TransactionsClassMethods/ClassMethods.html
  opentelemetry-instrumentation-active_record/v0.3.0/OpenTelemetry/Instrumentation/ActiveRecord/Patches/Validations.html
  opentelemetry-instrumentation-active_record/v0.3.0/_index.html
  opentelemetry-instrumentation-active_record/v0.3.0/class_list.html
  opentelemetry-instrumentation-active_record/v0.3.0/css/common.css
  opentelemetry-instrumentation-active_record/v0.3.0/css/full_list.css
  opentelemetry-instrumentation-active_record/v0.3.0/css/style.css
  opentelemetry-instrumentation-active_record/v0.3.0/file.CHANGELOG.html
  opentelemetry-instrumentation-active_record/v0.3.0/file.README.html
  opentelemetry-instrumentation-active_record/v0.3.0/file_list.html
  opentelemetry-instrumentation-active_record/v0.3.0/frames.html
  opentelemetry-instrumentation-active_record/v0.3.0/index.html
  opentelemetry-instrumentation-active_record/v0.3.0/js/app.js
  opentelemetry-instrumentation-active_record/v0.3.0/js/full_list.js
  opentelemetry-instrumentation-active_record/v0.3.0/js/jquery.js
  opentelemetry-instrumentation-active_record/v0.3.0/method_list.html
  opentelemetry-instrumentation-active_record/v0.3.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-aws_sdk 0.2.3
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/Handler.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/Instrumentation.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeGetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/MessageAttributeSetter.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/MessagingHelper.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/OpenTelemetry/Instrumentation/AwsSdk/Plugin.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/_index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/class_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/css/common.css
  opentelemetry-instrumentation-aws_sdk/v0.2.3/css/full_list.css
  opentelemetry-instrumentation-aws_sdk/v0.2.3/css/style.css
  opentelemetry-instrumentation-aws_sdk/v0.2.3/file.CHANGELOG.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/file.README.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/file_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/frames.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/index.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/js/app.js
  opentelemetry-instrumentation-aws_sdk/v0.2.3/js/full_list.js
  opentelemetry-instrumentation-aws_sdk/v0.2.3/js/jquery.js
  opentelemetry-instrumentation-aws_sdk/v0.2.3/method_list.html
  opentelemetry-instrumentation-aws_sdk/v0.2.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-lmdb 0.20.0
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation/LMDB.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation/LMDB/Instrumentation.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation/LMDB/Patches.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation/LMDB/Patches/Database.html
  opentelemetry-instrumentation-lmdb/v0.20.0/OpenTelemetry/Instrumentation/LMDB/Patches/Environment.html
  opentelemetry-instrumentation-lmdb/v0.20.0/_index.html
  opentelemetry-instrumentation-lmdb/v0.20.0/class_list.html
  opentelemetry-instrumentation-lmdb/v0.20.0/css/common.css
  opentelemetry-instrumentation-lmdb/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-lmdb/v0.20.0/css/style.css
  opentelemetry-instrumentation-lmdb/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-lmdb/v0.20.0/file.README.html
  opentelemetry-instrumentation-lmdb/v0.20.0/file_list.html
  opentelemetry-instrumentation-lmdb/v0.20.0/frames.html
  opentelemetry-instrumentation-lmdb/v0.20.0/index.html
  opentelemetry-instrumentation-lmdb/v0.20.0/js/app.js
  opentelemetry-instrumentation-lmdb/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-lmdb/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-lmdb/v0.20.0/method_list.html
  opentelemetry-instrumentation-lmdb/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-http 0.19.5
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation/HTTP.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation/HTTP/Instrumentation.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation/HTTP/Patches.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation/HTTP/Patches/Client.html
  opentelemetry-instrumentation-http/v0.19.5/OpenTelemetry/Instrumentation/HTTP/Patches/Connection.html
  opentelemetry-instrumentation-http/v0.19.5/_index.html
  opentelemetry-instrumentation-http/v0.19.5/class_list.html
  opentelemetry-instrumentation-http/v0.19.5/css/common.css
  opentelemetry-instrumentation-http/v0.19.5/css/full_list.css
  opentelemetry-instrumentation-http/v0.19.5/css/style.css
  opentelemetry-instrumentation-http/v0.19.5/file.CHANGELOG.html
  opentelemetry-instrumentation-http/v0.19.5/file.README.html
  opentelemetry-instrumentation-http/v0.19.5/file_list.html
  opentelemetry-instrumentation-http/v0.19.5/frames.html
  opentelemetry-instrumentation-http/v0.19.5/index.html
  opentelemetry-instrumentation-http/v0.19.5/js/app.js
  opentelemetry-instrumentation-http/v0.19.5/js/full_list.js
  opentelemetry-instrumentation-http/v0.19.5/js/jquery.js
  opentelemetry-instrumentation-http/v0.19.5/method_list.html
  opentelemetry-instrumentation-http/v0.19.5/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-jaeger 0.20.2
  404.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter/Jaeger.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter/Jaeger/AgentExporter.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter/Jaeger/CollectorExporter.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter/Jaeger/Encoder.html
  opentelemetry-exporter-jaeger/v0.20.2/OpenTelemetry/Exporter/Jaeger/Transport.html
  opentelemetry-exporter-jaeger/v0.20.2/_index.html
  opentelemetry-exporter-jaeger/v0.20.2/class_list.html
  opentelemetry-exporter-jaeger/v0.20.2/css/common.css
  opentelemetry-exporter-jaeger/v0.20.2/css/full_list.css
  opentelemetry-exporter-jaeger/v0.20.2/css/style.css
  opentelemetry-exporter-jaeger/v0.20.2/file.CHANGELOG.html
  opentelemetry-exporter-jaeger/v0.20.2/file.README.html
  opentelemetry-exporter-jaeger/v0.20.2/file_list.html
  opentelemetry-exporter-jaeger/v0.20.2/frames.html
  opentelemetry-exporter-jaeger/v0.20.2/index.html
  opentelemetry-exporter-jaeger/v0.20.2/js/app.js
  opentelemetry-exporter-jaeger/v0.20.2/js/full_list.js
  opentelemetry-exporter-jaeger/v0.20.2/js/jquery.js
  opentelemetry-exporter-jaeger/v0.20.2/method_list.html
  opentelemetry-exporter-jaeger/v0.20.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-active_model_serializers 0.18.5
  404.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/OpenTelemetry.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/OpenTelemetry/Instrumentation/ActiveModelSerializers.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/OpenTelemetry/Instrumentation/ActiveModelSerializers/EventHandler.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/OpenTelemetry/Instrumentation/ActiveModelSerializers/Instrumentation.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/_index.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/class_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/css/common.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/css/full_list.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/css/style.css
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/file.CHANGELOG.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/file.README.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/file_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/frames.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/index.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/js/app.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/js/full_list.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/js/jquery.js
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/method_list.html
  opentelemetry-instrumentation-active_model_serializers/v0.18.5/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.24.0
  404.html
  opentelemetry-instrumentation-all/v0.24.0/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.24.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.24.0/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.24.0/_index.html
  opentelemetry-instrumentation-all/v0.24.0/class_list.html
  opentelemetry-instrumentation-all/v0.24.0/css/common.css
  opentelemetry-instrumentation-all/v0.24.0/css/full_list.css
  opentelemetry-instrumentation-all/v0.24.0/css/style.css
  opentelemetry-instrumentation-all/v0.24.0/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.24.0/file.README.html
  opentelemetry-instrumentation-all/v0.24.0/file_list.html
  opentelemetry-instrumentation-all/v0.24.0/frames.html
  opentelemetry-instrumentation-all/v0.24.0/index.html
  opentelemetry-instrumentation-all/v0.24.0/js/app.js
  opentelemetry-instrumentation-all/v0.24.0/js/full_list.js
  opentelemetry-instrumentation-all/v0.24.0/js/jquery.js
  opentelemetry-instrumentation-all/v0.24.0/method_list.html
  opentelemetry-instrumentation-all/v0.24.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-dalli 0.21.0
  404.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.2/OpenTelemetry/Instrumentation/ConcurrentRuby/Instrumentation.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.2/OpenTelemetry/Instrumentation/ConcurrentRuby/Patches/ThreadPoolExecutor.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.2/index.html
  opentelemetry-instrumentation-concurrent_ruby/v0.19.2/top-level-namespace.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation/Dalli.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation/Dalli/Instrumentation.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation/Dalli/Patches.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation/Dalli/Patches/Server.html
  opentelemetry-instrumentation-dalli/v0.21.0/OpenTelemetry/Instrumentation/Utils.html
  opentelemetry-instrumentation-dalli/v0.21.0/_index.html
  opentelemetry-instrumentation-dalli/v0.21.0/class_list.html
  opentelemetry-instrumentation-dalli/v0.21.0/css/common.css
  opentelemetry-instrumentation-dalli/v0.21.0/css/full_list.css
  opentelemetry-instrumentation-dalli/v0.21.0/css/style.css
  opentelemetry-instrumentation-dalli/v0.21.0/file.CHANGELOG.html
  opentelemetry-instrumentation-dalli/v0.21.0/file.README.html
  opentelemetry-instrumentation-dalli/v0.21.0/file_list.html
  opentelemetry-instrumentation-dalli/v0.21.0/frames.html
  opentelemetry-instrumentation-dalli/v0.21.0/index.html
  opentelemetry-instrumentation-dalli/v0.21.0/js/app.js
  opentelemetry-instrumentation-dalli/v0.21.0/js/full_list.js
  opentelemetry-instrumentation-dalli/v0.21.0/js/jquery.js
  opentelemetry-instrumentation-dalli/v0.21.0/method_list.html
  opentelemetry-instrumentation-dalli/v0.21.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-delayed_job 0.18.5
  404.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry/Instrumentation/DelayedJob.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry/Instrumentation/DelayedJob/Instrumentation.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry/Instrumentation/DelayedJob/Plugins.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/OpenTelemetry/Instrumentation/DelayedJob/Plugins/TracerPlugin.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/_index.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/class_list.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/css/common.css
  opentelemetry-instrumentation-delayed_job/v0.18.5/css/full_list.css
  opentelemetry-instrumentation-delayed_job/v0.18.5/css/style.css
  opentelemetry-instrumentation-delayed_job/v0.18.5/file.CHANGELOG.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/file.README.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/file_list.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/frames.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/index.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/js/app.js
  opentelemetry-instrumentation-delayed_job/v0.18.5/js/full_list.js
  opentelemetry-instrumentation-delayed_job/v0.18.5/js/jquery.js
  opentelemetry-instrumentation-delayed_job/v0.18.5/method_list.html
  opentelemetry-instrumentation-delayed_job/v0.18.5/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-pg 0.20.0
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP/Patches.html
  opentelemetry-instrumentation-net_http/v0.19.4/OpenTelemetry/Instrumentation/Net/HTTP/Patches/Instrumentation.html
  opentelemetry-instrumentation-net_http/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-net_http/v0.19.4/file.README.html
  opentelemetry-instrumentation-net_http/v0.19.4/index.html
  opentelemetry-instrumentation-net_http/v0.19.4/top-level-namespace.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG/Constants.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG/Instrumentation.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG/LruCache.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG/Patches.html
  opentelemetry-instrumentation-pg/v0.20.0/OpenTelemetry/Instrumentation/PG/Patches/Connection.html
  opentelemetry-instrumentation-pg/v0.20.0/_index.html
  opentelemetry-instrumentation-pg/v0.20.0/class_list.html
  opentelemetry-instrumentation-pg/v0.20.0/css/common.css
  opentelemetry-instrumentation-pg/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-pg/v0.20.0/css/style.css
  opentelemetry-instrumentation-pg/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-pg/v0.20.0/file.README.html
  opentelemetry-instrumentation-pg/v0.20.0/file_list.html
  opentelemetry-instrumentation-pg/v0.20.0/frames.html
  opentelemetry-instrumentation-pg/v0.20.0/index.html
  opentelemetry-instrumentation-pg/v0.20.0/js/app.js
  opentelemetry-instrumentation-pg/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-pg/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-pg/v0.20.0/method_list.html
  opentelemetry-instrumentation-pg/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-que 0.3.0
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Instrumentation.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Middlewares.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Middlewares/ServerMiddleware.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Patches.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Patches/Poller.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Patches/QueJob.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/Patches/QueJob/ClassMethods.html
  opentelemetry-instrumentation-que/v0.3.0/OpenTelemetry/Instrumentation/Que/TagSetter.html
  opentelemetry-instrumentation-que/v0.3.0/_index.html
  opentelemetry-instrumentation-que/v0.3.0/class_list.html
  opentelemetry-instrumentation-que/v0.3.0/css/common.css
  opentelemetry-instrumentation-que/v0.3.0/css/full_list.css
  opentelemetry-instrumentation-que/v0.3.0/css/style.css
  opentelemetry-instrumentation-que/v0.3.0/file.CHANGELOG.html
  opentelemetry-instrumentation-que/v0.3.0/file.README.html
  opentelemetry-instrumentation-que/v0.3.0/file_list.html
  opentelemetry-instrumentation-que/v0.3.0/frames.html
  opentelemetry-instrumentation-que/v0.3.0/index.html
  opentelemetry-instrumentation-que/v0.3.0/js/app.js
  opentelemetry-instrumentation-que/v0.3.0/js/full_list.js
  opentelemetry-instrumentation-que/v0.3.0/js/jquery.js
  opentelemetry-instrumentation-que/v0.3.0/method_list.html
  opentelemetry-instrumentation-que/v0.3.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rack 0.20.2
  404.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack/Instrumentation.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack/Middlewares.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack/Util.html
  opentelemetry-instrumentation-rack/v0.20.2/OpenTelemetry/Instrumentation/Rack/Util/QueueTime.html
  opentelemetry-instrumentation-rack/v0.20.2/_index.html
  opentelemetry-instrumentation-rack/v0.20.2/class_list.html
  opentelemetry-instrumentation-rack/v0.20.2/css/common.css
  opentelemetry-instrumentation-rack/v0.20.2/css/full_list.css
  opentelemetry-instrumentation-rack/v0.20.2/css/style.css
  opentelemetry-instrumentation-rack/v0.20.2/file.CHANGELOG.html
  opentelemetry-instrumentation-rack/v0.20.2/file.README.html
  opentelemetry-instrumentation-rack/v0.20.2/file_list.html
  opentelemetry-instrumentation-rack/v0.20.2/frames.html
  opentelemetry-instrumentation-rack/v0.20.2/index.html
  opentelemetry-instrumentation-rack/v0.20.2/js/app.js
  opentelemetry-instrumentation-rack/v0.20.2/js/full_list.js
  opentelemetry-instrumentation-rack/v0.20.2/js/jquery.js
  opentelemetry-instrumentation-rack/v0.20.2/method_list.html
  opentelemetry-instrumentation-rack/v0.20.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rails 0.21.0
  404.html
  opentelemetry-instrumentation-rails/v0.21.0/OpenTelemetry.html
  opentelemetry-instrumentation-rails/v0.21.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.21.0/OpenTelemetry/Instrumentation/Rails.html
  opentelemetry-instrumentation-rails/v0.21.0/OpenTelemetry/Instrumentation/Rails/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.21.0/OpenTelemetry/Instrumentation/Rails/Railtie.html
  opentelemetry-instrumentation-rails/v0.21.0/_index.html
  opentelemetry-instrumentation-rails/v0.21.0/class_list.html
  opentelemetry-instrumentation-rails/v0.21.0/css/common.css
  opentelemetry-instrumentation-rails/v0.21.0/css/full_list.css
  opentelemetry-instrumentation-rails/v0.21.0/css/style.css
  opentelemetry-instrumentation-rails/v0.21.0/file.CHANGELOG.html
  opentelemetry-instrumentation-rails/v0.21.0/file.README.html
  opentelemetry-instrumentation-rails/v0.21.0/file_list.html
  opentelemetry-instrumentation-rails/v0.21.0/frames.html
  opentelemetry-instrumentation-rails/v0.21.0/index.html
  opentelemetry-instrumentation-rails/v0.21.0/js/app.js
  opentelemetry-instrumentation-rails/v0.21.0/js/full_list.js
  opentelemetry-instrumentation-rails/v0.21.0/js/jquery.js
  opentelemetry-instrumentation-rails/v0.21.0/method_list.html
  opentelemetry-instrumentation-rails/v0.21.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-redis 0.22.0
  404.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry/Instrumentation/Redis.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry/Instrumentation/Redis/Instrumentation.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry/Instrumentation/Redis/Patches.html
  opentelemetry-instrumentation-redis/v0.22.0/OpenTelemetry/Instrumentation/Redis/Patches/Client.html
  opentelemetry-instrumentation-redis/v0.22.0/_index.html
  opentelemetry-instrumentation-redis/v0.22.0/class_list.html
  opentelemetry-instrumentation-redis/v0.22.0/css/common.css
  opentelemetry-instrumentation-redis/v0.22.0/css/full_list.css
  opentelemetry-instrumentation-redis/v0.22.0/css/style.css
  opentelemetry-instrumentation-redis/v0.22.0/file.CHANGELOG.html
  opentelemetry-instrumentation-redis/v0.22.0/file.README.html
  opentelemetry-instrumentation-redis/v0.22.0/file_list.html
  opentelemetry-instrumentation-redis/v0.22.0/frames.html
  opentelemetry-instrumentation-redis/v0.22.0/index.html
  opentelemetry-instrumentation-redis/v0.22.0/js/app.js
  opentelemetry-instrumentation-redis/v0.22.0/js/full_list.js
  opentelemetry-instrumentation-redis/v0.22.0/js/jquery.js
  opentelemetry-instrumentation-redis/v0.22.0/method_list.html
  opentelemetry-instrumentation-redis/v0.22.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-restclient 0.19.4
  404.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry/Instrumentation/RestClient.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry/Instrumentation/RestClient/Instrumentation.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry/Instrumentation/RestClient/Patches.html
  opentelemetry-instrumentation-restclient/v0.19.4/OpenTelemetry/Instrumentation/RestClient/Patches/Request.html
  opentelemetry-instrumentation-restclient/v0.19.4/_index.html
  opentelemetry-instrumentation-restclient/v0.19.4/class_list.html
  opentelemetry-instrumentation-restclient/v0.19.4/css/common.css
  opentelemetry-instrumentation-restclient/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-restclient/v0.19.4/css/style.css
  opentelemetry-instrumentation-restclient/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-restclient/v0.19.4/file.README.html
  opentelemetry-instrumentation-restclient/v0.19.4/file_list.html
  opentelemetry-instrumentation-restclient/v0.19.4/frames.html
  opentelemetry-instrumentation-restclient/v0.19.4/index.html
  opentelemetry-instrumentation-restclient/v0.19.4/js/app.js
  opentelemetry-instrumentation-restclient/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-restclient/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-restclient/v0.19.4/method_list.html
  opentelemetry-instrumentation-restclient/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-ruby_kafka 0.18.6
  opentelemetry-instrumentation-rspec/v0.1.0/OpenTelemetry.html
  opentelemetry-instrumentation-rspec/v0.1.0/OpenTelemetry/Instrumentation/RSpec/Formatter.html
  opentelemetry-instrumentation-rspec/v0.1.0/file.CHANGELOG.html
  opentelemetry-instrumentation-rspec/v0.1.0/file.README.html
  opentelemetry-instrumentation-rspec/v0.1.0/index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Instrumentation.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Patches.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Patches/Client.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Patches/Consumer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Patches/Producer.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/OpenTelemetry/Instrumentation/RubyKafka/Utils.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/_index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/class_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/css/common.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/css/full_list.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/css/style.css
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/file.CHANGELOG.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/file.README.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/file_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/frames.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/index.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/js/app.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/js/full_list.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/js/jquery.js
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/method_list.html
  opentelemetry-instrumentation-ruby_kafka/v0.18.6/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-sidekiq 0.21.0
  404.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Patches.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Launcher.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Poller.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Processor.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/_index.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/class_list.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/css/common.css
  opentelemetry-instrumentation-sidekiq/v0.21.0/css/full_list.css
  opentelemetry-instrumentation-sidekiq/v0.21.0/css/style.css
  opentelemetry-instrumentation-sidekiq/v0.21.0/file.CHANGELOG.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/file.README.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/file_list.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/frames.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/index.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/js/app.js
  opentelemetry-instrumentation-sidekiq/v0.21.0/js/full_list.js
  opentelemetry-instrumentation-sidekiq/v0.21.0/js/jquery.js
  opentelemetry-instrumentation-sidekiq/v0.21.0/method_list.html
  opentelemetry-instrumentation-sidekiq/v0.21.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-sinatra 0.19.4
  404.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra/Extensions.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra/Extensions/TracerExtension.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra/Instrumentation.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra/Middlewares.html
  opentelemetry-instrumentation-sinatra/v0.19.4/OpenTelemetry/Instrumentation/Sinatra/Middlewares/TracerMiddleware.html
  opentelemetry-instrumentation-sinatra/v0.19.4/_index.html
  opentelemetry-instrumentation-sinatra/v0.19.4/class_list.html
  opentelemetry-instrumentation-sinatra/v0.19.4/css/common.css
  opentelemetry-instrumentation-sinatra/v0.19.4/css/full_list.css
  opentelemetry-instrumentation-sinatra/v0.19.4/css/style.css
  opentelemetry-instrumentation-sinatra/v0.19.4/file.CHANGELOG.html
  opentelemetry-instrumentation-sinatra/v0.19.4/file.README.html
  opentelemetry-instrumentation-sinatra/v0.19.4/file_list.html
  opentelemetry-instrumentation-sinatra/v0.19.4/frames.html
  opentelemetry-instrumentation-sinatra/v0.19.4/index.html
  opentelemetry-instrumentation-sinatra/v0.19.4/js/app.js
  opentelemetry-instrumentation-sinatra/v0.19.4/js/full_list.js
  opentelemetry-instrumentation-sinatra/v0.19.4/js/jquery.js
  opentelemetry-instrumentation-sinatra/v0.19.4/method_list.html
  opentelemetry-instrumentation-sinatra/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-propagator-jaeger 0.19.4
  opentelemetry-propagator-jaeger/v0.19.4/OpenTelemetry.html
  opentelemetry-propagator-jaeger/v0.19.4/OpenTelemetry/Propagator.html
  opentelemetry-propagator-jaeger/v0.19.4/OpenTelemetry/Propagator/Jaeger.html
  opentelemetry-propagator-jaeger/v0.19.4/OpenTelemetry/Propagator/Jaeger/TextMapPropagator.html
  opentelemetry-propagator-jaeger/v0.19.4/_index.html
  opentelemetry-propagator-jaeger/v0.19.4/class_list.html
  opentelemetry-propagator-jaeger/v0.19.4/css/common.css
  opentelemetry-propagator-jaeger/v0.19.4/css/full_list.css
  opentelemetry-propagator-jaeger/v0.19.4/css/style.css
  opentelemetry-propagator-jaeger/v0.19.4/file.CHANGELOG.html
  opentelemetry-propagator-jaeger/v0.19.4/file.README.html
  opentelemetry-propagator-jaeger/v0.19.4/file_list.html
  opentelemetry-propagator-jaeger/v0.19.4/frames.html
  opentelemetry-propagator-jaeger/v0.19.4/index.html
  opentelemetry-propagator-jaeger/v0.19.4/js/app.js
  opentelemetry-propagator-jaeger/v0.19.4/js/full_list.js
  opentelemetry-propagator-jaeger/v0.19.4/js/jquery.js
  opentelemetry-propagator-jaeger/v0.19.4/method_list.html
  opentelemetry-propagator-jaeger/v0.19.4/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-resource_detectors 0.20.0
  404.html
  opentelemetry-resource_detectors/v0.20.0/OpenTelemetry.html
  opentelemetry-resource_detectors/v0.20.0/OpenTelemetry/Resource.html
  opentelemetry-resource_detectors/v0.20.0/OpenTelemetry/Resource/Detectors.html
  opentelemetry-resource_detectors/v0.20.0/OpenTelemetry/Resource/Detectors/AutoDetector.html
  opentelemetry-resource_detectors/v0.20.0/OpenTelemetry/Resource/Detectors/GoogleCloudPlatform.html
  opentelemetry-resource_detectors/v0.20.0/_index.html
  opentelemetry-resource_detectors/v0.20.0/class_list.html
  opentelemetry-resource_detectors/v0.20.0/css/common.css
  opentelemetry-resource_detectors/v0.20.0/css/full_list.css
  opentelemetry-resource_detectors/v0.20.0/css/style.css
  opentelemetry-resource_detectors/v0.20.0/file.CHANGELOG.html
  opentelemetry-resource_detectors/v0.20.0/file.README.html
  opentelemetry-resource_detectors/v0.20.0/file_list.html
  opentelemetry-resource_detectors/v0.20.0/frames.html
  opentelemetry-resource_detectors/v0.20.0/index.html
  opentelemetry-resource_detectors/v0.20.0/js/app.js
  opentelemetry-resource_detectors/v0.20.0/js/full_list.js
  opentelemetry-resource_detectors/v0.20.0/js/jquery.js
  opentelemetry-resource_detectors/v0.20.0/method_list.html
  opentelemetry-resource_detectors/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-mysql2 0.20.1
  instrumentation/mysql2/CHANGELOG.md
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: mysql changelog
  instrumentation/mysql2/CHANGELOG.md
Owners: @signalfx/docs

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
