Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

add error test
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

remove temp
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: linting
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix typo
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

remove comment
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix rubocop issues
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add diagnostic log in case of an error
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

change log to be informative
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Link to website spec pages
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

feat: add dalli obfuscation for db_statement (#1013)
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Link to website spec pages (#1018)
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Feat: Add custom getters to common (#1006)
  common/lib/opentelemetry/common.rb
  common/lib/opentelemetry/common/propagation.rb
  common/lib/opentelemetry/common/propagation/rack_env_getter.rb
  common/lib/opentelemetry/common/propagation/symbol_key_getter.rb
  common/test/opentelemetry/common/propagation/rack_env_getter_test.rb
  common/test/opentelemetry/common/propagation/symbol_key_getter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: split calculate_span to 2 methods
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(aws-sdk): get_service_name safe navigation
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add an Appraisals file
  instrumentation/rspec/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add the formatter and tests
  instrumentation/rspec/Gemfile
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
  instrumentation/rspec/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add boilerplate for new gem
  instrumentation/rspec/.rubocop.yml
  instrumentation/rspec/.yardopts
  instrumentation/rspec/Appraisals
  instrumentation/rspec/CHANGELOG.md
  instrumentation/rspec/Gemfile
  instrumentation/rspec/LICENSE
  instrumentation/rspec/README.md
  instrumentation/rspec/Rakefile
  instrumentation/rspec/lib/opentelemetry-instrumentation-rspec.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/instrumentation.rb
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/version.rb
  instrumentation/rspec/opentelemetry-instrumentation-rspec.gemspec
  instrumentation/rspec/test/.rubocop.yml
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/instrumentation_test.rb
  instrumentation/rspec/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

add example
  instrumentation/rspec/example/Gemfile
  instrumentation/rspec/example/rspec_with_rspec_formatter_configuration.rb
  instrumentation/rspec/example/rspec_with_sdk_configure.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

move RSpec patches into specific file
  instrumentation/rspec/test/rspec_patches.rb
  instrumentation/rspec/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add auto-instrumentation behaviour
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/instrumentation.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add tests for passing context
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add to toys
  .toys/.data/releases.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

update the README to cover usage
  instrumentation/rspec/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

add a section on Sampling to the README
  instrumentation/rspec/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

add missing assertion
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add a prefix to rspec span attributes
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

failures set the span status code to ERROR
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

extract span tracking to a helper method
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

set the version number to 0.0.1
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

use a more descriptive tracer name
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

support optional tracer providers
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

set an internal clock at #initialize
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

show how multiple trace providers can work with
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

remove redundant statement
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add test failure message to otel status description
  instrumentation/rspec/lib/opentelemetry/instrumentation/rspec/formatter.rb
  instrumentation/rspec/test/opentelemetry/instrumentation/rspec/formatter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix spec
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

[website_docs] Link to website page via path
  website_docs/context_propagation.md
Owners: @signalfx/docs

fix: resolve Dalli::Server deprecation in 3.0+
  instrumentation/dalli/Appraisals
  instrumentation/dalli/gemfiles/dalli_3.0.gemfile
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
  instrumentation/dalli/opentelemetry-instrumentation-dalli.gemspec
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add dynamodb 'db.system'
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/db_helper.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
