Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

use correct context in context_with_span method
  api/lib/opentelemetry/trace/propagation/trace_context/text_map_propagator.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add test for propagator extract fix
  api/test/opentelemetry/trace/propagation/trace_context/text_map_propagator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: text map propagator extraction should use argument context (#1067)
  api/lib/opentelemetry/trace/propagation/trace_context/text_map_propagator.rb
  api/test/opentelemetry/trace/propagation/trace_context/text_map_propagator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Allow OTLP Exporter compression value of `none` (#1064)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: upgrade appraisals to rails 7 (#1066)
  instrumentation/action_pack/Appraisals
  instrumentation/action_view/Appraisals
  instrumentation/active_job/Appraisals
  instrumentation/active_support/Appraisals
  instrumentation/rails/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: Don't error on non-string/utf8 kafka message keys (#1059)
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/client.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/patches/consumer.rb
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/utils.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/client_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/patches/consumer_test.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/utils_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Add Trilogy Auto Instrumentation (#1063)
  .github/workflows/ci-without-services.yml
  .toys/.data/releases.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/trilogy/.rubocop.yml
  instrumentation/trilogy/.yardopts
  instrumentation/trilogy/Appraisals
  instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/Gemfile
  instrumentation/trilogy/LICENSE
  instrumentation/trilogy/README.md
  instrumentation/trilogy/Rakefile
  instrumentation/trilogy/lib/opentelemetry-instrumentation-trilogy.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/instrumentation.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
  instrumentation/trilogy/opentelemetry-instrumentation-trilogy.gemspec
  instrumentation/trilogy/test/.rubocop.yml
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
  instrumentation/trilogy/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

docs: Be explicit about current span in manual instrumentation doc (#1061)
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Update instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix queue_name method
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/messaging_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

use private const SEND_MESSAGE_CLIENT_METHODS
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 2 gems
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
  instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add max faraday version to tests to prevent koala breaking on faraday 2.0, to be removed once koala itself fixes versioning
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add max faraday version to tests to prevent koala breaking on faraday 2.0, to be removed once koala itself fixes versioning (#1070)
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: make sure we require the ruby2_keywords
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Rails 7
  instrumentation/active_record/Appraisals
  instrumentation/active_record/gemfiles/activerecord_7.0.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip:
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_record/test/instrumentation/active_record/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: make delegation work for active-record
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/persistence_insert_class_methods.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: add appraisal, add ruby2_keywords compat gem, change test
  instrumentation/active_record/Appraisals
  instrumentation/active_record/gemfiles/activerecord_7.0.gemfile
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/persistence_insert_class_methods.rb
  instrumentation/active_record/opentelemetry-instrumentation-active_record.gemspec
  instrumentation/active_record/test/instrumentation/active_record/patches/querying_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: move faraday patch into appraisals for koala instrumentation
  instrumentation/koala/Appraisals
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: linting
  instrumentation/koala/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: `ActiveSupport` constant conflict in Active Model Serializers instrumentation
  instrumentation/active_model_serializers/lib/opentelemetry/instrumentation/active_model_serializers/instrumentation.rb
  instrumentation/all/Gemfile
  instrumentation/all/test/opentelemetry/instrumentation/all_test.rb
  instrumentation/all/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Bump public version
  instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/version.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/trilogy/CHANGELOG.md
  instrumentation/trilogy/CHANGELOG.md
Owners: @signalfx/docs

fix: `ActiveSupport` constant conflict in Active Model Serializers instrumentation (#1072)
  instrumentation/active_model_serializers/lib/opentelemetry/instrumentation/active_model_serializers/instrumentation.rb
  instrumentation/all/Gemfile
  instrumentation/all/test/opentelemetry/instrumentation/all_test.rb
  instrumentation/all/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-trilogy 0.50.0
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry.html
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry/Instrumentation/Trilogy.html
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry/Instrumentation/Trilogy/Instrumentation.html
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry/Instrumentation/Trilogy/Patches.html
  opentelemetry-instrumentation-trilogy/v0.50.0/OpenTelemetry/Instrumentation/Trilogy/Patches/Client.html
  opentelemetry-instrumentation-trilogy/v0.50.0/_index.html
  opentelemetry-instrumentation-trilogy/v0.50.0/class_list.html
  opentelemetry-instrumentation-trilogy/v0.50.0/css/common.css
  opentelemetry-instrumentation-trilogy/v0.50.0/css/full_list.css
  opentelemetry-instrumentation-trilogy/v0.50.0/css/style.css
  opentelemetry-instrumentation-trilogy/v0.50.0/file.CHANGELOG.html
  opentelemetry-instrumentation-trilogy/v0.50.0/file.README.html
  opentelemetry-instrumentation-trilogy/v0.50.0/file_list.html
  opentelemetry-instrumentation-trilogy/v0.50.0/frames.html
  opentelemetry-instrumentation-trilogy/v0.50.0/index.html
  opentelemetry-instrumentation-trilogy/v0.50.0/js/app.js
  opentelemetry-instrumentation-trilogy/v0.50.0/js/full_list.js
  opentelemetry-instrumentation-trilogy/v0.50.0/js/jquery.js
  opentelemetry-instrumentation-trilogy/v0.50.0/method_list.html
  opentelemetry-instrumentation-trilogy/v0.50.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-semantic_conventions 1.6.2
  semantic_conventions/CHANGELOG.md
  semantic_conventions/lib/opentelemetry/semantic_conventions/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-semantic_conventions 1.8.0
  semantic_conventions/CHANGELOG.md
Owners: @signalfx/docs

Generate yardocs for opentelemetry-semantic_conventions 1.8.0
  opentelemetry-semantic_conventions/v1.8.0/OpenTelemetry.html
  opentelemetry-semantic_conventions/v1.8.0/OpenTelemetry/SemanticConventions.html
  opentelemetry-semantic_conventions/v1.8.0/OpenTelemetry/SemanticConventions/Resource.html
  opentelemetry-semantic_conventions/v1.8.0/OpenTelemetry/SemanticConventions/Trace.html
  opentelemetry-semantic_conventions/v1.8.0/_index.html
  opentelemetry-semantic_conventions/v1.8.0/class_list.html
  opentelemetry-semantic_conventions/v1.8.0/css/common.css
  opentelemetry-semantic_conventions/v1.8.0/css/full_list.css
  opentelemetry-semantic_conventions/v1.8.0/css/style.css
  opentelemetry-semantic_conventions/v1.8.0/file.CHANGELOG.html
  opentelemetry-semantic_conventions/v1.8.0/file.README.html
  opentelemetry-semantic_conventions/v1.8.0/file_list.html
  opentelemetry-semantic_conventions/v1.8.0/frames.html
  opentelemetry-semantic_conventions/v1.8.0/index.html
  opentelemetry-semantic_conventions/v1.8.0/js/app.js
  opentelemetry-semantic_conventions/v1.8.0/js/full_list.js
  opentelemetry-semantic_conventions/v1.8.0/js/jquery.js
  opentelemetry-semantic_conventions/v1.8.0/method_list.html
  opentelemetry-semantic_conventions/v1.8.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: update server instrumentation to not reflect 400 status as error
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
  instrumentation/sinatra/lib/opentelemetry/instrumentation/sinatra/middlewares/tracer_middleware.rb
  instrumentation/sinatra/test/opentelemetry/instrumentation/sinatra_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: fix typo in tests
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: update server instrumentation to not reflect 400 status as error (#1076)
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb
  instrumentation/rack/test/opentelemetry/instrumentation/rack/middlewares/tracer_middleware_test.rb
  instrumentation/sinatra/lib/opentelemetry/instrumentation/sinatra/middlewares/tracer_middleware.rb
  instrumentation/sinatra/test/opentelemetry/instrumentation/sinatra_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fixing a minor typo
  website_docs/getting_started.md
Owners: @signalfx/docs

fix: Default scheme for OTLP endpoint
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix tests
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Trilogy Driver Options
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix stubs
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Trilogy Driver Options (#1080)
  instrumentation/trilogy/lib/opentelemetry/instrumentation/trilogy/patches/client.rb
  instrumentation/trilogy/test/opentelemetry/instrumentation/trilogy/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Add autoinstrumentation doc (#1060)
  website_docs/configuring_automatic_instrumentation.md
  website_docs/getting_started.md
Owners: @signalfx/docs
