Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

support truncating attributes in links and events
  sdk/CHANGELOG.md
  sdk/lib/opentelemetry/sdk/internal.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/lib/opentelemetry/sdk/trace/span_limits.rb
  sdk/test/opentelemetry/sdk/trace/span_limits_test.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
  sdk/test/opentelemetry/sdk/trace/tracer_test.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

use assert_nil to test for nil span_limit
  sdk/test/opentelemetry/sdk/trace/span_limits_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

check that variable is a string before truncating
  common/lib/opentelemetry/common/utilities.rb
  sdk/lib/opentelemetry/sdk/internal.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

lint fixes
  instrumentation/rdkafka/example/rdkafka_trace_demonstration.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/instrumentation.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/consumer.rb
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/consumer_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: update pg instrumentation to handle non primitive argument
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
  instrumentation/pg/opentelemetry-instrumentation-pg.gemspec
  instrumentation/pg/test/opentelemetry/instrumentation/pg/instrumentation_test.rb
  instrumentation/pg/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: fix tests
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: linting
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: the most middleground change on pg instrumentation nobody asked for
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: rubocops
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

update default max packetsize to 64k to prevent too big packets sent
  exporter/jaeger/README.md
  exporter/jaeger/lib/opentelemetry/exporter/jaeger/agent_exporter.rb
  exporter/jaeger/test/opentelemetry/exporters/jaeger/agent_exporter_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

move attribute value string check before truncation
  common/lib/opentelemetry/common/utilities.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/lib/opentelemetry/sdk/trace/span.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

attribute length limit: only truncate strings and strings in arrays (#1140)
  common/CHANGELOG.md
  common/lib/opentelemetry/common/utilities.rb
  sdk/CHANGELOG.md
  sdk/lib/opentelemetry/sdk/trace/span.rb
  sdk/test/opentelemetry/sdk/trace/span_test.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: make sure we call to_s on obufscate_sql return
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/patches/connection.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: log rpc.Status in OTLP exporter
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix stuff & things
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(bunny): Update appraisal gemfile
  instrumentation/bunny/gemfiles/bunny_2.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix(excon): Fix error with upper-case HTTP methods
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
  instrumentation/excon/test/opentelemetry/instrumentation/excon/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat(active_job): Make the context available in ActiveJob notifications
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/active_job_callbacks.rb
  instrumentation/active_job/test/instrumentation/active_job/patches/active_job_callbacks_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat(active_job): Make the context available in ActiveJob v7 notifications
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/active_job_callbacks.rb
  instrumentation/active_job/test/instrumentation/active_job/patches/active_job_callbacks_test.rb
  instrumentation/active_job/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(active_job): Update Appraisal Gemfiles
  instrumentation/active_job/gemfiles/activejob_5.2.gemfile
  instrumentation/active_job/gemfiles/activejob_6.0.gemfile
  instrumentation/active_job/gemfiles/activejob_6.1.gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Appease the Rubocop
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/active_job_callbacks.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

s/job/self/
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/active_job_callbacks.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix indentation width
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/active_job_callbacks.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix(active_job): Fix deserialization of jobs that are missing metadata
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches/base.rb
  instrumentation/active_job/test/instrumentation/active_job/patches/base_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Restclient invalid span attribute type Symbol
  instrumentation/restclient/lib/opentelemetry/instrumentation/restclient/patches/request.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

perf(excon): Reduce memory allocation for span names
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor(excon): Use frozen hashes for constants in TracerMiddleware
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add test
  instrumentation/restclient/test/opentelemetry/instrumentation/restclient/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Rename GH Action to disambiguate it in the UI
  .github/workflows/ci-without-services.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix(bunny): Accept both string and symbol exchange names
  instrumentation/bunny/lib/opentelemetry/instrumentation/bunny/patch_helpers.rb
  instrumentation/bunny/test/opentelemetry/instrumentation/bunny/patches/channel_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test(api): Fix Minitest warning
  api/test/opentelemetry/baggage/propagation/text_map_propagator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

perf(api): Return without exceptions from TextMapPropagator#extract
  api/lib/opentelemetry/trace/propagation/trace_context/text_map_propagator.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

refactor: Reduce exception handling in `TextMapPropagator#extract` API (#1153)
  api/lib/opentelemetry/trace/propagation/trace_context/text_map_propagator.rb
  api/test/opentelemetry/baggage/propagation/text_map_propagator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Validate Using Enums (#1132)
  instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/instrumentation.rb
  instrumentation/base/lib/opentelemetry/instrumentation/registry.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/lmdb/lib/opentelemetry/instrumentation/lmdb/instrumentation.rb
  instrumentation/mongo/lib/opentelemetry/instrumentation/mongo/instrumentation.rb
  instrumentation/pg/lib/opentelemetry/instrumentation/pg/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
  instrumentation/resque/lib/opentelemetry/instrumentation/resque/instrumentation.rb
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Allow HTTP method to be passed as string
  instrumentation/excon/lib/opentelemetry/instrumentation/excon/middlewares/tracer_middleware.rb
  instrumentation/excon/test/opentelemetry/instrumentation/excon/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Rename GH Action to disambiguate it in the UI (#1156)
  .github/workflows/ci-without-services.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Jaeger propagator doesn't handle missing trace id header
  propagator/jaeger/lib/opentelemetry/propagator/jaeger/text_map_propagator.rb
  propagator/jaeger/test/text_map_propagator_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
