Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

feat: gracefully flush provider on sidekiq shutdown event (#914)
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-sidekiq 0.20.0
  instrumentation/sidekiq/CHANGELOG.md
  instrumentation/sidekiq/lib/opentelemetry/instrumentation/sidekiq/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation all sidekiq
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation all sidekiq (#923)
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 2 gems
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.20.1
  404.html
  opentelemetry-instrumentation-all/v0.20.1/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.20.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.20.1/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.20.1/_index.html
  opentelemetry-instrumentation-all/v0.20.1/class_list.html
  opentelemetry-instrumentation-all/v0.20.1/css/common.css
  opentelemetry-instrumentation-all/v0.20.1/css/full_list.css
  opentelemetry-instrumentation-all/v0.20.1/css/style.css
  opentelemetry-instrumentation-all/v0.20.1/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.20.1/file.README.html
  opentelemetry-instrumentation-all/v0.20.1/file_list.html
  opentelemetry-instrumentation-all/v0.20.1/frames.html
  opentelemetry-instrumentation-all/v0.20.1/index.html
  opentelemetry-instrumentation-all/v0.20.1/js/app.js
  opentelemetry-instrumentation-all/v0.20.1/js/full_list.js
  opentelemetry-instrumentation-all/v0.20.1/js/jquery.js
  opentelemetry-instrumentation-all/v0.20.1/method_list.html
  opentelemetry-instrumentation-all/v0.20.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: OTLP exporter missing failure metrics
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-sidekiq 0.20.0
  404.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Instrumentation.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Client/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Middlewares/Server/TracerMiddleware.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Patches.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Launcher.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Poller.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/OpenTelemetry/Instrumentation/Sidekiq/Patches/Processor.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/_index.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/class_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/css/common.css
  opentelemetry-instrumentation-sidekiq/v0.20.0/css/full_list.css
  opentelemetry-instrumentation-sidekiq/v0.20.0/css/style.css
  opentelemetry-instrumentation-sidekiq/v0.20.0/file.CHANGELOG.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/file.README.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/file_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/frames.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/index.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/js/app.js
  opentelemetry-instrumentation-sidekiq/v0.20.0/js/full_list.js
  opentelemetry-instrumentation-sidekiq/v0.20.0/js/jquery.js
  opentelemetry-instrumentation-sidekiq/v0.20.0/method_list.html
  opentelemetry-instrumentation-sidekiq/v0.20.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: OTLP exporter missing failure metrics (#925)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-exporter-otlp 0.20.3
  exporter/otlp/CHANGELOG.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-exporter-otlp 0.20.3
  404.html
  opentelemetry-exporter-otlp/v0.20.3/OpenTelemetry.html
  opentelemetry-exporter-otlp/v0.20.3/OpenTelemetry/Exporter.html
  opentelemetry-exporter-otlp/v0.20.3/OpenTelemetry/Exporter/OTLP.html
  opentelemetry-exporter-otlp/v0.20.3/OpenTelemetry/Exporter/OTLP/Exporter.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Collector.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Collector/Trace.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Collector/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Common.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Common/V1.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Resource.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Resource/V1.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Trace.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry/Proto/Trace/V1.html
  opentelemetry-exporter-otlp/v0.20.3/Opentelemetry_.html
  opentelemetry-exporter-otlp/v0.20.3/_index.html
  opentelemetry-exporter-otlp/v0.20.3/class_list.html
  opentelemetry-exporter-otlp/v0.20.3/css/common.css
  opentelemetry-exporter-otlp/v0.20.3/css/full_list.css
  opentelemetry-exporter-otlp/v0.20.3/css/style.css
  opentelemetry-exporter-otlp/v0.20.3/file.CHANGELOG.html
  opentelemetry-exporter-otlp/v0.20.3/file.README.html
  opentelemetry-exporter-otlp/v0.20.3/file_list.html
  opentelemetry-exporter-otlp/v0.20.3/frames.html
  opentelemetry-exporter-otlp/v0.20.3/index.html
  opentelemetry-exporter-otlp/v0.20.3/js/app.js
  opentelemetry-exporter-otlp/v0.20.3/js/full_list.js
  opentelemetry-exporter-otlp/v0.20.3/js/jquery.js
  opentelemetry-exporter-otlp/v0.20.3/method_list.html
  opentelemetry-exporter-otlp/v0.20.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Add CodeQL Actions Ruby Beta
  .github/workflows/codeql.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Remove duplicate declaration of workflow_dispatch
  .github/workflows/codeql.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Use 4318 as the default OLTP exporter port
  exporter/otlp/README.md
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: trace update_all and delete_all calls in ActiveRecord (#917)
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/instrumentation.rb
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/relation_persistence.rb
  instrumentation/active_record/test/instrumentation/active_record/patches/relation_persistence_test.rb
  instrumentation/active_record/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add Que instrumentation
  .github/workflows/ci-without-services.yml
  .toys/.data/releases.yml
  docker-compose.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/que/.gitignore
  instrumentation/que/.rubocop.yml
  instrumentation/que/.yardopts
  instrumentation/que/Appraisals
  instrumentation/que/CHANGELOG.md
  instrumentation/que/Gemfile
  instrumentation/que/LICENSE
  instrumentation/que/README.md
  instrumentation/que/Rakefile
  instrumentation/que/example/Gemfile
  instrumentation/que/example/example.rb
  instrumentation/que/example/run.sh
  instrumentation/que/gemfiles/que_1.0.gemfile
  instrumentation/que/lib/opentelemetry-instrumentation-que.rb
  instrumentation/que/lib/opentelemetry/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/middlewares/server_middleware.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/patches/que_job.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/tag_setter.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/version.rb
  instrumentation/que/opentelemetry-instrumentation-que.gemspec
  instrumentation/que/test/.rubocop.yml
  instrumentation/que/test/opentelemetry/instrumentation/que_test.rb
  instrumentation/que/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Exporter should use gzip compression by default
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: bump rubocop version to ~> 1.0
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: install Faraday middleware to run first
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/patches/rack_builder.rb
  instrumentation/faraday/test/opentelemetry/instrumentation/faraday_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: update approver corp affiliation
  README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update README.md
  README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

chore: update approver corp affiliation (#937)
  README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: keep subscriptions intact when patching
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/fanout.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip: lint
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Add CodeQL Actions Ruby Beta
  .github/workflows/codeql.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Add CodeQL Actions Ruby Beta (#931)
  .github/workflows/codeql.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: instrumentation helpers gem[wip]
  instrumentation_helpers/CHANGELOG.md
  instrumentation_helpers/Gemfile
  instrumentation_helpers/LICENSE
  instrumentation_helpers/README.md
  instrumentation_helpers/Rakefile
  instrumentation_helpers/lib/opentelemetry-instrumentation_helpers.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/instrumentation_options.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/request_attributes.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/version.rb
  instrumentation_helpers/opentelemetry-instrumentation_helpers.gemspec
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_instrumentation_options_test.rb
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_request_attributes_test.rb
  instrumentation_helpers/test/test_helper.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

fix: keep Active Support subscriptions intact when patching (#938)
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/fanout.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/test/opentelemetry/instrumentation/action_view/fanout_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release 3 gems
  instrumentation/action_view/CHANGELOG.md
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/version.rb
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
  instrumentation/rails/CHANGELOG.md
  instrumentation/rails/lib/opentelemetry/instrumentation/rails/version.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Bump dependencies
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rails/opentelemetry-instrumentation-rails.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-action_view 0.1.1
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation/ActionView.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation/ActionView/Fanout.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation/ActionView/Instrumentation.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation/ActionView/Railtie.html
  opentelemetry-instrumentation-action_view/v0.1.1/OpenTelemetry/Instrumentation/ActionView/SpanSubscriber.html
  opentelemetry-instrumentation-action_view/v0.1.1/_index.html
  opentelemetry-instrumentation-action_view/v0.1.1/class_list.html
  opentelemetry-instrumentation-action_view/v0.1.1/css/common.css
  opentelemetry-instrumentation-action_view/v0.1.1/css/full_list.css
  opentelemetry-instrumentation-action_view/v0.1.1/css/style.css
  opentelemetry-instrumentation-action_view/v0.1.1/file.CHANGELOG.html
  opentelemetry-instrumentation-action_view/v0.1.1/file.README.html
  opentelemetry-instrumentation-action_view/v0.1.1/file_list.html
  opentelemetry-instrumentation-action_view/v0.1.1/frames.html
  opentelemetry-instrumentation-action_view/v0.1.1/index.html
  opentelemetry-instrumentation-action_view/v0.1.1/js/app.js
  opentelemetry-instrumentation-action_view/v0.1.1/js/full_list.js
  opentelemetry-instrumentation-action_view/v0.1.1/js/jquery.js
  opentelemetry-instrumentation-action_view/v0.1.1/method_list.html
  opentelemetry-instrumentation-action_view/v0.1.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.20.2
  404.html
  opentelemetry-instrumentation-all/v0.20.2/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.20.2/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.20.2/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.20.2/_index.html
  opentelemetry-instrumentation-all/v0.20.2/class_list.html
  opentelemetry-instrumentation-all/v0.20.2/css/common.css
  opentelemetry-instrumentation-all/v0.20.2/css/full_list.css
  opentelemetry-instrumentation-all/v0.20.2/css/style.css
  opentelemetry-instrumentation-all/v0.20.2/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.20.2/file.README.html
  opentelemetry-instrumentation-all/v0.20.2/file_list.html
  opentelemetry-instrumentation-all/v0.20.2/frames.html
  opentelemetry-instrumentation-all/v0.20.2/index.html
  opentelemetry-instrumentation-all/v0.20.2/js/app.js
  opentelemetry-instrumentation-all/v0.20.2/js/full_list.js
  opentelemetry-instrumentation-all/v0.20.2/js/jquery.js
  opentelemetry-instrumentation-all/v0.20.2/method_list.html
  opentelemetry-instrumentation-all/v0.20.2/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-rails 0.19.1
  404.html
  opentelemetry-instrumentation-rails/v0.19.1/OpenTelemetry.html
  opentelemetry-instrumentation-rails/v0.19.1/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.1/OpenTelemetry/Instrumentation/Rails.html
  opentelemetry-instrumentation-rails/v0.19.1/OpenTelemetry/Instrumentation/Rails/Instrumentation.html
  opentelemetry-instrumentation-rails/v0.19.1/_index.html
  opentelemetry-instrumentation-rails/v0.19.1/class_list.html
  opentelemetry-instrumentation-rails/v0.19.1/css/common.css
  opentelemetry-instrumentation-rails/v0.19.1/css/full_list.css
  opentelemetry-instrumentation-rails/v0.19.1/css/style.css
  opentelemetry-instrumentation-rails/v0.19.1/file.CHANGELOG.html
  opentelemetry-instrumentation-rails/v0.19.1/file.README.html
  opentelemetry-instrumentation-rails/v0.19.1/file_list.html
  opentelemetry-instrumentation-rails/v0.19.1/frames.html
  opentelemetry-instrumentation-rails/v0.19.1/index.html
  opentelemetry-instrumentation-rails/v0.19.1/js/app.js
  opentelemetry-instrumentation-rails/v0.19.1/js/full_list.js
  opentelemetry-instrumentation-rails/v0.19.1/js/jquery.js
  opentelemetry-instrumentation-rails/v0.19.1/method_list.html
  opentelemetry-instrumentation-rails/v0.19.1/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add Que instrumentation (#918)
  .github/workflows/ci-without-services.yml
  .toys/.data/releases.yml
  docker-compose.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/que/.gitignore
  instrumentation/que/.rubocop.yml
  instrumentation/que/.yardopts
  instrumentation/que/Appraisals
  instrumentation/que/CHANGELOG.md
  instrumentation/que/Gemfile
  instrumentation/que/LICENSE
  instrumentation/que/README.md
  instrumentation/que/Rakefile
  instrumentation/que/example/Gemfile
  instrumentation/que/example/example.rb
  instrumentation/que/example/run.sh
  instrumentation/que/gemfiles/que_1.0.gemfile
  instrumentation/que/lib/opentelemetry-instrumentation-que.rb
  instrumentation/que/lib/opentelemetry/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/instrumentation.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/middlewares/server_middleware.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/patches/que_job.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/tag_setter.rb
  instrumentation/que/lib/opentelemetry/instrumentation/que/version.rb
  instrumentation/que/opentelemetry-instrumentation-que.gemspec
  instrumentation/que/test/.rubocop.yml
  instrumentation/que/test/opentelemetry/instrumentation/que_test.rb
  instrumentation/que/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

docs: @robbkidd PR feedback
  website_docs/_index.md
  website_docs/context_propagation.md
  website_docs/manual_instrumentation.md
  website_docs/quick_start.md
Owners: @signalfx/docs

docs: Update the quick start guide
  examples/otel-collector/.env
  examples/otel-collector/docker-compose.yaml
  examples/otel-collector/otel-collector-config.yaml
  website_docs/_index.md
  website_docs/context_propagation.md
  website_docs/events.md
  website_docs/manual_instrumentation.md
  website_docs/quick_start.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

feat: wip instrumentation helper
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/instrumentation_options.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/request_attributes.rb
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_request_attributes_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip add instrumentation helpers, update faraday
  instrumentation/faraday/Gemfile
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/instrumentation.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/instrumentation_options.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/request_attributes.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helper, fixing tests
  instrumentation/faraday/Gemfile
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/instrumentation.rb
  instrumentation/faraday/lib/opentelemetry/instrumentation/faraday/middlewares/tracer_middleware.rb
  instrumentation/http/Gemfile
  instrumentation/http/lib/opentelemetry/instrumentation/http.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/instrumentation.rb
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http_client/Gemfile
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/instrumentation.rb
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/patches/client.rb
  instrumentation/http_client/opentelemetry-instrumentation-http_client.gemspec
  instrumentation/net_http/Gemfile
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/instrumentation.rb
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_instrumentation_options_test.rb
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_request_attributes_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
