Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

release: Release 2 gems
  instrumentation/all/CHANGELOG.md
  instrumentation/all/lib/opentelemetry/instrumentation/all/version.rb
  instrumentation/que/CHANGELOG.md
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-all 0.21.0
  404.html
  opentelemetry-instrumentation-all/v0.21.0/OpenTelemetry.html
  opentelemetry-instrumentation-all/v0.21.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-all/v0.21.0/OpenTelemetry/Instrumentation/All.html
  opentelemetry-instrumentation-all/v0.21.0/_index.html
  opentelemetry-instrumentation-all/v0.21.0/class_list.html
  opentelemetry-instrumentation-all/v0.21.0/css/common.css
  opentelemetry-instrumentation-all/v0.21.0/css/full_list.css
  opentelemetry-instrumentation-all/v0.21.0/css/style.css
  opentelemetry-instrumentation-all/v0.21.0/file.CHANGELOG.html
  opentelemetry-instrumentation-all/v0.21.0/file.README.html
  opentelemetry-instrumentation-all/v0.21.0/file_list.html
  opentelemetry-instrumentation-all/v0.21.0/frames.html
  opentelemetry-instrumentation-all/v0.21.0/index.html
  opentelemetry-instrumentation-all/v0.21.0/js/app.js
  opentelemetry-instrumentation-all/v0.21.0/js/full_list.js
  opentelemetry-instrumentation-all/v0.21.0/js/jquery.js
  opentelemetry-instrumentation-all/v0.21.0/method_list.html
  opentelemetry-instrumentation-all/v0.21.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-instrumentation-que 0.1.0
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Instrumentation.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Middlewares.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Middlewares/ServerMiddleware.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Patches.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Patches/QueJob.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/Patches/QueJob/ClassMethods.html
  opentelemetry-instrumentation-que/v0.1.0/OpenTelemetry/Instrumentation/Que/TagSetter.html
  opentelemetry-instrumentation-que/v0.1.0/_index.html
  opentelemetry-instrumentation-que/v0.1.0/class_list.html
  opentelemetry-instrumentation-que/v0.1.0/css/common.css
  opentelemetry-instrumentation-que/v0.1.0/css/full_list.css
  opentelemetry-instrumentation-que/v0.1.0/css/style.css
  opentelemetry-instrumentation-que/v0.1.0/file.CHANGELOG.html
  opentelemetry-instrumentation-que/v0.1.0/file.README.html
  opentelemetry-instrumentation-que/v0.1.0/file_list.html
  opentelemetry-instrumentation-que/v0.1.0/frames.html
  opentelemetry-instrumentation-que/v0.1.0/index.html
  opentelemetry-instrumentation-que/v0.1.0/js/app.js
  opentelemetry-instrumentation-que/v0.1.0/js/full_list.js
  opentelemetry-instrumentation-que/v0.1.0/js/jquery.js
  opentelemetry-instrumentation-que/v0.1.0/method_list.html
  opentelemetry-instrumentation-que/v0.1.0/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentaiton helpers, add rubocop
  instrumentation_helpers/.rubocop.yml
  instrumentation_helpers/CHANGELOG.md
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/instrumentation_options.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/version.rb
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_instrumentation_options_test.rb
  instrumentation_helpers/test/opentelemetry/instrumentation_helpers/http_request_attributes_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

feat: wip instrumentaiton helpers, add rubocop, remove old tests
  .toys/.data/releases.yml
  common/lib/opentelemetry/common/http/request_attributes.rb
  common/test/opentelemetry/common/http/request_attributes_test.rb
  instrumentation/faraday/opentelemetry-instrumentation-faraday.gemspec
  instrumentation/http/opentelemetry-instrumentation-http.gemspec
  instrumentation/http_client/opentelemetry-instrumentation-http_client.gemspec
  instrumentation/net_http/opentelemetry-instrumentation-net_http.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helpers, fix gemfiles attempt
  instrumentation/faraday/Gemfile
  instrumentation/http/Gemfile
  instrumentation/http_client/Gemfile
  instrumentation/net_http/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helpers, fix gemfiles attempt again
  instrumentation/all/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helpers, remove bad requires
  instrumentation/http/lib/opentelemetry/instrumentation/http/patches/client.rb
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helpers, update koala test specs
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: wip instrumentation helpers, update koala for dependancies
  instrumentation/koala/Gemfile
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: OTLP Export Header Format
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Use Kafka::VERSION fallback for compatibility
  docker-compose.yml
  instrumentation/ruby_kafka/README.md
  instrumentation/ruby_kafka/docker-compose.yml
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update website_docs/quick_start.md
  website_docs/quick_start.md
Owners: @signalfx/docs

Update website_docs/manual_instrumentation.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Update website_docs/quick_start.md
  website_docs/quick_start.md
Owners: @signalfx/docs

Update website_docs/manual_instrumentation.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

Update website_docs/quick_start.md
  website_docs/quick_start.md
Owners: @signalfx/docs

fix: Add test cases for invalid headers
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: check logs for errors in tests
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: instrumentation helpers gem, update includes
  instrumentation/http_client/lib/opentelemetry/instrumentation/http_client/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Remove Active Record instantiation patch
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/persistence_class_methods.rb
  instrumentation/active_record/test/instrumentation/active_record/patches/persistence_class_methods_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Remove Active Record instantiation patch (#952)
  instrumentation/active_record/lib/opentelemetry/instrumentation/active_record/patches/persistence_class_methods.rb
  instrumentation/active_record/test/instrumentation/active_record/patches/persistence_class_methods_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: Linter fixes
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: Fail fast draft
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Add JRuby support
  instrumentation/concurrent_ruby/example/concurrent_ruby.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/executor_service.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: Add suport for `Concurrent::Promises::Future`
  instrumentation/concurrent_ruby/example/concurrent_ruby.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/context_composite_executor_service.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/future.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/ruby_executor_service.rb
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
  instrumentation/concurrent_ruby/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Patch to Concurrent::ThreadPoolExecutor, instead of
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/thread_pool_executor.rb
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
  instrumentation/concurrent_ruby/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: PR Feedback
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/otlp/test/.rubocop.yml
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Update the quick start guide (#930)
  examples/otel-collector/.env
  examples/otel-collector/docker-compose.yaml
  examples/otel-collector/otel-collector-config.yaml
  website_docs/_index.md
  website_docs/context_propagation.md
  website_docs/events.md
  website_docs/manual_instrumentation.md
  website_docs/quick_start.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

fix: Use Kafka::VERSION fallback for compatibility (#949)
  docker-compose.yml
  instrumentation/ruby_kafka/README.md
  instrumentation/ruby_kafka/docker-compose.yml
  instrumentation/ruby_kafka/lib/opentelemetry/instrumentation/ruby_kafka/instrumentation.rb
  instrumentation/ruby_kafka/test/opentelemetry/instrumentation/ruby-kafka/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Skip Concurrent::Promises tests
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
  instrumentation/concurrent_ruby/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Fix compatibility issues with opentelemetry.io
  website_docs/_index.md
  website_docs/context_propagation.md
  website_docs/events.md
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

fix: OTLP Export Header Format (#948)
  exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb
  exporter/otlp/opentelemetry-exporter-otlp.gemspec
  exporter/otlp/test/.rubocop.yml
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

docs: Fix compatibility issues with opentelemetry.io (#953)
  website_docs/_index.md
  website_docs/context_propagation.md
  website_docs/events.md
  website_docs/getting_started.md
  website_docs/manual_instrumentation.md
Owners: @signalfx/docs

feat: Add suport for `Concurrent::Promises::Future` (#943)
  instrumentation/concurrent_ruby/example/concurrent_ruby.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/context_composite_executor_service.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/instrumentation.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/future.rb
  instrumentation/concurrent_ruby/lib/opentelemetry/instrumentation/concurrent_ruby/patches/thread_pool_executor.rb
  instrumentation/concurrent_ruby/test/opentelemetry/instrumentation/concurrent-ruby/instrumentation_test.rb
  instrumentation/concurrent_ruby/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

initial commit of generated files for rdkafka instrumentation gem
  .toys/.data/releases.yml
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rdkafka/.rubocop.yml
  instrumentation/rdkafka/.yardopts
  instrumentation/rdkafka/Appraisals
  instrumentation/rdkafka/CHANGELOG.md
  instrumentation/rdkafka/Gemfile
  instrumentation/rdkafka/LICENSE
  instrumentation/rdkafka/README.md
  instrumentation/rdkafka/Rakefile
  instrumentation/rdkafka/lib/opentelemetry-instrumentation-rdkafka.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/instrumentation.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/version.rb
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
  instrumentation/rdkafka/test/.rubocop.yml
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/instrumentation_test.rb
  instrumentation/rdkafka/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

WIP: Starts tests and producer patching
  instrumentation/rdkafka/Appraisals
  instrumentation/rdkafka/Rakefile
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/instrumentation.rb
  instrumentation/rdkafka/lib/opentelemetry/instrumentation/rdkafka/patches/producer.rb
  instrumentation/rdkafka/opentelemetry-instrumentation-rdkafka.gemspec
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/instrumentation_test.rb
  instrumentation/rdkafka/test/opentelemetry/instrumentation/rdkafka/patches/producer_test.rb
  instrumentation/rdkafka/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

wip
  instrumentation/net_http/lib/opentelemetry/instrumentation/net/http/patches/instrumentation.rb
  instrumentation_helpers/lib/opentelemetry/instrumentation_helpers/http/request_attributes.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: fix bsp shutdown return value to match specification
  sdk/CHANGELOG.md
  sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb
  sdk/test/opentelemetry/sdk/trace/export/batch_span_processor_test.rb
Owners: @signalfx/docs, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
