Repository open-telemetry/opentelemetry-ruby, changes with the owners that CODEOWNERS names for each.
All owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @fbogsany @mwear @robertlaurin @dazuma @ericmustin @arielvalentin @ahayworth

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

update tests
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  instrumentation/mysql2/test/opentelemetry/instrumentation/mysql2/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: Sidekiq dependabot warning
  instrumentation/sidekiq/opentelemetry-instrumentation-sidekiq.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Adds example for rdkafka instrumentation
  instrumentation/rdkafka/README.md
  instrumentation/rdkafka/example/rdkafka_trace_demonstration.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix: Sidekiq dependabot warning (#1003)
  instrumentation/sidekiq/opentelemetry-instrumentation-sidekiq.gemspec
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Generate yardocs for opentelemetry-propagator-ottrace 0.19.3
  opentelemetry-propagator-ottrace/v0.19.3/OpenTelemetry.html
  opentelemetry-propagator-ottrace/v0.19.3/OpenTelemetry/Propagator.html
  opentelemetry-propagator-ottrace/v0.19.3/OpenTelemetry/Propagator/OTTrace.html
  opentelemetry-propagator-ottrace/v0.19.3/OpenTelemetry/Propagator/OTTrace/TextMapPropagator.html
  opentelemetry-propagator-ottrace/v0.19.3/_index.html
  opentelemetry-propagator-ottrace/v0.19.3/class_list.html
  opentelemetry-propagator-ottrace/v0.19.3/css/common.css
  opentelemetry-propagator-ottrace/v0.19.3/css/full_list.css
  opentelemetry-propagator-ottrace/v0.19.3/css/style.css
  opentelemetry-propagator-ottrace/v0.19.3/file.CHANGELOG.html
  opentelemetry-propagator-ottrace/v0.19.3/file.README.html
  opentelemetry-propagator-ottrace/v0.19.3/file_list.html
  opentelemetry-propagator-ottrace/v0.19.3/frames.html
  opentelemetry-propagator-ottrace/v0.19.3/index.html
  opentelemetry-propagator-ottrace/v0.19.3/js/app.js
  opentelemetry-propagator-ottrace/v0.19.3/js/full_list.js
  opentelemetry-propagator-ottrace/v0.19.3/js/jquery.js
  opentelemetry-propagator-ottrace/v0.19.3/method_list.html
  opentelemetry-propagator-ottrace/v0.19.3/top-level-namespace.html
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add enum type and update tests with feedback
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: test failures caused by Rails 7 requiring Ruby 2.7.0 or later
  instrumentation/action_pack/Appraisals
  instrumentation/action_view/Appraisals
  instrumentation/rails/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation of Rails 7
  instrumentation/action_pack/Appraisals
  instrumentation/action_pack/gemfiles/rails_6.0.gemfile
  instrumentation/action_pack/gemfiles/rails_6.1.gemfile
  instrumentation/action_pack/gemfiles/rails_7.0.gemfile
  instrumentation/action_pack/test/test_helpers/app_config.rb
  instrumentation/action_view/Appraisals
  instrumentation/action_view/gemfiles/rails_7.0.gemfile
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
  instrumentation/rails/Appraisals
  instrumentation/rails/gemfiles/rails_5.2.gemfile
  instrumentation/rails/gemfiles/rails_6.0.gemfile
  instrumentation/rails/gemfiles/rails_6.1.gemfile
  instrumentation/rails/gemfiles/rails_7.0.gemfile
  instrumentation/rails/test/test_helpers/app_config.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Fix Ethon for Typhoeus::Hydra support (#989)
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/easy.rb
  instrumentation/ethon/lib/opentelemetry/instrumentation/ethon/patches/multi.rb
  instrumentation/ethon/test/opentelemetry/instrumentation/ethon/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

fix: instrumentation of Rails 7 (#993)
  instrumentation/action_pack/Appraisals
  instrumentation/action_pack/gemfiles/rails_6.0.gemfile
  instrumentation/action_pack/gemfiles/rails_6.1.gemfile
  instrumentation/action_pack/gemfiles/rails_7.0.gemfile
  instrumentation/action_pack/test/test_helpers/app_config.rb
  instrumentation/action_view/Appraisals
  instrumentation/action_view/gemfiles/rails_7.0.gemfile
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/span_subscriber.rb
  instrumentation/rails/Appraisals
  instrumentation/rails/gemfiles/rails_5.2.gemfile
  instrumentation/rails/gemfiles/rails_6.0.gemfile
  instrumentation/rails/gemfiles/rails_6.1.gemfile
  instrumentation/rails/gemfiles/rails_7.0.gemfile
  instrumentation/rails/test/test_helpers/app_config.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema url, implement feedback, update merge behavior for resources to match spec
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
  sdk/lib/opentelemetry/sdk/resources/resource.rb
  sdk/test/opentelemetry/sdk/resources/resource_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url, remove default resource schema url
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  sdk/lib/opentelemetry/sdk/resources/resource.rb
  sdk/test/opentelemetry/sdk/resources/resource_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url, update merge behavior
  sdk/lib/opentelemetry/sdk/resources/resource.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add schema_url, update exporter test for nil resource schema_url
  exporter/otlp/test/opentelemetry/exporter/otlp/exporter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Feat: Add custom getters to common
  common/lib/opentelemetry/common.rb
  common/lib/opentelemetry/common/propagation.rb
  common/lib/opentelemetry/common/propagation/rack_env_getter.rb
  common/lib/opentelemetry/common/propagation/symbol_key_getter.rb
  common/test/opentelemetry/common/propagation/rack_env_getter_test.rb
  common/test/opentelemetry/common/propagation/symbol_key_getter_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore(http): add example
  instrumentation/http/example/trace_demonstration.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add enum support to instrumentation base
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/rack/lib/opentelemetry/instrumentation/rack/instrumentation.rb
  instrumentation/redis/lib/opentelemetry/instrumentation/redis/instrumentation.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat(aws_sdk): create aws_sdk instrumentation
  .toys/.data/releases.yml
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/aws_sdk/.rubocop.yml
  instrumentation/aws_sdk/.yardopts
  instrumentation/aws_sdk/Appraisals
  instrumentation/aws_sdk/CHANGELOG.md
  instrumentation/aws_sdk/Gemfile
  instrumentation/aws_sdk/LICENSE
  instrumentation/aws_sdk/Rakefile
  instrumentation/aws_sdk/example/Gemfile
  instrumentation/aws_sdk/example/trace_demonstration.rb
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.0.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.1.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.10.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.11.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.2.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.3.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.4.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.5.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.6.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.7.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.8.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_2.9.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_3.0.gemfile
  instrumentation/aws_sdk/gemfiles/aws_sdk_3.1.gemfile
  instrumentation/aws_sdk/lib/opentelemetry-instrumentation-aws_sdk.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/services.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/subscriber.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/version.rb
  instrumentation/aws_sdk/opentelemetry-instrumentation-aws_sdk.gemspec
  instrumentation/aws_sdk/test/.rubocop.yml
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
  instrumentation/aws_sdk/test/test_helper.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs

coding standards
  instrumentation/aws_sdk/example/trace_demonstration.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add http instrumentation example (#1005)
  instrumentation/http/example/trace_demonstration.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

Update README.md
  instrumentation/active_support/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update README.md
  instrumentation/active_support/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: move activesupport notification subsciber out of action_view gem (#933)
  .toys/.data/releases.yml
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/instrumentation.rb
  instrumentation/action_view/lib/opentelemetry/instrumentation/action_view/railtie.rb
  instrumentation/action_view/opentelemetry-instrumentation-action_view.gemspec
  instrumentation/active_support/.rubocop.yml
  instrumentation/active_support/.yardopts
  instrumentation/active_support/Appraisals
  instrumentation/active_support/CHANGELOG.md
  instrumentation/active_support/Gemfile
  instrumentation/active_support/LICENSE
  instrumentation/active_support/README.md
  instrumentation/active_support/Rakefile
  instrumentation/active_support/example/Gemfile
  instrumentation/active_support/example/trace_demonstration.rb
  instrumentation/active_support/gemfiles/rails_5.2.gemfile
  instrumentation/active_support/gemfiles/rails_6.0.gemfile
  instrumentation/active_support/gemfiles/rails_6.1.gemfile
  instrumentation/active_support/lib/opentelemetry-instrumentation-active_support.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/instrumentation.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/span_subscriber.rb
  instrumentation/active_support/lib/opentelemetry/instrumentation/active_support/version.rb
  instrumentation/active_support/opentelemetry-instrumentation-active_support.gemspec
  instrumentation/active_support/test/.rubocop.yml
  instrumentation/active_support/test/opentelemetry/instrumentation/active_support/instrumentation_test.rb
  instrumentation/active_support/test/opentelemetry/instrumentation/active_support/span_subscriber_test.rb
  instrumentation/active_support/test/test_helper.rb
  instrumentation/all/Gemfile
  instrumentation/all/lib/opentelemetry/instrumentation/all.rb
  instrumentation/all/opentelemetry-instrumentation-all.gemspec
  instrumentation/rails/Gemfile
  instrumentation/rails/lib/opentelemetry/instrumentation/rails.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

add empty readme file
  instrumentation/aws_sdk/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

temp: run ci action on forks
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

add readme. add webrick gem
  instrumentation/aws_sdk/Gemfile
  instrumentation/aws_sdk/README.md
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

feat: add tests for boolean env var support and log when a callable gets set unsuccessfully via env var
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
  instrumentation/base/test/instrumentation/base_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add env var support improve log formatting
  instrumentation/base/lib/opentelemetry/instrumentation/base.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: updating gh ci to older image
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: updating gh ci to 6.2 image
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: gh dont use bitnami image use redis vanilla image
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: use bitnami redis again
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

test: dont merge
  .github/workflows/ci.yml
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: fix tests for sidekiq to support inline lua changes to redis calls
  instrumentation/sidekiq/test/opentelemetry/instrumentation/sidekiq/patches/poller_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: add additional sidekiq appraisal
  instrumentation/sidekiq/Appraisals
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

chore: fix tests for sidekiq to support inline lua changes (#1011)
  instrumentation/sidekiq/Appraisals
  instrumentation/sidekiq/test/opentelemetry/instrumentation/sidekiq/patches/poller_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

release: Release opentelemetry-instrumentation-active_support 0.1.0
  instrumentation/active_support/CHANGELOG.md
Owners: @signalfx/docs

aws_sdk - fix require specific aws service
  instrumentation/aws_sdk/example/trace_demonstration.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/test/opentelemetry/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

merge seahorse plugin to same file with handler
  instrumentation/aws_sdk/README.md
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/handler.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/instrumentation.rb
  instrumentation/aws_sdk/lib/opentelemetry/instrumentation/aws_sdk/subscriber.rb
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth

feat: add dalli obfuscation for db_statement
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/instrumentation.rb
  instrumentation/dalli/lib/opentelemetry/instrumentation/dalli/patches/server.rb
  instrumentation/dalli/test/opentelemetry/instrumentation/dalli/instrumentation_test.rb
Owners: @fbogsany, @mwear, @robertlaurin, @dazuma, @ericmustin, @arielvalentin, @ahayworth
